<template>

  <div class="page page-with-subnavbar" data-name="get-started" >


    <div class="page-content">

      ${hasProvider ? $h`

        <div class="card card-header-divider  card-outline">
          <div class="card-header">Create & Draft Team</div>
          <div class="card-content card-content-padding">

            <ol>
              <li>Click the "Draft Team" button.</li>
              <li>Confirm the transaction in your wallet.</li>
              <li>A few minutes after the transaction is confirmed on-chain the players and team will be generated and will be available on your roster.</li>
            </ol>


            <p>
              You will receive one player at each position:
            </p>


            <ul>
              <li>🧢 Catcher</li>
              <li>🧢 First Base</li>
              <li>🧢 Second Base</li>
              <li>🧢 Third Base</li>
              <li>🧢 Shortstop</li>
              <li>🧢 Left Field</li>
              <li>🧢 Center Field</li>
              <li>🧢 Right Field</li>
            </ul>
            
            You will also receive: 
            
            <ul>
              <li>5 🧢 Pitchers.</li>
            </ul>

            <p>
              Team names are randomly generated in the format "Adjective Adjective Noun" like "Winged Scented Nexus" or "Fickle Prudent Labourer".
              If the system generates an inappropriate team name let us know in Discord and we'll have a new name generated.
            </p>

            <p>
              <strong>Note:</strong> The players generated can be freely traded to other wallets, but the team itself is locked to the wallet that creates it and can not be transferred.
            </p>

            <hr />

            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Draft with</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                      <select @change="${draftTokenTeamChange}">
                        <option value="ETH">ETH</option>
                        <option value="diamonds">Diamonds</option>
                      </select>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                            <strong>Total:</strong> ${ethers.formatUnits(draftFeeTeam)} ETH
                          </div>
                      </div>
                  </div>
                </li>
              </ul>
            </div>

            <hr />

            <p>
              <button class="button button-fill draft-button" @click="${draftTeamButtonClicked}">Draft Team</button>
            </p>

          </div>

        </div>

        <div class="card card-header-divider card-outline">
          <div class="card-header">Draft Individual Player</div>
          <div class="card-content card-content-padding">

            <ol>
              <li>Choose a defensive position.</li>
              <li>Click the "Draft Player" button.</li>
              <li>Confirm the transaction in your wallet.</li>
              <li>A few minutes after the transaction is confirmed on-chain a player will be generated and will be available on your roster.</li>
              <li><strong>You must first have a team for the player to play on.</strong></li>
            </ol>

            <div class="list list-outline list-dividers">
              <ul>
                <li>
                  <!-- Additional "smart-select" class -->
                  <a href="#" class="item-link smart-select">
                    <select name="position" id="position-selector" @change="${positionChange}">
                      ${positions.map( p => $h`<option value=${p}>${playerWebService.getPositionFull(p)}</option>`)}
                    </select>
                    <div class="item-content">
                      <div class="item-inner">
                        <!-- Select label -->
                        <div class="item-title">Position</div>
                        <!-- Selected value, not required -->
                        <div class="item-after">${positionLabel}</div>
                      </div>
                    </div>
                  </a>
                </li>

              </ul>
            </div>

            <p>
              <strong>Total:</strong> ${getTotal()}
            </p>

            <p>
              <button class="button button-fill draft-button" @click="${draftPlayerButtonClicked}">Draft ${positionLabel}</button>
            </p>

          </div>

        </div>

        ` : $h`

        <div class="card">
          <div class="card-content card-content-padding">
            Use a wallet-enabled browser to draft players and teams.
          </div>
        </div>

      `}

    </div>

  </div>

</template>

<style>
  .total strong {
    width: 75px;
    display: inline-block;
  }
</style>

<script>


  import Navbar from "./common/navbar.f7.html"
  import Toolbar from "./common/toolbar.f7.html"

  import dayjs from "dayjs"
  import { ethers } from "ethers"

  import { UniverseWebService } from "../service/universe-web-service.ts"
  import { UniverseContractService } from "../../service/universe-contract-service.ts"
  import { ContainerService } from "../../service/container-service.ts"
  import { QueueService } from "../../service/queue-service.ts"
  import { PlayerWebService } from "../service/player-web-service.ts"

  import { setDiamondsAddress, setFees, setUniverseAddress } from "../inversify.config.js"


  import { Position } from "../../service/enums.js"

  export default (props, { $on, $, $f7, $update }) => {

    let universeContractService = ContainerService.getInstance(UniverseContractService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let queueService = ContainerService.getInstance(QueueService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)

    let walletService = ContainerService.getInstance('WalletService')
    let eventTarget = ContainerService.getInstance("eventTarget")
    let getFees = ContainerService.getInstance("getFees")


    let positions = Object.values(Position)

    let positionLabel = playerWebService.getPositionFull(positions[0])

    let hasProvider

    let lastTransaction = []

    let draftToken = "ETH"
    
    let draftFee
    let draftFeeTeam

    let total = BigInt("0")


    const getTotal = (e) => {
      return `${ethers.formatUnits(draftFee)} ETH`
    }

    const draftTokenTeamChange = (e) => {
      console.log(e)
    }

    const positionChange = (e) => {
      positionLabel = playerWebService.getPositionFull($('#position-selector').val())
      $update()
    }

    $on('pageInit', async (e) => {

      eventTarget.addEventListener('connect', async (e) => {
        hasProvider = true
        await $update()
      })

      hasProvider = walletService.provider != undefined

      let env = ContainerService.getInstance("env")

      setDiamondsAddress(env.DIAMONDS_ADDRESS)
      setUniverseAddress(env.UNIVERSE_ADDRESS)

      setFees({
          draftFee: BigInt(env.DRAFT_FEE),
          draftFeeTeam: BigInt(env.DRAFT_FEE_TEAM)
      })

      let fees = getFees()

      draftFee = fees.draftFee
      draftFeeTeam = fees.draftFeeTeam

      await $update()

      $f7.preloader.hide()

    })

    $on('pageBeforeIn', async (e) => {

      eventTarget.dispatchEvent(new CustomEvent('main-nav', {
          detail: {
              tabLink: "/players",
              breadcrumbs: [{ text: "Draft" }]
          }
      }))



    })


    const draftPlayerButtonClicked = async (e) => {

      $f7.preloader.showIn('.mint-detail')

      await walletService.connect()

      let mintFunction = universeContractService.draft(walletService.address, positions.indexOf($('#position-selector').val()) + 1, { value: draftFee })

      let promiseView = {
        title: `Drafting a player. Approve transaction and wait for it to be mined.`,
        promise: mintFunction
      }

      //Wait for it to be mined
      try {

        let tx = await queueService.queuePromiseView(promiseView)

        await tx.wait()

        $f7.dialog.alert(`Successfully drafted a player. It can take a few minutes for the player to show up on your roster. `, "Success!")

      } catch (ex) {
        console.log(ex)
        $f7.dialog.alert(ex.message, "There was an error")
      }

      await $update()

      $f7.preloader.hideIn('.mint-detail')

    }


    const draftTeamButtonClicked = async (e) => {

      $f7.preloader.showIn('.mint-detail')

      await walletService.connect()

      let mintFunction = universeContractService.draftTeam(walletService.address, { value: draftFeeTeam })

      let promiseView = {
        title: `Drafting a full team. Approve transaction and wait for it to be mined.`,
        promise: mintFunction
      }

      //Wait for it to be mined
      try {

        let tx = await queueService.queuePromiseView(promiseView)

        await tx.wait()

        $f7.dialog.alert(`Successfully drafted a team. It can take a few minutes for the team to show up on your roster.`, "Success!")

      } catch (ex) {
        console.log(ex)
        $f7.dialog.alert(ex.message, "There was an error")
      }

      await $update()

      $f7.preloader.hideIn('.mint-detail')

    }


    return $render
  }
</script>