<template>

  <div>

    <div class="paging">
      Showing ${pagingService.startIndex(PAGE_SIZE, currentPage) + 1}-${Math.min(pagingService.endIndex(PAGE_SIZE, currentPage) + 1, displayHitters.length)}.
      <slot></slot>
    </div>

    <div class="stat-table-wrapper">
      <table class="data-table players ${actions ? $h`actions`: $h` `}">
        <thead>
          <tr>
            ${actions ? $h`<th class="action"></th>` : $h` `}     
            <th class="image"></th>
            <th @click=${sortHitters} data-sort="fullName" class="name">Name</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="overallRating_pct">OVR</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="age">Age</th>
            <th @click=${sortHitters} data-sort="throws">Throws</th>
            <th @click=${sortHitters} data-sort="hits">Bats</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.defense">DEF</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.arm">ARM</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.speed">SPD</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.steals">STL</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="hittingRatings.contactProfile.groundball">GB</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="hittingRatings.contactProfile.flyBall">FB</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="hittingRatings.contactProfile.lineDrive">LD</th>
            <th class="handed-label">vsR</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsR.plateDiscipline">EYE</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsR.contact">CON</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsR.gapPower">GAP</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsR.homerunPower">HR</th>
            <th class="handed-label">vsL</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsL.plateDiscipline">EYE</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsL.contact">CON</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsL.gapPower">GAP</th>
            <th @click=${sortHitters} class="numeric-cell" data-sort="percentileRatings.hittingRatings.vsL.homerunPower">HR</th>

    
          </tr>
        </thead>
        <tbody>
          ${displayHitters?.length > 0 ? $h`
    
            ${displayHitters?.map( (p,index) => $h`
              <tr>

                ${actions ? $h`
                  <td class="action">
                    ${actions.showMove(p) ? $h`
                      <a @click="${actions.move}" class="button button-outline button-move" data-id="${p._id}" data-position="${p.primaryPosition}" data-action-row="hitter-ratings" data-move-target="${actions.moveTarget}" data-is-move-target="${actions.isMoveTarget}" data-spot="${index}">${actions.moveText(p)}</a>  
                    ` : $h` `}
                  </td>
                ` : $h` `}


                <td class="image">
                  ${p?._id ? $h`<img src="/player/image/${p._id}" width="25" height="25" />` : $h`<span />`}
                </td>


                <td class="name">

                  ${p?._id || p?.primaryPosition ? $h`

                    ${p?._id ? $h`
                      <a href="${universeWebService.startDateLink(`/p/${p._id}`)}">${p.fullName}</a><br />
                    ` : $h` 
                      ${p?.fullName ? $h`${p?.fullName}<br />` : $h` `}
                    `}
  
                    ${p.team?.abbrev ? $h`<a href="${universeWebService.startDateLink(`/t/${p.team?.tokenId}`)}" class="position">${p.team?.cityName} (${p.team?.abbrev})</a> - ` : $h`<span />`}<span class="position">${p.primaryPosition}</span>

                  ` : $h` `}
                </td>

                <td class="numeric-cell">${p?.percentileRatings?.overallRating_pct?.toFixed(1)}</td>
                <td class="numeric-cell">${p?.age}</td>
                <td>${p?.throws}</td>
                <td>${p?.hits}</td>

                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.defense}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.arm}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.speed}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.steals}</td>
                <td class="numeric-cell">${statService.displayPercent(p?.hittingRatings?.contactProfile?.groundball / 1000)}</td>
                <td class="numeric-cell">${statService.displayPercent(p?.hittingRatings?.contactProfile?.flyBall / 1000)}</td>
                <td class="numeric-cell">${statService.displayPercent(p?.hittingRatings?.contactProfile?.lineDrive / 1000)}</td>
                
                <td class="handed-label" ></td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsR?.plateDiscipline}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsR?.contact}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsR?.gapPower}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsR?.homerunPower}</td>
                
                <td class="handed-label" ></td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsL?.plateDiscipline}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsL?.contact}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsL?.gapPower}</td>
                <td class="numeric-cell">${p?.percentileRatings?.hittingRatings?.vsL?.homerunPower}</td>


            </tr>
            `)}

            <!-- ${actions?.drop ? $h`
              <tr class="action-row hitter-ratings" style="display:none;">
                <td colspan="3">
                  <a @click=${actions.drop} class="drop-button button button-outline color-red" data-action-row="hitter-ratings" data-move-target="${actions.moveTarget}">Drop</div>
                </td>
                <td colspan="23"></td>
              </tr>
            ` : $h` `} -->

    
          ` : $h`
          <tr>
            <td colspan="23">No hitters on roster.</td>
          </tr>
    
          `}
        </tbody>
      </table>
    </div>

  </div>




</template>

<style>


</style>

<script>


  import { ContainerService } from "../../../service/container-service"
  import { StatService } from "../../../service/stat-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"
  import { PagingService } from "../../../service/paging-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  export default (props, { $, $on, $f7, $update }) => {

    let statService = ContainerService.getInstance(StatService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)
    let pagingService = ContainerService.getInstance(PagingService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let currentPage = 0

    let actions

    if (props.actions) {
      actions = props.actions()
    }


    const moveFilter = props.movefilter
    const sortable = props.sortable == "true"

    const PAGE_SIZE = props.pagesize

    let displayHitters = props.hitters

    const sortHitters = (e) => {

        if (sortable) {

        }

    }

    return $render
  }
</script>