<template>

  <div class="page page-with-subnavbar" data-name="player-index">

    <div class="page-content">

      <div class="fixed-width-content center">

        <${StartDate} />

        ${player ? $h`

          <div class="list media-list list-outline-ios list-strong player-info">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                        <span class="icon"> 
                          <img style="border-radius: 50%; border: 1px solid #cccccc;" src="/player/image/${player._id}" width="56" height="56" /> 
                          <span class="badge ${playerWebService.getRatingBadgeColor(player.overallRating)} overall-badge">
                            ${playerWebService.ratingToGrade(player.overallRating)}
                          </span> 
                        </span>
                  </div>

                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">${player.fullName}</div>

                    </div>

                    <div class="item-text">

                      <div class="chip">
                        <div class="chip-media background-color-gray">${player.primaryPosition}</div>
                        <div class="chip-label">Position</div>
                      </div>

                      <div class="chip">
                        <div class="chip-media background-color-gray">${player.age}</div>
                        <div class="chip-label">Age</div>
                      </div>

                      <div class="chip">
                        <div class="chip-media background-color-gray">${player.hits}</div>
                        <div class="chip-label">Hits</div>
                      </div>

                      
                      <div class="chip">
                        <div class="chip-media background-color-gray">${player.throws}</div>
                        <div class="chip-label">Throws</div>
                      </div>

                      <div class="chip">
                        <div class="chip-label">${player.zodiacSign}</div>
                      </div>
                      
                    </div>

                  </div>
                </div>
              </li>
            
              <li>
                <div class="item-content">

                  <div class="item-inner">

                    ${player.askingPrice ? $h`
                      <div class="item-text">
                        Cost: ${universeWebService.displayDiamonds(player.askingPrice)}
                      </div>
                    ` : $h` `}

                    ${showInsufficientDiamonds ? $h`
                      <div class="item-text">
                        Your team does not have enough diamonds to sign this player.
                      </div>
                    ` : $h` `}

                    ${showInsufficientDiamondsToDrop ? $h`
                      <div class="item-text">
                        You need a balance of at least ${universeWebService.displayDiamonds(player.minimumPlayerSalary)} to drop a player.
                      </div>
                    ` : $h` `}

                  </div>
                </div>
              </li>


            </ul>
          </div>



        <div class="block-title block-title-medium">Experience</div>
        <div class="block block-outline block-strong">

          <div class="display-flex align-items-center justify-content-space-between" style="gap:12px; margin-bottom:8px;">

            <div class="chip">
              <div class="chip-media bg-color-blue">LVL</div>
              <div class="chip-label">
                ${playerWebService.getDisplayLevel(BigInt(player.totalExperience))}
              </div>
            </div>

            <div
              class="progressbar"
              data-progress="${playerWebService.getDisplayLevelProgress(BigInt(player.totalExperience))}">
            </div>

            <div class="text-color-gray">
              ${playerWebService.getDisplayLevel(BigInt(player.totalExperience))}/100
            </div>

          </div>

          ${playerWebService.getDisplayLevel(BigInt(player.totalExperience)) < 100 ? $h`
            <div class="text-color-gray" style="font-size:14px;">
              ${formatBigInt(BigInt(player.totalExperience))} / ${formatBigInt(playerWebService.getNextLevelExperience(BigInt(player.totalExperience)))} XP to Level ${playerWebService.getNextDisplayLevel(BigInt(player.totalExperience))}
            </div>
          ` : $h`
            <div class="text-color-green" style="font-size:14px;">
              Max Level Reached
            </div>
          `}
        </div>









          ${player.primaryPosition == Position.PITCHER ? $h`
            
            <div class="block-title block-title-small">Pitching Ratings</div>

            <div class="list list-outline-ios list-strong-ios list-dividers-ios ratings-list">
              <ul>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      
                      <div class="item-title">
                        Overall
                      </div>
                      <div class="item-after">                  
                        ${chip("OVR", showPotential ? player?.potentialOverallRaing : player?.overallRating)}
                      </div>
                    </div>
                  </div>
                </li>


                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        Power
                      </div>
                      <div class="item-after">                  
                        ${chip("POW", showPotential ? player?.potentialPitchRatings?.power :  player?.pitchRatings?.power)}
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        vsR
                      </div>
                      <div class="item-after">                  
                        ${chip("CTL", showPotential ? player?.potentialPitchRatings?.vsR?.control :  player?.pitchRatings?.vsR?.control)}
                        ${chip("MOV", showPotential ? player?.potentialPitchRatings?.vsR?.movement : player?.pitchRatings?.vsR?.movement)}
                      </div>
                    </div>
                  </div>
                </li>


                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        vsL
                      </div>
                      <div class="item-after">                  
                        ${chip("CTL", showPotential ? player?.potentialPitchRatings?.vsL?.control : player?.pitchRatings?.vsL?.control)}
                        ${chip("MOV", showPotential ? player?.potentialPitchRatings?.vsL?.movement : player?.pitchRatings?.vsL?.movement)}
                      </div>
                    </div>
                  </div>
                </li>


                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        Contact
                      </div>
                      <div class="item-after">                  
                        ${textChip("GB", statService.displayPercent(player?.pitchRatings?.contactProfile?.groundball / 1000), 'color-red')}
                        ${textChip("FB", statService.displayPercent(player?.pitchRatings?.contactProfile?.flyBall / 1000), 'color-blue')}
                        ${textChip("LD", statService.displayPercent(player?.pitchRatings?.contactProfile?.lineDrive / 1000), 'color-green')}
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        Pitches
                      </div>
                      <div class="item-after">                  
                        
                        ${player.pitchRatings.pitches?.map( p => $h`

                          <div class="chip">
                            <div class="chip-label">${playerWebService.getPitchTypeFull(p)}</div>
                          </div>                          
                          
                        `) }
                        
                      </div>
                    </div>
                  </div>
                </li>
                
                ${player.age < 27 ? $h`
                  <li>
                    <label class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Potential</div>
                        <div class="item-after">
                          <div class="toggle toggle-init" @change="${potentialChange}">
                            <input type="checkbox" />
                            <span class="toggle-icon"></span>
                          </div>
                        </div>
                      </div>
                    </label>
                  </li>
                ` : $h``}

              </ul>
            </div>

          ` : $h` `}

          ${player.primaryPosition != Position.PITCHER ? $h`
            
            <div class="block-title block-title-small">Hitting Ratings</div>

            <div class="list list-outline-ios list-strong-ios list-dividers-ios ratings-list">
              <ul>

                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        Overall
                      </div>
                      <div class="item-after">                  
                        ${chip("OVR", showPotential ? player?.potentialOverallRating : player?.overallRating)}
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        Core
                      </div>
                      <div class="item-after">                  
                        ${chip("DEF", showPotential ? player?.potentialHittingRatings?.defense : player?.hittingRatings?.defense)}
                        ${chip("ARM", showPotential ? player?.potentialHittingRatings?.arm : player?.hittingRatings?.arm)}
                        ${chip("SPD", showPotential ? player?.potentialHittingRatings?.speed : player?.hittingRatings?.speed)}
                        ${chip("STL", showPotential ? player?.potentialHittingRatings?.steals : player?.hittingRatings?.steals)}
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        vsR
                      </div>
                      <div class="item-after">                  
                        ${chip("EYE", showPotential ? player?.potentialHittingRatings?.vsR?.plateDiscipline : player?.hittingRatings?.vsR?.plateDiscipline)}
                        ${chip("CON", showPotential ? player?.potentialHittingRatings?.vsR?.contact : player?.hittingRatings?.vsR?.contact)}
                        ${chip("GAP", showPotential ? player?.potentialHittingRatings?.vsR?.gapPower : player?.hittingRatings?.vsR?.gapPower)}
                        ${chip("HR",  showPotential ? player?.potentialHittingRatings?.vsR?.homerunPower : player?.hittingRatings?.vsR?.homerunPower)}
                      </div>
                    </div>
                  </div>
                </li>


                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        vsL
                      </div>
                      <div class="item-after">                  
                        ${chip("EYE", showPotential ? player?.potentialHittingRatings?.vsL?.plateDiscipline : player?.hittingRatings?.vsL?.plateDiscipline)}
                        ${chip("CON", showPotential ? player?.potentialHittingRatings?.vsL?.contact : player?.hittingRatings?.vsL?.contact)}
                        ${chip("GAP", showPotential ? player?.potentialHittingRatings?.vsL?.gapPower : player?.hittingRatings?.vsL?.gapPower)}
                        ${chip("HR",  showPotential ? player?.potentialHittingRatings?.vsL?.homerunPower : player?.hittingRatings?.vsL?.homerunPower)}
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">
                        Contact
                      </div>
                      <div class="item-after">                  
                        ${textChip("GB", statService.displayPercent(player?.hittingRatings?.contactProfile?.groundball / 1000), 'color-red')}
                        ${textChip("FB", statService.displayPercent(player?.hittingRatings?.contactProfile?.flyBall / 1000), 'color-blue')}
                        ${textChip("LD", statService.displayPercent(player?.hittingRatings?.contactProfile?.lineDrive / 1000) , 'color-green')}
                      </div>
                    </div>
                  </div>
                </li>

                ${player.age < 27 ? $h`
                  <li>
                    <label class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Potential</div>
                        <div class="item-after">
                          <div class="toggle toggle-init" @change="${potentialChange}">
                            <input type="checkbox" />
                            <span class="toggle-icon"></span>
                          </div>
                        </div>
                      </div>
                    </label>
                  </li>
                ` : $h``}


              </ul>
            </div>

          ` : $h` `}




          ${showActions ? $h`
              <div class="block-title block-title-small">Team Actions</div>
              <div class="list media-list list-outline-ios list-strong-ios list-dividers-ios">
                  <ul>

                    ${player.team?.isQueued ? $h`

                      <li>
                          <a class="item-link item-content">
                              <div class="item-media">🏟️</div>

                              <div class="item-inner">
                                  <div class="item-title-row">
                                  <div class="item-title">
                                      Your team is queued.
                                  </div>
                                  </div>

                                  <div class="item-text">
                                  Rosters are locked while in the queue.
                                  </div>

                              </div>
                          </a>
                      </li>

                    ` : $h` 
                    
                      ${showDrop ? $h`

                        <li>
                          <a class="item-link item-content popup-open" data-popup=".drop-popup">
                            <div class="item-media">⛔</div>
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">
                                  Drop Player
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>

                      ` : $h` `}

                      ${showSign ? $h`

                          <li>
                            <a class="item-link item-content popup-open" data-popup=".sign-popup">
                              <div class="item-media">➕</div>
                              <div class="item-inner">
                                <div class="item-title-row">
                                  <div class="item-title">
                                    Add Player
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>

                      ` : $h` `}
              
                    
                    `}

                  </ul>
              </div>
          ` : $h` `}



          <div class="block-title block-title-small">Career Stats</div>
          <div class="block block-outline block-strong">
            <div class="stat-table-wrapper">
              ${player.primaryPosition != "P" ? $h`
                <table class="data-table small">
                  <thead>
                    <tr>
                      <th></th>
                      <th>G</th>
                      <th>AB</th>
                      <th>H</th>
                      <th>2B</th>
                      <th>3B</th>
                      <th>HR</th>
                      <th>R</th>
                      <th>RBI</th>
                      <th>SB</th>
                      <th>AVG</th>
                      <th>OBP</th>
                      <th>SLG</th>
                      <th>OPS</th>
                      <th>WPA</th>
                    </tr>
                  </thead>
                  <tbody>
                    ${player.careerHitterStats.pa > 0 ? $h`
                      <tr>
                        <td>Career</td>
                        <td>${ player.careerHitterStats.games }</td>
                        <td>${ player.careerHitterStats.atBats }</td>
                        <td>${ player.careerHitterStats.hits }</td>
                        <td>${ player.careerHitterStats.doubles }</td>
                        <td>${ player.careerHitterStats.triples }</td>
                        <td>${ player.careerHitterStats.homeRuns }</td>
                        <td>${ player.careerHitterStats.runs }</td>
                        <td>${ player.careerHitterStats.rbi }</td>
                        <td>${ player.careerHitterStats.sb }</td>
                        <td>${ statService.formatRatio(player.careerHitterStats?.avg) }</td>
                        <td>${ statService.formatRatio(player.careerHitterStats?.obp) }</td>
                        <td>${ statService.formatRatio(player.careerHitterStats?.slg) }</td>
                        <td>${ statService.formatRatio(player.careerHitterStats?.ops) }</td>
                        <td>${ player.careerHitterStats.wpa?.toFixed(2) }</td>
                      </tr>
                    ` : $h`
                    <tr>
                      <td colspan="15">No games played.</td>
                    </tr>
                    `}
                  </tbody>

                </table>
              ` : $h`
                <table class="data-table small">
                  <thead>
                    <tr>
                      <th>W</th>
                      <th>L</th>
                      <th>GS</th>
                      <th>IP</th>
                      <th>ERA</th>
                      <th>AB</th>
                      <th>PA</th>
                      <th>R</th>
                      <th>ER</th>
                      <th>HR</th>
                      <th>BB</th>
                      <th>SO</th>
                      <th>HBP</th>
                      <th>WPA</th>
                    </tr> 
                  </thead>
                  
                  <tbody>

                    ${player.careerPitcherStats.battersFaced > 0 ? $h`
                        <tr>
                          <td>${ player.careerPitcherStats?.wins }</td>
                          <td>${ player.careerPitcherStats?.losses }</td>
                          <td>${ player.careerPitcherStats?.starts }</td>
                          <td>${ player.careerPitcherStats?.ip }</td>
                          <td>${ player.careerPitcherStats?.era.toFixed(2) }</td>
                          <td>${ player.careerPitcherStats?.atBats }</td>
                          <td>${ player.careerPitcherStats?.battersFaced }</td>
                          <td>${ player.careerPitcherStats?.runs }</td>
                          <td>${ player.careerPitcherStats?.er }</td>
                          <td>${ player.careerPitcherStats?.homeRuns }</td>
                          <td>${ player.careerPitcherStats?.bb }</td>
                          <td>${ player.careerPitcherStats?.so }</td>
                          <td>${ player.careerPitcherStats?.hbp }</td>
                          <td>${ player.careerPitcherStats.wpa?.toFixed(2) }</td>
                        </tr>
                    ` : $h`
                      <tr>
                        <td colspan="13">No games played.</td>
                      </tr>
                    `}

                  </tbody>
                </table>
              `} 
            </div>
          </div>

          <div class="block-title block-title-small">Season Stats</div>
          <div class="block block-outline block-strong">
            <div class="stat-table-wrapper">

              ${player.primaryPosition != "P" ? $h`
                <table class="data-table small">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Age</th>
                      <th>Year</th>
                      <th>G</th>
                      <th>PA</th>
                      <th>AB</th>
                      <th>R</th>
                      <th>H</th>
                      <th>2B</th>
                      <th>3B</th>
                      <th>HR</th>
                      <th>RBI</th>
                      <th>SB</th>
                      <th>CS</th>
                      <th>BB</th>
                      <th>SO</th>
                      <th>AVG</th>
                      <th>OBP</th>
                      <th>SLG</th>
                      <th>OPS</th>
                      <th>WPA</th>
                    </tr>
                  </thead>
                  <tbody>

                    ${player.careerSeasonsHitterStats?.length > 0 ? $h`

                    ${player.careerSeasonsHitterStats?.map( hitResult => $h`
                      <tr>
                        <td><a href="/t/index/${ hitResult.team._id }?startDate=${dayjs(hitResult.season.startDate).format('YYYY-MM-DD')}" class="link">${ hitResult.team.name }</a></td>
                        <td>${ hitResult.age }</td>
                        <td>${ dayjs(hitResult.season.startDate).format("YYYY-MM") }</td>
                        <td>${ hitResult.games }</td>
                        <td>${ hitResult.pa }</td>
                        <td>${ hitResult.atBats }</td>
                        <td>${ hitResult.runs }</td>
                        <td>${ hitResult.hits }</td>
                        <td>${ hitResult.doubles }</td>
                        <td>${ hitResult.triples }</td>
                        <td>${ hitResult.homeRuns }</td>
                        <td>${ hitResult.rbi }</td>
                        <td>${ hitResult.sb }</td>
                        <td>${ hitResult.cs }</td>
                        <td>${ hitResult.bb }</td>
                        <td>${ hitResult.so }</td>
                        <td>${ formatRatio(hitResult.avg) }</td>
                        <td>${ formatRatio(hitResult.obp) }</td>
                        <td>${ formatRatio(hitResult.slg) }</td>
                        <td>${ formatRatio(hitResult.ops) }</td>
                        <td>${ hitResult.wpa?.toFixed(2) }</td>
                      </tr>

                    `)}

                    ` : $h`
                    <tr>
                      <td style="text-align:left;" colspan="20">No games played.</td>
                    </tr>
                    `}

                  </tbody>
                </table>
              ` : $h`
                <table class="data-table small">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Age</th>
                      <th>Year</th>
                      <th>GS</th>
                      <th>W</th>
                      <th>L</th>
                      <th>IP</th>
                      <th>H</th>
                      <th>R</th>
                      <th>ER</th>
                      <th>HR</th>
                      <th>BB</th>
                      <th>SO</th>
                      <th>HBP</th>
                      <th>BF</th>
                      <th>ERA</th>
                      <th>WPA</th>
                    </tr>
                  </thead>
                  <tbody>

                    ${player.careerSeasonsPitcherStats?.length > 0 ? $h`

                    ${player.careerSeasonsPitcherStats?.map( pitchResult => $h`
                      <tr>
                        <td><a href="/t/index/${ pitchResult.team._id }?startDate=${dayjs(pitchResult.season.startDate).format('YYYY-MM-DD')}">${ pitchResult.team.name }</a></td>
                        <td>${ pitchResult.age }</td>
                        <td>${ dayjs(pitchResult.season.startDate).format("YYYY-MM") }</td>

                        <td>${ pitchResult.starts }</td>
                        <td>${ pitchResult.wins }</td>
                        <td>${ pitchResult.losses }</td>
                        <td>${ statService.getIP(pitchResult.outs) }</td>
                        <td>${ pitchResult.hits }</td>
                        <td>${ pitchResult.runs }</td>
                        <td>${ pitchResult.er }</td>
                        <td>${ pitchResult.homeRuns }</td>
                        <td>${ pitchResult.bb }</td>
                        <td>${ pitchResult.so }</td>
                        <td>${ pitchResult.hbp }</td>
                        <td>${ pitchResult.battersFaced }</td>
                        <td>${ statService.getERA(pitchResult.er, pitchResult.outs) != undefined ? statService.getERA(pitchResult.er, pitchResult.outs).toFixed(2) : "∞" }</td>
                        <td>${ pitchResult.wpa?.toFixed(2) }</td>
                      </tr>
                    `)}

                    ` : $h`
                      <tr>
                        <td style="text-align:left;" colspan="14">No games played.</td>
                      </tr>
                    `}

                  </tbody>
                </table>
              `}

            </div>
          </div>


          ${player.primaryPosition == "P" ? $h`
            
            <div class="block-title block-title-small">Recent Games</div>
            <div class="block block-outline block-strong">

              <div class="stat-table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                          <th class="game">Game</th>
                          <th>Age</th>
                          <th>W-L</th>
                          <th class="numeric-cell">IP</th>
                          <th class="numeric-cell">H</th>
                          <th class="numeric-cell">R</th>
                          <th class="numeric-cell">ER</th>
                          <th class="numeric-cell">HR</th>
                          <th class="numeric-cell">BB</th>
                          <th class="numeric-cell">SO</th>
                          <th class="numeric-cell">HBP</th>
                          <th class="numeric-cell">BF</th>
                          <th class="numeric-cell">WPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${player.pitcherGameLog?.length > 0 ? $h`
                        
                            ${player.pitcherGameLog?.map(log => $h`
                                <tr>
                                    <td class="game"><a href="${universeWebService.startDateLink(`/g/${log.gameId}`)}">${dayjs(log.dateCreated).format('LL')}</a></td>
                                    <td>${log.age}</td>
                                    <td>${showWL(log)}</td>
                                    <td class="numeric-cell">${statService.getIP(log.outs)}</td>
                                    <td class="numeric-cell">${log.hits}</td>
                                    <td class="numeric-cell">${log.runs}</td>
                                    <td class="numeric-cell">${log.er}</td>
                                    <td class="numeric-cell">${log.homeRuns}</td>
                                    <td class="numeric-cell">${log.bb}</td>
                                    <td class="numeric-cell">${log.so}</td>
                                    <td class="numeric-cell">${log.hbp}</td>
                                    <td class="numeric-cell">${log.battersFaced}</td>
                                    <td class="numeric-cell">${log.wpa?.toFixed(2)}</td>
                                </tr>
                            `)}

                        ` : $h`
                                <tr>
                                    <td colspan="16">No data.</td>
                                </tr>
                        
                        `}
                    </tbody>                            
                </table>
              </div>

            </div>

          ` : $h`
          
            <div class="block-title block-title-small">Recent Games</div>
            <div class="block block-outline block-strong">
              <div class="stat-table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th class="game">Game</th>
                            <th>Age</th>
                            <th>W-L</th>
                            <th class="numeric-cell">PA</th>
                            <th class="numeric-cell">AB</th>
                            <th class="numeric-cell">R</th>
                            <th class="numeric-cell">H</th>
                            <th class="numeric-cell">2B</th>
                            <th class="numeric-cell">3B</th>
                            <th class="numeric-cell">HR</th>
                            <th class="numeric-cell">RBI</th>
                            <th class="numeric-cell">SB</th>
                            <th class="numeric-cell">CS</th>
                            <th class="numeric-cell">BB</th>
                            <th class="numeric-cell">SO</th>
                            <th class="numeric-cell">WPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${player.hitterGameLog?.length > 0 ? $h`
                        
                            ${player.hitterGameLog?.map(log => $h`
                                <tr>
                                    <td class="game"><a href="${universeWebService.startDateLink(`/g/${log.gameId}`)}">${dayjs(log.startDate).format('LL')}</a></td>
                                    <td>${log.age}</td>
                                    <td>${showTeamWL(log)}</td>
                                    <td class="numeric-cell">${log.pa}</td>
                                    <td class="numeric-cell">${log.atBats}</td>
                                    <td class="numeric-cell">${log.runs}</td>
                                    <td class="numeric-cell">${log.hits}</td>
                                    <td class="numeric-cell">${log.doubles}</td>
                                    <td class="numeric-cell">${log.triples}</td>
                                    <td class="numeric-cell">${log.homeRuns}</td>
                                    <td class="numeric-cell">${log.rbi}</td>
                                    <td class="numeric-cell">${log.sb}</td>
                                    <td class="numeric-cell">${log.cs}</td>
                                    <td class="numeric-cell">${log.bb}</td>
                                    <td class="numeric-cell">${log.so}</td>
                                    <td class="numeric-cell">${log.wpa?.toFixed(2)}</td>

                                </tr>
                            `)}

                        ` : $h`
                                <tr>
                                    <td colspan="22">No data.</td>
                                </tr>
                        
                        `}
                    </tbody>                            
                </table>
              </div>
            </div>

          `}

          ${player.team ? $h`
            <div class="popup drop-popup">
              <div class="view">
                <div class="page">
                  <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                      <div class="title">Drop Player</div>
                      <div class="right">
                        <a class="link popup-close">Close</a>
                      </div>
                    </div>
                  </div>
                  <div class="page-content">

                        <div class="block">
                          <p>
                            Are you sure you want to drop ${player.fullName}? They will become a free agent that can be signed by any team.
                          </p>
                          
                          <a @click="${dropButtonClick}" class="button button-fill color-red drop-button">Drop</a>
                        </div>

                  </div>
                </div>
              </div>
            </div>
          ` : $h`
            <div class="popup sign-popup">
              <div class="view">
                <div class="page">
                  <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                      <div class="title">Add Player</div>
                      <div class="right">
                        <a class="link popup-close">Close</a>
                      </div>
                    </div>
                  </div>
                  <div class="page-content">

                        ${authInfo?.offChainDiamondBalance ? $h` 
                          
                          <div class="block">

                            <p>
                              <strong>Cost To Sign:</strong><br />
                              ${universeWebService.displayDiamonds(player.askingPrice)}
                            </p>

                            <p>
                              <strong>Balance:</strong><br />
                              ${universeWebService.displayDiamonds(authInfo.offChainDiamondBalance)}
                            </p>

                            <p>
                              Are you sure you want to sign ${player.fullName} for ${universeWebService.displayDiamonds(player.askingPrice)}?
                            </p>
                            
                            <a @click="${signButtonClick}" class="button button-fill color-red sign-button">Sign Player</a>

                          </div>

                        ` : $h` `}

                  </div>
                </div>
              </div>
            </div>
          
          `}

        ` : $h` `}

      </div>

    </div>

  </div>

</template>

<style>

</style>

<script>

  import Navbar from "../common/navbar.f7.html"

  import dayjs from "dayjs"
  import {ethers } from "ethers"

  import { ContainerService } from "../../../service/container-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"

  import { StatService } from "../../../service/stat-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"
  import { LoginWebService } from "../../service/login-web-service.ts"

  import { Position } from "../../../service/enums.ts"
  import StartDate from "../common/start-date.f7.html"

  export default (props, { $on, $, $f7, $update, $onMounted, $h }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")
    let playerWebService = ContainerService.getInstance(PlayerWebService)

    let statService = ContainerService.getInstance(StatService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let loginWebService = ContainerService.getInstance(LoginWebService)

    let authInfo = props.authInfo
    let player = props.player
    
    let showPotential = false


    const formatBigInt = (value) => {
        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }


    const potentialChange = (e) => {
      showPotential = e.target.checked
      $update()
    }


    const chip = (label, rating) => {
      if (rating == null) return ""
      return $h`
        <div class="chip">
          <div class="chip-media bg-${playerWebService.getRatingBadgeColor(rating)}">
            ${playerWebService.ratingToGrade(rating)}
          </div>
          <div class="chip-label">${label}</div>
        </div>
      `
    }

    const textChip = (label, value, bgColor) => {
      if (value == null) return ""
      return $h`
        <div class="chip">
          <div class="chip-media bg-${bgColor}">${label}</div>
          <div class="chip-label ">${value}</div>
        </div>
      `
    }

    const badge = (rating) => {
      if (rating == null) return ""
      return $h`<span class="badge ${playerWebService.getRatingBadgeColor(rating)}">${playerWebService.ratingToGrade(rating)}</span>`
    }

    const canAffordDrop = () => {

      if (!authInfo?.offChainDiamondBalance) return false
      if (!player?.minimumPlayerSalary) return false

      if (BigInt(authInfo.offChainDiamondBalance) < BigInt(player.minimumPlayerSalary)) return false

      return true

    }

    const dropButtonClick = async (e) => {

      try {
        await playerWebService.dropPlayer(player)
        $f7.popup.close('.drop-popup')
        $f7.views.main.router.navigate(universeWebService.startDateLink(`/`))

        const toast = $f7.toast.create({
            text: 'Player dropped successfully.',
            closeTimeout: 5000,
            position: 'bottom',
            horizontalPosition: 'center',
            on: {
                opened: function () { }
            }
        })

        toast.open()

      } catch(ex) {
        $f7.dialog.alert(ex.message)
      }
    }

    const signButtonClick = async (e) => {

      try {
        await playerWebService.signPlayer(player)
        $f7.popup.close('.sign-popup')
        $f7.views.main.router.navigate(universeWebService.startDateLink(`/`))

        const toast = $f7.toast.create({
            text: 'Player signed to roster.',
            closeTimeout: 5000,
            position: 'bottom',
            horizontalPosition: 'center',
            on: {
                opened: function () { }
            }
        })

        toast.open()

      } catch(ex) {
        $f7.dialog.alert(ex.message)
      }
    }

    const showWL = (log) => {
      if (log.wins == 1) return "W"
      if (log.losses == 1) return "L"
      return ""
    }

    const showTeamWL = (log) => {
      if (log.teamWins == 1) return "W"
      if (log.teamLosses == 1) return "L"
      return ""
    }

    const showRating = (before, after) => {
      if (!after) return before.rating.toFixed(0)

      let change = after.rating - before.rating

      return `${after.rating.toFixed(0)} (${change > 0 ? "+" : ""}${(change).toFixed(0)})`
    }

    const formatRatio = (num) => {

      if (num === 0) {
        return ".000";
      }

      let numStr = num.toFixed(3)

      if (num < 1 && num > -1 && num !== 0) {
        numStr = numStr.replace(/^0/, '')
      }

      return numStr

    }

    let isLoggedIn = authInfo?._id != undefined
    let isOwner = isLoggedIn && authInfo._id == player.team?.userId

    let showDrop = (isOwner && !player.team?.isQueued && canAffordDrop()) == true
    let showSign = ( isLoggedIn && player.askingPrice && (BigInt(authInfo.offChainDiamondBalance) >= BigInt(player.askingPrice) ) ) == true

    let showInsufficientDiamonds = isLoggedIn && player.askingPrice && (BigInt(authInfo.offChainDiamondBalance) < BigInt(player.askingPrice))
    let showInsufficientDiamondsToDrop = isLoggedIn && isOwner && (BigInt(authInfo.offChainDiamondBalance) < BigInt(player.minimumPlayerSalary))

    let showActions = player.team?.isQueued || showDrop || showSign

    
    $on('pageInit', async (e) => {

    })


    $on('pageBeforeIn', async (e) => {

      let breadcrumbs = [
          { text: "Home", path: "/"},
      ]

      if (player.team?._id) {
          breadcrumbs.push({ text: `${player.team.cityName ? player.team.cityName : ''} ${player.team.name}`, path: universeWebService.startDateLink(`/t/index/${player.team._id}`) })
      }

      breadcrumbs.push({ text: player.fullName })

      eventTarget.dispatchEvent(new CustomEvent('main-nav', {
          detail: { tabLink: "/players/", breadcrumbs: breadcrumbs }
      }))


      universeWebService.setMetadata(
        `${player.fullName} - Ethereum Baseball League`, 
        window.location.href, 
        `${env.WEB}/player/image/${player._id}`, 
        `View ${player.fullName} in Ethereum Baseball League.`
      ) 

      await $update()
    })


    $on('pageReinit', async () => {
    })


    $on('pageBeforeOut', async () => {
    })


    $onMounted(() => {
      $('.sign-popup').on('popup:opened', async (e) => {
      })
    })


    return $render

  }
</script>