<template>

  <div class="page page-with-subnavbar" data-name="players">


    <div class="page-content">

        <${StartDate} />

        <div class="block small-only">
            <p class="segmented">
                 <a href="${$f7.views.main.router.currentRoute.path}?rank=1&startDate=${universeWebService.getStartDate()}" class="button button-outline tab-link ${rank == 1 ? 'tab-link-active' : ''}" >League Leaders</a>
                <a href="${$f7.views.main.router.currentRoute.path}?rank=0&startDate=${universeWebService.getStartDate()}" class="button button-outline tab-link ${rank == 0 ? 'tab-link-active' : ''}">Shop for Free Agents</a>
            </p>
        </div>

        <div class="block large-only-block small-tabs">
            <p class="segmented">
                <a href="${$f7.views.main.router.currentRoute.path}?rank=1&startDate=${universeWebService.getStartDate()}" class="button button-outline tab-link ${rank == 1 ? 'tab-link-active' : ''}" >League Leaders</a>
                <a href="${$f7.views.main.router.currentRoute.path}?rank=0&startDate=${universeWebService.getStartDate()}" class="button button-outline tab-link ${rank == 0 ? 'tab-link-active' : ''}">Shop for Free Agents</a>
            </p>
        </div>


        <div class="search">
            <!-- <div class="searchbar searchbar-inline">
                <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Search" id="playerStatsSearch" @change="${searchChange}" />
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                </div>
            </div> -->
            <div class="position">
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=H" class="tab-link ${position=='H' ? 'active' : ''}" data-animate="false" >Batters</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=P" class="tab-link ${position=='P' ? 'active' : ''}" data-animate="false" >Pitchers</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=C" class="tab-link ${position=='C' ? 'active' : ''}" data-animate="false" >C</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=1B" class="tab-link ${position=='1B' ? 'active' : ''}" data-animate="false" >1B</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=2B" class="tab-link ${position=='2B' ? 'active' : ''}" data-animate="false" >2B</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=3B" class="tab-link ${position=='3B' ? 'active' : ''}" data-animate="false" >3B</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=SS" class="tab-link ${position=='SS' ? 'active' : ''}" data-animate="false" >SS</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=LF" class="tab-link ${position=='LF' ? 'active' : ''}" data-animate="false" >LF</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=CF" class="tab-link ${position=='CF' ? 'active' : ''}" data-animate="false" >CF</a>
                <a href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=RF" class="tab-link ${position=='RF' ? 'active' : ''}" data-animate="false" >RF</a>
            </div>
        </div>

        <div class="player-list">

            ${position == 'P' ? $h`
                ${selected == "stats" ? $h`
                    <pitcher-stats pitchers=${allPlayers} sortable="true" sortrows="${sortRows}" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}" showaskingprice="${rank == 0}" statprop="seasonStats" sortcolumn="${sortColumn}" sortdirection="${sortDirection}">
                        <select @change="${statsChange}" class="stats-dropdown">
                            <option value="stats" selected>Season Stats</option>
                            <option value="ratings">Ratings</option>
                        </select>
                    </pitcher-stats>
                ` : $h` `}

                ${selected == "ratings" ? $h`
                    <pitcher-ratings pitchers=${allPlayers} sortable="true"  sortrows="${sortRows}" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}" showaskingprice="${rank == 0}" sortcolumn="${sortColumn}" sortdirection="${sortDirection}">
                        <select @change="${statsChange}" class="stats-dropdown">
                            <option value="stats">Season Stats</option>
                            <option value="ratings" selected>Ratings</option>
                        </select>
                    </pitcher-ratings>
                ` : $h` `}

        ` : $h` 
                ${selected == "stats" ? $h`
                    <hitter-stats hitters=${allPlayers} sortable="true" sortrows="${sortRows}" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}" showaskingprice="${rank == 0}" statprop="seasonStats" sortcolumn="${sortColumn}" sortdirection="${sortDirection}">
                        <select @change="${statsChange}" class="stats-dropdown">
                            <option value="stats" selected>Season Stats</option>
                            <option value="ratings">Ratings</option>
                        </select>
                    </hitter-stats>
                ` : $h` `}

                ${selected == "ratings" ? $h`
                    <hitter-ratings hitters=${allPlayers} sortable="true" sortrows="${sortRows}" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}" showaskingprice="${rank == 0}" sortcolumn="${sortColumn}" sortdirection="${sortDirection}">
                        <select @change="${statsChange}" class="stats-dropdown">
                            <option value="stats">Season Stats</option>
                            <option value="ratings" selected>Ratings</option>
                        </select>
                    </hitter-ratings>
                ` : $h` `}

        ` }

        </div>

        

        <div class="block split-row-both">
            <div>
                ${previousPage ? $h`
                <a data-reload-current="true" data-force="true" data-browser-history="true" href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=${position}&page=${previousPage}&sortColumn=${sortColumn}&sortDirection=${sortDirection}" class="button button-outline color-gray">Previous</a>
                ` : $h` `}
            </div>
            <div>
                ${nextPage ? $h`
                <a data-reload-current="true" data-force="true" data-browser-history="true" href="/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=${position}&page=${nextPage}&sortColumn=${sortColumn}&sortDirection=${sortDirection}" class="button button-fill">Next</a>
                ` : $h` `}
            </div>
        </div>





    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"
  import Toolbar from "../common/toolbar.f7.html"
  import StartDate from "../common/start-date.f7.html"

  import { ContainerService } from "../../../service/container-service"
  import { OwnerPageWebService } from "../../service/owner-page-web-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"
  import { Position } from "../../../service/enums.ts"

  import dayjs from "dayjs"


  export default (props, { $, $on, $f7, $update }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")

    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)

    let leagues = universeWebService.getLeagues()

    const PAGE_SIZE = 25


    let rank = props.rank
    let allPlayers = props.allPlayers
    let position = props.position
    let page = props.page


    const sortColumn = props.sortColumn
    const sortDirection = props.sortDirection
    let previousPage = page > 1 ? page - 1 : null
    let nextPage = allPlayers.length == PAGE_SIZE ? page + 1 : null

    const getActions = () => { }


    let selected = "stats"


    let loading = false

    let searchAutoComplete



    let filters = {
        position: undefined,
        name: undefined
    }


    const sortRows = (e) => {

        let target = $(e.target)

        let sort = target.data("sort")

        //If it's sortable-desc or it's neither we do desc
        let direction = $(target).hasClass("sortable-desc") || ( !$(target).hasClass("sortable-desc") && !$(target).hasClass("sortable-asc")   ) ? "DESC" : "ASC"

        let url = `/players/?rank=${rank}&startDate=${universeWebService.getStartDate()}&position=${position}&page=1&sortColumn=${sort}&sortDirection=${direction}`
        $f7.views.main.router.navigate(url, { reloadCurrent: true })

    }

    const statusChange = (e) => {
        filters.status = $(e.srcElement).val()
        $update()
    }

    const statsChange = async (e) => {
        selected = $(e.srcElement).val()
        // await loadStats()
        $update()
    }

    const searchChange = (e) => {
        filters.name = $(e.srcElement).val()

        //Reset position
        $('.position a').removeClass("active")
        $('.position a').eq(0).addClass("active")
        filters.position = undefined

        $update()
    }

    const positionClick = (e) => {

      let position = $(e.target).data("pos")

      let url = `${$f7.views.main.router.currentRoute.path}?rank=${universeWebService.getRank()}&startDate=${universeWebService.getStartDate()}&position=${position}`
      $f7.views.main.router.navigate(url, { reloadCurrent: true })


    }

    const rankChange = (e) => {

      let rank = $(e.target).val()

      let url = `${$f7.views.main.router.currentRoute.path}?rank=${rank}&startDate=${universeWebService.getStartDate()}`

      $f7.views.main.router.navigate(url, { reloadCurrent: true })

    }


    $on('pageBeforeIn', async (e) => {

        eventTarget.dispatchEvent(new CustomEvent('main-nav', {
            detail: { tabLink: "/players/", breadcrumbs:[
                { text: "Home", path: "/"},
                { text: rank == 0 ? "Shop for Free Agents" : "League Leaders" }
            ] }
        }))


        universeWebService.setMetadata(
                `Players - Ethereum Baseball League`, 
                window.location.href, 
                `${env.WEB}/ebl-512.png`,
                `View players in Ethereum Baseball League.`
        ) 


        await $update()
    })

    $on('pageInit', async () => {

    })


    return $render
  }
</script>