<template>

        <table class="data-table players ${actions ? $h`actions`: $h` `}">
            <thead>
                <tr>
                    ${actions ? $h`<th class="action"></th>` : $h` `}
                    <th class="image"></th>
                    <th @click=${sortPitchers} data-sort="fullName" class="name">Name</th>
                    
                    <th class="stamina" data-sort="stamina">🪫</th>  
                    ${showAskingPrice ? $h`<th class="numeric-cell">Cost</th>` : $h` `}
                                      

                    <th @click=${sortPitchers} class="numeric-cell" data-sort="throws">Throws</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="hits">Bats</th>

                    <th @click=${sortPitchers} data-sort="overallRating">OVR</th>

                    <th @click=${sortPitchers} data-sort="pitchRatings.power">POW</th>
                    <th class="handed-label">vsR</th>
                    <th @click=${sortPitchers} data-sort="pitchRatings.vsR.control">CON</th>
                    <th @click=${sortPitchers} data-sort="pitchRatings.vsR.movement">MOV</th>

                    <th class="handed-label">vsL</th>
                    <th @click=${sortPitchers}  data-sort="pitchRatings.vsL.control">CON</th>
                    <th @click=${sortPitchers} data-sort="pitchRatings.vsL.movement">MOV</th>


                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'FF')?.rating" title="Fastball">FF</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'CU')?.rating" title="Curveball">CU</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'CH')?.rating" title="Changeup">CH</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'FC')?.rating" title="Cutter">FC</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'FO')?.rating" title="Forkball">FO</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'KN')?.rating" title="Knuckleball">KN</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'KC')?.rating" title="Knuckle-curve">KC</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'SC')?.rating" title="Screwball">SC</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'SI')?.rating" title="Sinker">SI</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'SL')?.rating" title="Slider">SL</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'SV')?.rating" title="Slurve">SV</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'FS')?.rating" title="Splitter">FS</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.pitches.find( pi => pi.type == 'ST')?.rating" title="Sweeper">ST</th>



                </tr>
            </thead>
            <tbody>
                ${displayPitchers?.length > 0 ? $h`
                
                    ${displayPitchers?.map( (p,index) => $h`
                        <tr class="${p.isNextStarter ? $h`next-starter` : $h` `}">

                            ${actions? $h`
                                <td class="action">

                                    ${actions.showMove(p) ? $h`
                                        <a @click="${actions.move}" class="button button-outline button-move" data-id="${p._id}" data-position="${p.primaryPosition}" data-action-row="pitcher-ratings" data-move-target="${actions.moveTarget}" data-is-move-target="${actions.isMoveTarget}" data-spot="${index}">${actions.moveText(p)}</a>  
                                    ` : $h``}

                                    ${actions.showDrop(p) ? $h`
                                        <a @click="${actions.drop}" class="button button-outline button-drop color-red" data-id="${p._id}">Drop</a>
                                    ` : $h` `}

                                </td>
                            ` : $h` `}

                            <td class="image">
                                ${p?._id ? $h`
                                    <span class="icon">
                                        <img src="/player/image/${p._id}" />
                                        <span class="badge ${playerWebService.getRatingBadgeColor(p.overallRating)} overall-badge">
                                            ${playerWebService.ratingToGrade(p.overallRating)}
                                        </span>
                                    </span>
                                ` : $h`<span />`}
                            </td>

                            

                            <td class="name">

                                ${p?._id ? $h`
                                    <a href="${universeWebService.startDateLink(`/p/${p._id}`)}">${p.fullName}</a><br />
                                    ${p.team ? $h`<span class="position">${teamWebService.getTeamName(p.team)}</span> - ` : $h` `} <span class="position">${p.primaryPosition}</span>
                                ` : $h`
                                    <a href="${universeWebService.startDateLink(`/players/?position=P&rank=0`)}" style="font-weight: normal;">${p.fullName}</a><br />
                                `}
                                
                            </td>




                            <td class="numeric-cell">
                                ${p._id ? $h`

                                  <div class="stamina-bar ${p.stamina === 1 ? 'green' : p.stamina >= 0.5 ? 'yellow' : 'red'}"
                                      data-pct="${(p.stamina * 100).toFixed(0)}">
                                    <div class="gap">
                                      <span class="label">${(p.stamina * 100).toFixed(0)}</span>
                                    </div>
                                    <div class="fill" style="height:${(p.stamina * 100).toFixed(0)}%;">
                                      <span class="label">${(p.stamina * 100).toFixed(0)}</span>
                                    </div>
                                  </div>  

                                ` : $h` `}
                            </td>

                            ${showAskingPrice ? $h`
                                <td class="numeric-cell">${universeWebService.displayDiamonds(p.askingPrice)}</td>
                            ` : $h` `}                            

                            
                            <td>${p?.throws}</td>
                            <td>${p?.hits}</td>
                            <td>${badge(p?.overallRating)}</td>

                            <td>${badge(p?.pitchRatings?.power)}</td>

                            <td class="handed-label"></td>

                            <td>${badge(p?.pitchRatings?.vsR?.control)}</td>
                            <td>${badge(p?.pitchRatings?.vsR?.movement)}</td>

                            <td class="handed-label"></td>

                            <td>${badge(p?.pitchRatings?.vsL?.control)}</td>
                            <td>${badge(p?.pitchRatings?.vsL?.movement)}</td>

                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "FF") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "CU") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "CH") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "FC") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "FO") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td >${p?.pitchRatings?.pitches?.find( pi => pi == "KN") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "KC") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "SC") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "SI") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "SL") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "SV") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "FS") != undefined ? $h`<span class="badge"></span>` : ''}</td>
                            <td>${p?.pitchRatings?.pitches?.find( pi => pi == "ST") != undefined ? $h`<span class="badge"></span>` : ''}</td>



                        </tr>
                    `)}


                ` : $h`
                        <tr>
                            <td colspan="22">No pitchers on roster.</td>
                        </tr>
                
                `}
            </tbody>                            
        </table>


</template>

<style>


</style>

<script>


  import { ContainerService } from "../../../service/container-service"
  import { StatService } from "../../../service/stat-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"
  import { PagingService } from "../../../service/paging-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"
  import { TeamWebService } from "../../service/team-web-service.ts"
  import StaminaBar from "../common/stamina-bar.f7.html"


  export default (props, { $, $on, $f7, $h, $update }) => {

    let statService = ContainerService.getInstance(StatService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)
    let pagingService = ContainerService.getInstance(PagingService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let teamWebService = ContainerService.getInstance(TeamWebService)

    const badge = (rating) => {
      if (rating == null) return ""
      return $h`<span class="badge ${playerWebService.getRatingBadgeColor(rating)}">${playerWebService.ratingToGrade(rating)}</span>`
    }


    let currentPage = 0

    let actions

    if (props.actions) {
      actions = props.actions()
    }


    let showAskingPrice = false 

    if (props.showaskingprice) {
      showAskingPrice = true
    }

    const moveFilter = props.movefilter
    const sortable = props.sortable == "true"

    const PAGE_SIZE = props.pagesize

    let displayPitchers = props.pitchers


    const sortPitchers = (e) => {

        if (sortable) {

        }

    }

    
    return $render
  }
</script>