<template>

  <div>

    <div class="paging">
        Showing ${pagingService.startIndex(PAGE_SIZE, currentPage) + 1}-${Math.min(pagingService.endIndex(PAGE_SIZE, currentPage) + 1, displayPitchers.length)}.
    
        <slot></slot>

    </div>

    <div class="stat-table-wrapper">
        <table class="data-table players ${actions ? $h`actions`: $h` `}">
            <thead>
                <tr>
                    <th class="image"></th>
                    <th @click=${sortPitchers} data-sort="fullName" class="name">Name</th>
                    ${actions ? $h`<th class="action"></th>` : $h` `}
                    <th class="stamina" data-sort="stamina">🪫</th>                    
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="displayRating">OVR</th>


                    <th @click=${sortPitchers} data-sort="throws">Throws</th>
                    <th @click=${sortPitchers} data-sort="hits">Bats</th>

                    <th @click=${sortPitchers} class="numeric-cell" data-sort="pitchRatings.power">POW</th>
                    <th class="handed-label">vsR</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.vsR.control">CON</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.vsR.movement">MOV</th>

                    <th class="handed-label">vsL</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.vsL.control">CON</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.vsL.movement">MOV</th>


                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'FF')?.rating" title="Fastball">FF</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'CU')?.rating" title="Curveball">CU</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'CH')?.rating" title="Changeup">CH</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'FC')?.rating" title="Cutter">FC</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'FO')?.rating" title="Forkball">FO</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'KN')?.rating" title="Knuckleball">KN</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'KC')?.rating" title="Knuckle-curve">KC</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'SC')?.rating" title="Screwball">SC</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'SI')?.rating" title="Sinker">SI</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'SL')?.rating" title="Slider">SL</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'SV')?.rating" title="Slurve">SV</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'FS')?.rating" title="Splitter">FS</th>
                    <th @click=${sortPitchers} class="numeric-cell" data-sort="percentileRatings.pitchRatings.pitches.find( pi => pi.type == 'ST')?.rating" title="Sweeper">ST</th>



                </tr>
            </thead>
            <tbody>
                ${displayPitchers?.length > 0 ? $h`
                
                    ${displayPitchers?.map( (p,index) => $h`
                        <tr class="${p.isNextStarter ? $h`next-starter` : $h` `}">

                            <td class="image">
                            ${p?._id ? $h`<img src="/player/image/${p._id}" width="25" height="25" />` : $h`<span />`}
                            </td>

                            
                            <td class="name">

                                ${p?._id ? $h`
                                    <a href="${universeWebService.startDateLink(`/p/${p._id}`)}">${p.fullName}</a><br />
                                    ${p.team ? $h`<a href="${universeWebService.startDateLink(`/t/index/${p.team?._id}`)}" class="position">${teamWebService.getTeamName(p.team)}</a>` : $h` `}
                                ` : $h` `}
                            </td>


                            ${actions? $h`
                                <td class="action">
                                    ${actions.showMove(p) ? $h`
                                        <a @click="${actions.move}" class="button button-outline button-move" data-id="${p._id}" data-position="${p.primaryPosition}" data-action-row="pitcher-ratings" data-move-target="${actions.moveTarget}" data-is-move-target="${actions.isMoveTarget}" data-spot="${index}">${actions.moveText(p)}</a>  
                                    ` : $h``}
                                </td>
                            ` : $h` `}


                            <td class="numeric-cell">
                              <${StaminaBar} stamina=${p.stamina} />
                            </td>

                            <td class="numeric-cell">${p?.displayRating?.toFixed(0)}</td>
                            <td>${p?.throws}</td>
                            <td>${p?.hits}</td>
                            <td class="numeric-cell">${p?.pitchRatings?.power}</td>

                            <td class="handed-label" ></td>
                            <td class="numeric-cell">${p?.pitchRatings?.vsR?.control}</td>
                            <td class="numeric-cell">${p?.pitchRatings?.vsR?.movement}</td>

                            <td class="handed-label" ></td>
                            <td class="numeric-cell">${p?.pitchRatings?.vsL?.control}</td>
                            <td class="numeric-cell">${p?.pitchRatings?.vsL?.movement}</td>

                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "FF")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "CU")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "CH")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "FC")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "FO")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "KN")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "KC")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "SC")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "SI")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "SL")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "SV")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "FS")?.rating}</td>
                            <td class="numeric-cell">${p?.pitchRatings.pitches.find( pi => pi.type == "ST")?.rating}</td>



                        </tr>
                    `)}

                    <!-- ${actions?.drop ? $h`
                        <tr class="action-row pitcher-ratings" style="display:none;">
                            <td colspan="3">
                            <a @click=${actions.drop} class="drop-button button button-outline color-red" data-action-row="pitcher-ratings" data-move-target="${actions.moveTarget}">Drop</div>
                            </td>
                            <td colspan="20"></td>
                        </tr>
                    ` : $h` `} -->


                ` : $h`
                        <tr>
                            <td colspan="22">No pitchers on roster.</td>
                        </tr>
                
                `}
            </tbody>                            
        </table>
    </div>


  </div>


</template>

<style>


</style>

<script>


  import { ContainerService } from "../../../service/container-service"
  import { StatService } from "../../../service/stat-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"
  import { PagingService } from "../../../service/paging-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"
  import { TeamWebService } from "../../service/team-web-service.ts"
  import StaminaBar from "../common/stamina-bar.f7.html"


  export default (props, { $, $on, $f7, $update }) => {

    let statService = ContainerService.getInstance(StatService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)
    let pagingService = ContainerService.getInstance(PagingService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let teamWebService = ContainerService.getInstance(TeamWebService)

    let currentPage = 0

    let actions

    if (props.actions) {
      actions = props.actions()
    }

    const moveFilter = props.movefilter
    const sortable = props.sortable == "true"

    const PAGE_SIZE = props.pagesize

    let displayPitchers = props.pitchers



    const sortPitchers = (e) => {

        if (sortable) {

        }

    }

    
    return $render
  }
</script>