<template>

  <div>

    <div class="paging">
        Showing ${pagingService.startIndex(PAGE_SIZE, currentPage) + 1}-${Math.min(pagingService.endIndex(PAGE_SIZE, currentPage) + 1, displayPitchers.length)}.
        <slot></slot>
    
    </div>

    <div class="stat-table-wrapper">
        <table class="data-table players ${actions ? $h`actions`: $h` `}">
            <thead>
                <tr>
                    ${actions ? $h`<th class="action"></th>` : $h` `} 
                    <th class="image"></th>
                    <th @click=${sortRows}  class="name">Name</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'overallRating_pct' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="overallRating_pct">OVR</th>                    
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'age' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="age">Age</th>
                    <th @click=${sortRows} data-sort="throws" class="${sortable ? 'sortable-cell' : ''} ${sortColumn == 'throws' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}">Throws</th>
                    <th @click=${sortRows} data-sort="hits" class="${sortable ? 'sortable-cell' : ''} ${sortColumn == 'bats' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" >Bats</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.wins' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.wins">W</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.losses' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.losses">L</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.winPercent' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.winPercent">W/L%</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.era' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.era">ERA</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.starts' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.starts">GS</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.outs' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.outs">IP</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.hits' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.hits">H</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.runs' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.runs">R</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.er' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.er">ER</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.homeRuns' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.homeRuns">HR</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.bb' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.bb">BB</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.so' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.so">SO</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.bbPercent' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.bbPercent">BB%</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.soPercent' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.soPercent">SO%</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.hbp' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.hbp">HBP</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.battersFaced' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.battersFaced">BF</th>
                    <th @click=${sortRows} class="numeric-cell ${sortable ? 'sortable-cell' : ''} ${sortColumn == 'pitching.wpa' ? 'sortable-cell-active' : ''} ${sortDirection == 'DESC' ? 'sortable-asc' : 'sortable-desc'}" data-sort="pitching.wpa">WPA</th>

                </tr>
            </thead>
            <tbody>
                ${displayPitchers?.length > 0 ? $h`
                
                    ${displayPitchers?.map( (p, index) => $h`
                        <tr>

                            ${actions ? $h`
                                <td class="action">
                                    ${actions.showMove(p) ? $h`
                                        <a @click="${actions.move}" class="button button-outline button-move" data-id="${p._id}" data-position="${p.primaryPosition}" data-action-row="pitcher-stats" data-move-target="${actions.moveTarget}" data-is-move-target="${actions.isMoveTarget}" data-spot="${index}">${actions.moveText(p)}</a>  
                                    ` : $h``}
                                </td>
                            ` : $h` `}

                            <td class="image">
                              ${p?._id ? $h`<img src="/player/image/${p._id}" width="25" height="25" />` : $h`<span />`}
                            </td>


                            <td class="name ${p.isNextStarter ? $h`next-starter` : $h` `}">

                                ${p?._id ? $h`
                                    <a href="${universeWebService.startDateLink(`/p/${p._id}`)}">${p.fullName}</a><br />
                                    ${p.team?.abbrev ? $h`<a href="${universeWebService.startDateLink(`/t/${p.team?.tokenId}`)}" class="position">${p.team?.cityName} (${p.team?.abbrev})</a> - ` : $h`<span />`}<span class="position">${p.primaryPosition}</span> <span class="rest">${playerWebService.displayRestDays(p, universeWebService.getCurrentDate())}</span>
                                ` : $h` `}
                            </td>
                            
                            <td class="numeric-cell">${p?.percentileRatings?.overallRating_pct?.toFixed(1)}</td>

                            <td class="numeric-cell">${p?.age}</td>
                            <td>${p?.throws}</td>
                            <td>${p?.hits}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.wins}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.losses}</td>
                            <td class="numeric-cell">${statService.formatRatio(getStats(p)?.pitching?.winPercent)}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.era != undefined ? getStats(p)?.pitching?.era.toFixed(2) : "∞"}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.starts}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.ip}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.hits}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.runs}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.er}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.homeRuns}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.bb}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.so}</td>
                            <td class="numeric-cell">${statService.displayPercent(getStats(p)?.pitching?.bbPercent)}</td>
                            <td class="numeric-cell">${statService.displayPercent(getStats(p)?.pitching?.soPercent)}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.hbp}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.battersFaced}</td>
                            <td class="numeric-cell">${getStats(p)?.pitching?.wpa?.toFixed(3)}</td>
                        </tr>
                    `)}


                    <!-- ${actions?.drop ? $h`
                        <tr class="action-row pitcher-stats" style="display:none;">
                          <td colspan="3">
                            <a @click=${actions.drop} class="drop-button button button-outline color-red" data-action-row="pitcher-stats" data-move-target="${actions.moveTarget}">Drop</div>
                          </td>
                          <td colspan="21"></td>
                        </tr>
                      ` : $h` `} -->

                ` : $h`
                        <tr>
                            <td colspan="24">No pitchers on roster.</td>
                        </tr>
                
                `}
            </tbody>                            
        </table>
    </div>


  </div>


</template>

<style>


</style>

<script>


  import { ContainerService } from "../../../service/container-service"
  import { StatService } from "../../../service/stat-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"
  import { PagingService } from "../../../service/paging-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  export default (props, { $, $on, $f7, $update }) => {

    let statService = ContainerService.getInstance(StatService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)
    let pagingService = ContainerService.getInstance(PagingService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let currentPage = 0

    let statprop

    if (props.statprop) {
      statprop = props.statprop
    }

    let actions

    if (props.actions) {
      actions = props.actions()
    }

    const moveFilter = props.movefilter
    const sortable = props.sortable == "true"

    let sortColumn = props.sortcolumn
    let sortDirection = props.sortdirection

    const PAGE_SIZE = props.pagesize

    let displayPitchers = props.pitchers
    let sortRows = props.sortrows



    const getStats = (p) => {
      if (!p) return
      return p[statprop]
    }
    

    return $render
  }
</script>