<template>

  <div class="page page-with-subnavbar" data-name="team-index">

    ${teamComponentService.isTeamOwner() && teamComponentService.hasChanges ? $h`

        <div class="fab fab-extended fab-right-bottom color-orange">
            <a href="#" @click="${saveClick}">
                <div class="fab-text">Save Lineup</div>
            </a>
        </div>

    ` : $h` `}


    <div class="page-content">

        <div class="fixed-width-content center">

            <${StartDate} />

            ${teamComponentService.team ? $h`

                <div class="list media-list list-outline-ios list-strong">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media">
                                    <img src="/image/thumbnail/100/${teamComponentService.team.logoId}" width="100" height="100" class="profilePic" />
                                </div>

                                <div class="item-inner">

                                    <div class="item-title-row">
                                        <div class="item-title">${teamWebService.getTeamName(teamComponentService.team)}</div>
                                        <div class="item-after">⭐ ${ teamComponentService.team.longTermRating.rating.toFixed(0) }</div>
                                    </div>

                                    <div class="item-subtitle">
                                        ${teamComponentService.team.overallRecord.wins}-${teamComponentService.team.overallRecord.losses} <span class="separator">|</span> ${statService.formatRatio(teamComponentService.team.overallRecord.winPercent)}
                                    </div>

                                    <div class="item-text">
                                        Cash: ${universeWebService.displayDiamonds(teamComponentService.team.diamondBalance)}
                                    </div>
                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="list links-list list-inset list-outline-ios list-dividers-ios list-strong">
                    <ul>
                        <li><a class="link" href="${universeWebService.startDateLink(`/t/activity/index/${teamComponentService.team._id}`)}">🔷 Rewards & Player Moves</a></li>
                        <!-- <li><a data-popup=".front-office-popup" class="link popup-open" href="#">🏢 Front Office</a> </li>    -->

                        <a class="link" href="${universeWebService.startDateLink(`/t/results/${teamComponentService.team._id}`)}">📅 Results</a> 

                    </ul>
                </div>

                ${teamComponentService.isTeamOwner() && teamComponentService.team.isQueued ? $h`
                    <div class="list media-list list-outline-ios list-strong-ios list-dividers-ios">
                        <ul>
                            <li>
                                <a class="item-link item-content">
                                    <div class="item-media">🏟️</div>

                                    <div class="item-inner">
                                        <div class="item-title-row">
                                        <div class="item-title">
                                            Your team is queued.
                                        </div>
                                        </div>

                                        <div class="item-text">
                                        Rosters are locked while in the queue.
                                        </div>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                ` : $h` `}

                <${Roster} />

                <!-- And somewhere in DOM -->
                <div class="popup front-office-popup">
                    <div class="view">
                    <div class="page">
                        <div class="navbar">
                        <div class="navbar-bg"></div>
                        <div class="navbar-inner">
                            <div class="title">Front Office</div>
                            <div class="right">
                            <!-- Link to close popup -->
                            <a class="link popup-close">Close</a>
                            </div>
                        </div>
                        </div>
                        <div class="page-content">

                            <div class="card card-outline card-header-divider">
                                <div class="card-header">Cash</div>
                                <div class="card-content card-content-padding">

                                    <div class="list list-strong list-dividers">
                                        <ul>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">
                                                            Cash
                                                        </div>
                                                        <div class="item-after">
                                                            ${universeWebService.displayDiamonds(teamComponentService.team.diamondBalance)} 
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>



                                        </ul>
                                    </div>





                                </div>
                            </div>

                            <div class="card card-outline card-header-divider">
                                <div class="card-header">Fan Interest</div>
                                <div class="card-content card-content-padding">

                                    ${teamComponentService.team.city ? $h`
                                        <p>
                                            <strong>${teamComponentService.team.city.name}, ${teamComponentService.team.city.state}</strong>
                                        </p>
                                    ` : $h` `}

                                    
                                    <div class="skill-wrapper">
                                            Fan Interest (Long Term) 
                                        <div class="skill-bar">
                                            <div class="red" style="flex-basis: ${getAsPercent(teamComponentService.team.fanInterestLongTerm)}%;">${getAsPercent(teamComponentService.team.fanInterestLongTerm)}</div>
                                        </div>
                                    </div> 


                                    <div class="skill-wrapper">
                                        Fan Interest (Short Term) 
                                        <div class="skill-bar">
                                            <div class="red" style="flex-basis: ${getAsPercent(teamComponentService.team.fanInterestShortTerm)}%;"> ${getAsPercent(teamComponentService.team.fanInterestShortTerm)}</div>
                                        </div>
                                    </div> 

                                </div>
                            </div>

                            <div class="card card-outline card-header-divider">
                                <div class="card-header">Financial Summary</div>
                        
                                <div class="card-content card-content-padding">
                        
                                <div class="list list-strong list-dividers">
                                    <ul>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">
                                                        Projected Revenue
                                                    </div>
                                                    <div class="item-after">
                                                        ${universeWebService.displayDiamonds(teamComponentService.team.financeSeason.revenue.projectedTotal.total)}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                        
                                </div>            
                            </div>


                        </div>
                    </div>
                    </div>
                </div>

            ` : $h` `}


        </div>

            


    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"
  import Roster from "./roster.f7.html"

  import dayjs from "dayjs"
  import { ContainerService } from "../../../service/container-service.ts"

  import { TeamWebService } from "../../service/team-web-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  import { TeamComponentService } from "../../service/team-component-service.ts"

  import { StatService } from "../../../service/stat-service.ts"
  import { DiamondService } from "../../../service/diamond-service.ts"
  import { DiamondWebService } from "../../service/diamond-web-service.ts"

  import { Position } from "../../../service/enums.ts"

  import StartDate from "../common/start-date.f7.html"
  import InProgress from "../game/in-progress.f7.html"
  import Scheduled from "../game/scheduled.f7.html"
  import Result from "../game/result.f7.html"

  import { ethers } from "ethers"

  export default (props, { $on, $, $f7, $update }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")
    let walletService = ContainerService.getInstance("WalletService")
    let teamWebService = ContainerService.getInstance(TeamWebService)
    let teamComponentService = ContainerService.getInstance(TeamComponentService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let diamondService = ContainerService.getInstance(DiamondService)
    let diamondWebService = ContainerService.getInstance(DiamondWebService)

    let statService = ContainerService.getInstance(StatService)


    let loading
    let startDate
    

    let authInfo = props.authInfo
    let games = props.games

    const saveClick = (e) => {
        $f7.emit('save-roster-click', e)
    }


    const isSigned = (mp) => {
      return (mp?.r && mp.s && mp.v)
    }

    const mintPassClick = async (e) => {

        try {

            //Get signed mint pass
            let mintPass = teamComponentService.team.diamondMintPasses.find(mp => mp._id == $(e.target).data('id'))

            let result = await diamondWebService.withdraw(mintPass)

            if (result.hash) {
                $f7.views.main.router.navigate($f7.views.main.router.currentRoute.url, { reloadCurrent: true, ignoreCache: true })
            }

        } catch (ex) {
            $f7.dialog.alert(ex.reason, "There was an error")
            console.log(ex)
        }


    }

    const withdrawClick = async (e) => {

        try {

                let confirmMessage = `

        <div style="text-align: left;">

        <p>Creates a mint pass for ${universeWebService.displayDiamonds(teamComponentService.team.diamondBalance)} and clears the team's diamond balance.</p>

        <ul style="padding-left: 15px;">
            <li>Redeemable on-chain only</li>
            <li>Expires in 1 year</li>
            <li>Non-reversible</li>
        </ul>

        Continue?

        </div>

                `

                $f7.dialog.confirm(confirmMessage, "Withdraw", async () => {
                
                //Get signed mint pass
                let mintPass = await diamondWebService.getWithdrawPass(tokenId)

                await checkForMintPassProcessing()

                })


            } catch(ex) {
                $f7.dialog.alert(ex.reason, "There was an error")
                console.log(ex)
            }





        try {

            // let mintInfo = await teamWebService.withdraw(teamComponentService.team.tokenId)



            // let result = await diamondService.withdraw(mintInfo.to, mintInfo._id, mintInfo.amount, mintInfo.tokenId, mintInfo.expires, mintInfo.v, mintInfo.r, mintInfo.s)

            // if (result.hash) {
            //     $f7.popup.close('.front-office-popup')
            //     $f7.views.main.router.navigate($f7.views.main.router.currentRoute.url, { reloadCurrent: true, ignoreCache: true })
            // }

        } catch (ex) {
            $f7.dialog.alert(ex.reason, "There was an error")
            console.log(ex)
        }

    }

    const parseFloatWithException = (theStr) => {

        let result = parseFloat(theStr)
        if (isNaN(result)) throw new Error("Error parsing number.")
        return result

    }

    const depositClick = async (e) => {


        // const dialog = $f7.dialog.create({
        //     title: 'Deposit',
        //     text: `Click ok to begin a deposit<br /><br />Your wallet will open to confirm a transaction. Enter the number of 🔷 to deposit to the team treasury.`,
        //     content: `<div class="dialog-input-field item-input">
        //                 <div class="item-input-wrap">
        //                     <input class="dialog-input" type="tel" placeholder="Enter number" required validate pattern="[0-9]*" data-error-message="Only numbers please!">
        //                 </div>
        //             </div>`,
        //     buttons: [
        //         { 
        //             text: 'Cancel',
        //             onClick: () => {}
        //         },
        //                         { 
        //         text: 'Continue',
        //             onClick: () => {
        //                 console.log(dialog.$el.find('.dialog-input').val())
        //                 throw new Error("Bla")
        //             }
        //         }
        //     ],
        //     on: {
        //         open: function () {

        //         }
        //     }
        // }).open()


        const dialog = $f7.dialog.prompt(`<span style="text-align: left;">Click ok to begin a deposit<br /><br /> 

        Your wallet will open to confirm a transaction. Enter the number of 🔷 to deposit to the team treasury.

        `, "Deposit", async (value) => {

            try {
                
                let v = ethers.parseUnits( value.toString()  , 'ether')

                console.log(v)

                // let diamondBalance = ethers.formatUnits(authInfo.diamondBalance)

                // if (value < 0 ) throw new Error("Value must be positive")
                // if (value > diamondBalance) throw new Error("🔷 exceeds balance")

                let result = await diamondService.deposit(authInfo.address, v, tokenId)

                if (result.hash) {
                    $f7.popup.close('.front-office-popup')
                    $f7.views.main.router.navigate($f7.views.main.router.currentRoute.url, { reloadCurrent: true, ignoreCache: true })
                }
                
            } catch(ex) {
                console.log(ex)
                $f7.dialog.alert(ex.message, "Invalid value")
            }
            
        }, ()=>{}, 0)

        dialog.$el.find('input').attr('type', 'number')


    }

    const getAsPercent = (value) => {
        return Math.floor(value * 100)
    }


    
    const load = async () => {

      $f7.preloader.show()

      team = await teamComponentService.loadTeam(tokenId, universeWebService.getStartDate(), { forceRefresh: true })

      $f7.preloader.hide()

    }

    const checkForMintPassProcessing = async () => {

      await load()
      
      if (teamComponentService.team.diamondMintPasses?.length > 0 && teamComponentService.team.diamondMintPasses.find( mp => !mp.r && !mp.s && !mp.v)) {
        setTimeout(async () => { await checkForMintPassProcessing() }, 5*1000)
      }

      await $update()
      
    }

    $on('pageInit', async (e) => {
    })

    $on('pageReinit', async () => {
    })

    $on('pageBeforeIn', async () => {

        $f7.off('roster-refresh-lineup')
        $f7.on('roster-refresh-lineup', () => {
            console.log('roster-refresh-index')
            $update()
        })


        eventTarget.dispatchEvent(new CustomEvent('main-nav', {
            detail: {
            tabLink: "/l/standings", breadcrumbs: [
                { text: "Home", path: "/"},
                {
                text: "Standings",
                path: universeWebService.startDateLink(`/l/standings/${teamComponentService.team?.leagueRank}/1`)
                }, { text: teamWebService.getTeamName(teamComponentService.team) }]
            }
        }))


        universeWebService.setMetadata(
            `${teamComponentService.team.city?.name ? teamComponentService.team.city.name : ""} ${teamComponentService.team.name} - Ethereum Baseball League`, 
            window.location.href, 
            `${env.WEB}/image/thumbnail/1024/${teamComponentService.team.logoId}`, 
            `${teamComponentService.team.city?.name} ${teamComponentService.team.name} is a franchise in Ethereum Baseball League.`
        ) 



        await $update()

    })


    return $render

  }
</script>