<template>

  <div class="page page-with-subnavbar" data-name="team-activity">

    <div class="page-content">

        <div class="fixed-width-content center">

          <div class="block">

            <div class="segmented segmented-tabs">
                <a href="${universeWebService.fullLink(`/t/activity/index/${teamId}`)}" class="button button-outline tab-link tab-link-active">Rewards & Player Moves</a>
                <a href="${universeWebService.fullLink(`/t/activity/on/${teamId}`)}" class="button button-outline tab-link" >On-chain</a>
            </div>


            ${eventsViewModel.transactions?.length > 0 ? $h`
                <${OffChainEvents} model="${eventsViewModel}" />
            ` : $h`
              <div class="block">No activity</div>            
            `}

          </div>




          <div class="block split-row-both">
            <div>
                ${previousPage ? $h`
                <a data-reload-current="true" data-force="true" data-browser-history="true" href="/t/activity/index/${teamId}?page=${previousPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-outline color-gray">Previous</a>
                ` : $h` `}
            </div>
            <div>
                ${nextPage ? $h`
                <a data-reload-current="true" data-force="true" data-browser-history="true" href="/t/activity/index/${teamId}?page=${nextPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-fill">Next</a>
                ` : $h` `}
            </div>
          </div>


        </div>

        
     
    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"

  import dayjs from "dayjs"
  import { ContainerService } from "../../../service/container-service.ts"

  import { TeamWebService } from "../../service/team-web-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  import { TeamComponentService } from "../../service/team-component-service.ts"


  import { Position } from "../../../service/enums.ts"

  import OffChainEvents from "../activity/offchain-events.f7.html"
  // import OnChainEvents from "../activity/onchain-events.f7.html"
  // import GameTransactions from "../activity/game-transaction-events.f7.html"

  export default (props, { $on, $, $f7, $update }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")
    let teamWebService = ContainerService.getInstance(TeamWebService)
    let teamComponentService = ContainerService.getInstance(TeamComponentService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)


    let teamId = props.teamId
    let eventsViewModel = props.eventsViewModel
    let page = props.page
    let previousPage = props.previousPage
    let nextPage = props.nextPage


    $on('pageInit', async (e) => {
        await $update()
    })


    $on('pageReinit', async () => {
    })


    $on('pageBeforeIn', async () => {



        eventTarget.dispatchEvent(new CustomEvent('main-nav', {
            detail: {
            tabLink: "/l/standings", breadcrumbs: [
                { text: "Home", path: "/"},
                { 
                    text: teamWebService.getTeamName(teamComponentService.team), 
                    path: universeWebService.startDateLink(`/t/index/${teamComponentService.team._id}`) 
                }, { text: 'Rewards & Player Moves'}]
            }
        }))


        universeWebService.setMetadata(
                `${teamComponentService.team.city?.name ? teamComponentService.team.city.name : ''} ${teamComponentService.team.name} Activity - Ethereum Baseball League`, 
                window.location.href, 
                `${env.WEB}/image/thumbnail/1024/${teamComponentService.team.logoId}`, 
                `View the activity for ${teamComponentService.team.city?.name ? teamComponentService.team.city.name : ''} ${teamComponentService.team.name} in Ethereum Baseball League.`
        ) 


        await $update()


    })


    return $render

  }
</script>












