<template>

  <div class="page page-with-subnavbar" data-name="team-activity">

    <div class="page-content">

        <div class="hidden-on-load">

            <div class="fixed-width-content center">

                <div class="block">
                    <p class="segmented">
                        <a href="${universeWebService.fullLink(`/t/activity/index/${teamId}`)}" class="button button-outline tab-link ">Rewards & Player Moves</a>
                        <a href="${universeWebService.fullLink(`/t/activity/on/${teamId}`)}" class="button button-outline tab-link tab-link-active" >On-chain</a>
                    </p>
                </div>

                ${onChainEvents?.transactions?.length > 0 ? $h`

                    <div class="card card-outline card-header-divider">
                        <div class="card-header">On-chain Events</div>
                        <div class="card-content">
                            <${OnChainEvents} events="${onChainEvents}" />
                        </div>
                    </div>

                    
                ` : $h` 
                <div class="block">No activity</div>            
                `}


                <div class="block split-row-both">
                    <div>
                        ${previousPage ? $h`
                        <a data-reload-current="true" data-force="true" data-browser-history="true" href="/t/activity/on/${tokenId}?page=${previousPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-outline color-gray">Previous</a>
                        ` : $h` `}
                    </div>
                    <div>
                        ${nextPage ? $h`
                        <a data-reload-current="true" data-force="true" data-browser-history="true" href="/t/activity/on/${tokenId}?page=${nextPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-fill">Next</a>
                        ` : $h` `}
                    </div>
                </div>

            </div>


            

        </div>

        <div class="hide-on-pageinit">

          <div class="card skeleton-text">
            <div class="card-header">Home</div>
            <div class="card-content card-content-padding data-table">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
            </div>

          </div>

        </div>


        
     
    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"

  import dayjs from "dayjs"
  import { ContainerService } from "../../../service/container-service.ts"
  import { OwnerWebService } from "../../service/owner-web-service.ts"

  import { UniverseWebService } from "../../service/universe-web-service.ts"

  import { TeamComponentService } from "../../service/team-component-service.ts"
  import { TeamWebService } from "../../service/team-web-service.ts"

  import { Position } from "../../../service/enums.ts"

  // import OffChainEvents from "../activity/offchain-events.f7.html"
  import OnChainEvents from "../activity/onchain-events.f7.html"
  // import GameTransactions from "../activity/game-transaction-events.f7.html"

  export default (props, { $on, $, $f7, $update }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")
    let ownerWebService = ContainerService.getInstance(OwnerWebService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let teamComponentService = ContainerService.getInstance(TeamComponentService)
    let teamWebService = ContainerService.getInstance(TeamWebService)

    let startDate


    let onChainEvents = props.onChainEvents
    let page = props.page
    let previousPage = props.previousPage
    let nextPage = props.nextPage
    let teamId = props.teamId


    $on('pageInit', async (e) => {
        await $update()
    })


    $on('pageReinit', async () => {
    })


    $on('pageBeforeIn', async () => {


      eventTarget.dispatchEvent(new CustomEvent('main-nav', {
          detail: {
              tabLink: "/l/standings", 
              breadcrumbs: [
                  { text: "Home", path: "/"},

                  {
                      text: "Standings",
                      path: universeWebService.startDateLink(`/l/standings/${teamComponentService.team.leagueRank}`)
                  }, 
                  { 
                      text: teamWebService.getTeamName(teamComponentService.team), 
                      path: universeWebService.startDateLink(`/t/index/${teamComponentService.team._id}`) 
                  }, { text: 'Activity'}
              ]
          }
      }))


      universeWebService.setMetadata(
          `${teamComponentService.team.city?.name ? teamComponentService.team.city.name : ''} ${teamComponentService.team.name} Activity - Ethereum Baseball League`, 
          window.location.href, 
          `${env.WEB}/image/thumbnail/1024/${teamComponentService.team.logoId}`, 
          `View the activity for ${teamComponentService.team.city?.name ? teamComponentService.team.city.name : ''} ${teamComponentService.team.name} in Ethereum Baseball League.`
      ) 



      await $update()

      $('.hide-on-pageinit').hide()
      $('.hidden-on-load').show()


    })


    return $render

  }
</script>












