<template>

  <div class="page page-with-subnavbar" data-name="team-activity">

    <div class="page-content">

        <div class="hidden-on-load">

            <div class="block">
                <p class="segmented">
                    <a href="${universeWebService.fullLink(`/t/activity/${tokenId}`)}" class="button button-outline tab-link tab-link-active" >On-chain</a>
                    <a href="${universeWebService.fullLink(`/t/activity/off/${tokenId}`)}" class="button button-outline tab-link ">Off-chain</a>
                    <a href="${universeWebService.fullLink(`/t/activity/game/${tokenId}`)}" class="button button-outline tab-link ">Player Moves</a>
                </p>
            </div>


            ${onChainEvents?.length > 0 ? $h`
                <${OnChainEvents} events="${onChainEvents}" />
            ` : $h` 
              <div class="block">No activity</div>            
            `}


            <div class="block split-row-both">
              <div>
                  ${previousPage ? $h`
                  <a data-reload-current="true" data-force="true" data-browser-history="true" href="/t/activity/on/${tokenId}?page=${previousPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-outline color-gray">Previous</a>
                  ` : $h` `}
              </div>
              <div>
                  ${nextPage ? $h`
                  <a data-reload-current="true" data-force="true" data-browser-history="true" href="/t/activity/on/${tokenId}?page=${nextPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-fill">Next</a>
                  ` : $h` `}
              </div>
            </div>

        </div>

        <div class="hide-on-pageinit">

          <div class="card skeleton-text">
            <div class="card-header">Home</div>
            <div class="card-content card-content-padding data-table">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
            </div>

          </div>

        </div>


        
     
    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"

  import dayjs from "dayjs"
  import { ContainerService } from "../../../service/container-service.ts"
  import { OwnerWebService } from "../../service/owner-web-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"
  import { GameWebService } from "../../service/game-web-service.ts"

  import { TransactionWebService } from "../../service/transaction-web-service.ts"
  import { LoginWebService } from "../../service/login-web-service.ts"
  import { CityWebService } from "../../service/city-web-service.ts"
  import { TeamWebService } from "../../service/team-web-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  import { TeamComponentService } from "../../service/team-component-service.ts"

  import { UniverseContractService } from "../../../service/universe-contract-service.ts"
  import { StatService } from "../../../service/stat-service.ts"

  import { Position } from "../../../service/enums.ts"
  import { GameTransactionWebService } from "../../service/game-transaction-web-service.ts"

  // import OffChainEvents from "../activity/offchain-events.f7.html"
  import OnChainEvents from "../activity/onchain-events.f7.html"
  // import GameTransactions from "../activity/game-transaction-events.f7.html"

  export default (props, { $on, $, $f7, $update }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")
    let ownerWebService = ContainerService.getInstance(OwnerWebService)
    let walletService = ContainerService.getInstance("WalletService")
    let playerWebService = ContainerService.getInstance(PlayerWebService)
    let loginWebService = ContainerService.getInstance(LoginWebService)
    let gameWebService = ContainerService.getInstance(GameWebService)
    let cityWebService = ContainerService.getInstance(CityWebService)
    let teamWebService = ContainerService.getInstance(TeamWebService)
    let teamComponentService = ContainerService.getInstance(TeamComponentService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let transactionWebService = ContainerService.getInstance(TransactionWebService)
    let universeContractService = ContainerService.getInstance(UniverseContractService)
    let statService = ContainerService.getInstance(StatService)
    let gameTransactionWebService = ContainerService.getInstance(GameTransactionWebService)

    let team
    let tokenId 
    let startDate


    let onChainEvents = []
    let page = 1

    let previousPage 
    let nextPage





    $on('pageInit', async (e) => {
        await $update()
    })


    $on('pageReinit', async () => {
    })


    $on('pageBeforeIn', async () => {

      onChainEvents = props.onChainEvents
      page = props.page
      previousPage = props.previousPage
      nextPage = props.nextPage
      tokenId = props.tokenId

      $f7.emit('team-loaded')
      $f7.emit('refresh')

      await $update()

      $('.hide-on-pageinit').hide()
      $('.hidden-on-load').show()


    })


    return $render

  }
</script>












