<template>

    <div>

        <div class="block-title block-title-medium">Starting Lineup ${teamComponentService.team?.hasValidLineup ? $h`🟢 <span
                class="block-title-detail">The pitcher always bats 9th.</span>` : $h`🔴 <span
                class="block-title-detail">Lineup is invalid. Fix before queueing.</span>`}</div>

        <div
            class="block block-outline block-strong block-lineup-table ${teamComponentService.hasChanges ? $h`card-unsaved` : $h` `}">
            ${teamComponentService.selected == "stats" ? $h`
            <hitter-stats hitters=${displayHitters} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                movefilter="${moveFilter}" actions="${getActions('hitters', true)}" statprop="seasonStats">
                <select @change="${statsChange}" class="stats-dropdown">
                    <option value="stats" selected>Season Stats</option>
                    <option value="ratings">Ratings</option>
                </select>
            </hitter-stats>
            ` : $h` `}

            ${teamComponentService.selected == "ratings" ? $h`
            <hitter-ratings hitters=${displayHitters} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                movefilter="${moveFilter}" actions="${getActions('hitters', true)}">
                <select @change="${statsChange}" class="stats-dropdown">
                    <option value="stats">Season Stats</option>
                    <option value="ratings" selected>Ratings</option>
                </select>
            </hitter-ratings>
            ` : $h` `}

            ${teamComponentService.selected == "contracts" ? $h`
            <hitter-contracts hitters=${displayHitters} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                movefilter="${moveFilter}" actions="${getActions('hitters', true)}">
                <select @change="${statsChange}" class="stats-dropdown">
                    <option value="stats">Season Stats</option>
                    <option value="ratings">Ratings</option>
                </select>
            </hitter-contracts>
            ` : $h` `}
        </div>

        <div class="block-title block-title-medium ">
            Pitching Rotation <span class="block-title-detail">Set pitcher priority. The next starter has the highest
                stamina with rotation priority the tiebreaker.</span>
        </div>

        <div
            class="block block-outline block-strong block-lineup-table ${teamComponentService.hasChanges ? $h`card-unsaved` : $h` `}">

            ${teamComponentService.selected == "stats" ? $h`
            <pitcher-stats pitchers=${displayPitchers} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                movefilter="${moveFilter}" actions="${getActions('pitchers', true)}" statprop="seasonStats">
                <span />
            </pitcher-stats>
            ` : $h` `}

            ${teamComponentService.selected == "ratings" ? $h`
            <pitcher-ratings pitchers=${displayPitchers} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                movefilter="${moveFilter}" actions="${getActions('pitchers', true)}">
                <span />
            </pitcher-ratings>
            ` : $h` `}

            ${teamComponentService.selected == "contracts" ? $h`
            <pitcher-contracts pitchers=${displayPitchers} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                movefilter="${moveFilter}" actions="${getActions('pitchers', true)}">
                <span />
            </pitcher-contracts>
            ` : $h` `}

        </div>
    </div>

</template>



<script>

  import { ContainerService } from "../../../service/container-service"
  import { UniverseWebService } from "../../service/universe-web-service"
  import { TeamComponentService } from "../../service/team-component-service.ts"


  export default (props, { $, $on, $f7, $update, $f7route, $onMounted }) => {

    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let env = ContainerService.getInstance("env")()
    let teamComponentService = ContainerService.getInstance(TeamComponentService)

    let PAGE_SIZE = 25

    let displayHitters = teamComponentService.getDisplayHitters()
    let displayPitchers = teamComponentService.getDisplayPitchers()

    const refreshLineup = () => {

        displayHitters.length = 0
        displayHitters.push(...teamComponentService.getDisplayHitters())

        displayPitchers.length = 0
        displayPitchers.push(...teamComponentService.getDisplayPitchers())

        $f7.emit('roster-refresh-lineup')

    }

    const saveClick = async (e) => {

        try {
            await teamComponentService.save()

            await teamComponentService.loadTeam(teamComponentService.team._id, universeWebService.getStartDate(), { forceRefresh: true })

            resetMoves()

            refreshLineup()

            await $update()

            const toast = $f7.toast.create({
                text: 'Roster saved',
                closeTimeout: 5000,
                position: 'bottom',
                horizontalPosition: 'center',
                on: {
                    opened: function () { }
                }
            })

            toast.open()

        } catch (ex) {
            $f7.dialog.alert(ex.response.data, "There was an error")
        }

    }

    let rosterFilters = {
        position: undefined,
        name: undefined
    }

    let unrosteredFilters = {
        position: undefined,
        name: undefined
    }

    let moveFilter = {
        moveTarget: undefined,
        isMoveTarget: true,
        position: undefined,
        showEmpty: false
    }

    const moveActive = {}

    const resetMoves = () => {

        $('.button-move').addClass("button-outline")
        $('.button-move').removeClass("button-fill")
        $('.split-row-both a').show()
        $('.stats-dropdown').show()


        moveFilter.moveTarget = undefined
        moveFilter.isMoveTarget = true
        moveFilter.position = undefined
        moveFilter.showEmpty = false
        moveFilter.hidePitcherSlot = false

    }

    const moveRoster = (e) => {

        let actionRow = $(e.srcElement).data('action-row')
        let moveTarget = $(e.srcElement).data('move-target')

        //Get if move is already active
        let selectedId = moveActive[moveTarget]

        //Reset all move buttons
        resetMoves()

        moveFilter.moveTarget = moveTarget

        if (!selectedId) {

            moveFilter.moveTarget = moveTarget
            moveFilter.isMoveTarget = true
            moveFilter.position = undefined
            moveFilter.showEmpty = true
            moveFilter.hidePitcherSlot = true

            //Fill this one in.
            fillButton($(e.srcElement))

            $(`.action-row.${actionRow}`).show()

            $('.stats-dropdown').hide()

            moveActive[moveTarget] = $(e.srcElement).data('id')


        } else {

            let currentPlayerId = $(e.srcElement).data('id')
            let spot = $(e.srcElement).data('spot')

            if (currentPlayerId != selectedId) {
                teamComponentService.moveToRoster(selectedId, currentPlayerId, parseInt(spot), 0)
            }


            resetMoves()

            $('.stats-dropdown').show()

            $(`.action-row.${actionRow}`).hide()

            moveActive[moveTarget] = undefined

        }

        refreshLineup()


        $update()

    }

    const moveUnrostered = (e) => {

        let actionRow = $(e.srcElement).data('action-row')
        let moveTarget = $(e.srcElement).data('move-target')

        //Get if move is already active
        let activeId = moveActive[moveTarget]

        //Reset all move buttons
        resetMoves()

        if (!activeId) {

            moveFilter.moveTarget = moveTarget
            moveFilter.isMoveTarget = true
            moveFilter.position = $(e.srcElement).data('position')
            moveFilter.showEmpty = true

            //Fill this one in.
            fillButton($(e.srcElement))

            //Disable previous/next
            $('.split-row-both a').hide()
            $('.stats-dropdown').hide()



            moveActive[moveTarget] = $(e.srcElement).data('id')

        } else {

            resetMoves()

            $('.split-row-both a').show()
            $('.stats-dropdown').show()


            moveActive[moveTarget] = undefined

        }

        refreshLineup()


        $update()


    }

    const drop = (e) => {

        let moveTarget = $(e.srcElement).data('move-target')
        let actionRow = $(e.srcElement).data('action-row')

        let dropId = moveActive[moveTarget]

        //   teamComponentService.dropPlayer(dropId)

        // console.log(teamComponentService.rosterPlayers.map(p => p._id))


        moveActive[moveTarget] = undefined

        // updateDisplayRoster()

        $(`.action-row.${actionRow}`).hide()
        resetMoves()


        refreshLineup()

        $update()

    }

    const showMoveRoster = (p, moveTarget) => {

        if (moveFilter.hidePitcherSlot == true && p.fullName == "Pitcher Slot") return false
        if (moveFilter.moveTarget && moveFilter.moveTarget != moveTarget) return false
        if (moveFilter.showEmpty && p?._id == undefined) return true
        if (!p) return false
        if (p._id) return true
        if (moveActive[moveTarget] && (p._id != undefined || p.primaryPosition == moveFilter.position)) return true
        if (moveFilter.position && moveFilter.position == p.primaryPosition) return true

        return false
    }

    const showMoveRosterText = (p, moveTarget) => {
        if (moveActive[moveTarget]) return "Here"
        return "Move"
    }

    const showMoveUnrostered = (p, moveTarget) => {
        if (moveActive[moveTarget] == p._id) return true
        if (moveActive[moveTarget]) return false
        if (moveFilter.position && moveFilter.position != p.primaryPosition) return false
        return true
    }

    const getActions = (type, isRostered) => {

        return () => {


            if (teamComponentService.isTeamOwner() && !teamComponentService.team.isQueued ) {

                switch (type) {
                    case "hitters":
                        return isRostered ? rosterHittersActions : unrosteredHittersActions
                    case "pitchers":
                        return isRostered ? rosterPitchersActions : unrosteredPitchersActions
                }

            } else {
                return undefined
            }

        }


    }

    let rosterHittersActions = {
        drop: drop,
        move: moveRoster,
        moveTarget: "roster-hitters",
        isMoveTarget: "true",
        showMove: (p) => {
            return showMoveRoster(p, "roster-hitters")
        },
        moveText: (p) => {
            return showMoveRosterText(p, "roster-hitters")
        }
    }

    let rosterPitchersActions = {
        drop: drop,
        move: moveRoster,
        moveTarget: "roster-pitchers",
        isMoveTarget: "true",
        showMove: (p) => {
            return showMoveRoster(p, "roster-pitchers")
        },
        moveText: (p) => {
            return showMoveRosterText(p, "roster-pitchers")
        }
    }

    let unrosteredHittersActions = {
        move: moveUnrostered,
        moveTarget: "roster-hitters",
        isMoveTarget: "false",
        showMove: (p) => {
            return showMoveUnrostered(p, "roster-hitters")
        },
        moveText: (p) => {
            return "Move"
        }
    }

    let unrosteredPitchersActions = {
        move: moveUnrostered,
        moveTarget: "roster-pitchers",
        isMoveTarget: "false",
        showMove: (p) => {
            return showMoveUnrostered(p, "roster-pitchers")
        },
        moveText: (p) => {
            return "Move"
        }
    }

    const statsChange = async (e) => {

        teamComponentService.selected = $(e.srcElement).val()

        refreshLineup()

        await $update()

    }

    const positionClick = (e) => {

        // currentPage = 0

        $('.position a').removeClass("active")
        $(e.srcElement).addClass("active")

        $('#playerSearch').val("")

        let value = $(e.srcElement).data('pos')

        unrosteredFilters.position = value

        // updateDisplayRoster()

        // setCurrentPage()


        refreshLineup()


        $update()

    }

    const fillButton = (element) => {
        element.removeClass("button-outline")
        element.addClass("button-fill")
    }

    $f7.off('save-roster-click')
    $f7.on('save-roster-click', (e) => {
        console.log('save click')
        saveClick(e)
    })

    return $render
  }
</script>