<template>

    <div>

        <div class="block-title block-title-medium lineup-title-row">
            <span class="lineup-title-text">Starting Lineup</span>

            <div class="tx-toolbar">

                ${teamComponentService.isTeamOwner() && !teamComponentService.team.isQueued ? $h`
                    
                    <div class="tx-toolbar-left">
                        <a class="button button-small button-outline" href="${universeWebService.startDateLink(`/players/?rank=0`)}">➕ Add Players</a>
                        <a class="button button-small button-outline" @click="${dropPlayersClick}">${showDropButtons ? 'Cancel Drop' : '⛔ Drop Players'}</a>
                    </div>

                ` : $h` ` }




                <div class="tx-toolbar-right">
                    <select @change="${statsChange}" class="tx-toolbar-select button button-outline">
                        <option value="stats" selected>Stats</option>
                        <option value="ratings">Ratings</option>
                    </select>
                </div>
            </div>
        </div>

        <div class=" block-lineup-table ${teamComponentService.hasChanges ? $h`card-unsaved` : $h` `} stat-table-wrapper">
        
            ${teamComponentService.selected == "stats" ? $h`
                <hitter-stats hitters=${displayHitters} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                    movefilter="${moveFilter}" actions="${getActions('hitters', true)}" statprop="seasonStats">
                </hitter-stats>
            ` : $h` `}

            ${teamComponentService.selected == "ratings" ? $h`
                <hitter-ratings hitters=${displayHitters} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                    movefilter="${moveFilter}" actions="${getActions('hitters', true)}">
                </hitter-ratings>
            ` : $h` `}

        </div>

        <div class="block-title block-title-medium ">
            Pitching Rotation <span class="block-title-detail">Set pitcher priority. The next starter has the highest stamina with rotation priority the tiebreaker.</span>
        </div>

        <div class="block block-outline block-lineup-table ${teamComponentService.hasChanges ? $h`card-unsaved` : $h` `} stat-table-wrapper">
            ${teamComponentService.selected == "stats" ? $h`
                <pitcher-stats pitchers=${displayPitchers} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters}
                    movefilter="${moveFilter}" actions="${getActions('pitchers', true)}" statprop="seasonStats">
                    <span />
                </pitcher-stats>
            ` : $h` `}

            ${teamComponentService.selected == "ratings" ? $h`
                <pitcher-ratings pitchers=${displayPitchers} sortable="false" pagesize=${PAGE_SIZE} filters=${rosterFilters} movefilter="${moveFilter}" actions="${getActions('pitchers', true)}">
                    <span />
                </pitcher-ratings>
            ` : $h` `}
        </div>

        <div class="popup drop-popup">
            <div class="view">
            <div class="page">
                <div class="navbar">
                <div class="navbar-bg"></div>
                <div class="navbar-inner">
                    <div class="title">Drop Player</div>
                    <div class="right">
                    <!-- Link to close popup -->
                    <a class="link popup-close">Close</a>
                    </div>
                </div>
                </div>
                <div class="page-content">

                    <div class="block">

                        ${canAffordDrop ? $h`

                            <p>
                            Are you sure you want to drop ${dropPlayer?.fullName}? They will become a free agent that can be signed by any team.
                            </p>
                            
                            <a @click="${dropButtonClick}" class="button button-fill color-red drop-button">Drop</a>
                            
                        ` : $h`                         
                            You need a balance of at least ${universeWebService.displayDiamonds(teamComponentService.team?.minimumPlayerSalary)} to drop a player.
                        `}

                    </div>

                </div>
            </div>
            </div>
        </div>


    </div>

</template>



<script>

  import { ContainerService } from "../../../service/container-service"
  import { UniverseWebService } from "../../service/universe-web-service"
  import { TeamComponentService } from "../../service/team-component-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"


  export default (props, { $, $on, $f7, $update, $f7route, $onMounted }) => {

    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let env = ContainerService.getInstance("env")()
    let teamComponentService = ContainerService.getInstance(TeamComponentService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)

    let PAGE_SIZE = 25

    let displayHitters = teamComponentService.getDisplayHitters()
    let displayPitchers = teamComponentService.getDisplayPitchers()

    let dropPlayer
    let canAffordDrop = teamComponentService.canAffordDrop()


    let showDropButtons = false

    const dropPlayersClick = async (e) => {
        showDropButtons = !showDropButtons
        await $update()
    }

    const dropButtonClick = async (e) => {

      try {

        if (teamComponentService.hasChanges) {
            await teamComponentService.save()
        }

        await playerWebService.dropPlayer(dropPlayer)
        $f7.popup.close('.drop-popup')
        $f7.views.main.router.refreshPage()

        const toast = $f7.toast.create({
            text: 'Player dropped successfully.',
            closeTimeout: 5000,
            position: 'bottom',
            horizontalPosition: 'center',
            on: {
                opened: function () { }
            }
        })

        toast.open()

      } catch(ex) {
        $f7.dialog.alert(ex.message)
      }
    }


    const refreshLineup = () => {

        displayHitters.length = 0
        displayHitters.push(...teamComponentService.getDisplayHitters())

        displayPitchers.length = 0
        displayPitchers.push(...teamComponentService.getDisplayPitchers())

        $f7.emit('roster-refresh-lineup')

    }

    const saveClick = async (e) => {

        try {
            await teamComponentService.save()

            await teamComponentService.loadTeam(teamComponentService.team._id, universeWebService.getStartDate(), { forceRefresh: true })

            resetMoves()

            refreshLineup()

            await $update()

            const toast = $f7.toast.create({
                text: 'Roster saved',
                closeTimeout: 5000,
                position: 'bottom',
                horizontalPosition: 'center',
                on: {
                    opened: function () { }
                }
            })

            toast.open()

        } catch (ex) {
            $f7.dialog.alert(ex.response.data, "There was an error")
        }

    }

    let rosterFilters = {
        position: undefined,
        name: undefined
    }

    let unrosteredFilters = {
        position: undefined,
        name: undefined
    }

    let moveFilter = {
        moveTarget: undefined,
        isMoveTarget: true,
        position: undefined,
        showEmpty: false
    }

    const moveActive = {}

    const resetMoves = () => {

        $('.button-move').addClass("button-outline")
        $('.button-move').removeClass("button-fill")
        $('.split-row-both a').show()
        $('.stats-dropdown').show()


        moveFilter.moveTarget = undefined
        moveFilter.isMoveTarget = true
        moveFilter.position = undefined
        moveFilter.showEmpty = false
        moveFilter.hidePitcherSlot = false

    }

    const moveRoster = (e) => {

        let actionRow = $(e.srcElement).data('action-row')
        let moveTarget = $(e.srcElement).data('move-target')

        //Get if move is already active
        let selectedId = moveActive[moveTarget]

        //Reset all move buttons
        resetMoves()

        moveFilter.moveTarget = moveTarget

        if (!selectedId) {

            moveFilter.moveTarget = moveTarget
            moveFilter.isMoveTarget = true
            moveFilter.position = undefined
            moveFilter.showEmpty = true
            moveFilter.hidePitcherSlot = true

            //Fill this one in.
            fillButton($(e.srcElement))

            $(`.action-row.${actionRow}`).show()

            $('.stats-dropdown').hide()

            moveActive[moveTarget] = $(e.srcElement).data('id')


        } else {

            let currentPlayerId = $(e.srcElement).data('id')
            let spot = $(e.srcElement).data('spot')

            if (currentPlayerId != selectedId) {
                teamComponentService.moveToRoster(selectedId, currentPlayerId, parseInt(spot), 0)
            }


            resetMoves()

            $('.stats-dropdown').show()

            $(`.action-row.${actionRow}`).hide()

            moveActive[moveTarget] = undefined

        }

        refreshLineup()


        $update()

    }

    const moveUnrostered = (e) => {

        let actionRow = $(e.srcElement).data('action-row')
        let moveTarget = $(e.srcElement).data('move-target')

        //Get if move is already active
        let activeId = moveActive[moveTarget]

        //Reset all move buttons
        resetMoves()

        if (!activeId) {

            moveFilter.moveTarget = moveTarget
            moveFilter.isMoveTarget = true
            moveFilter.position = $(e.srcElement).data('position')
            moveFilter.showEmpty = true

            //Fill this one in.
            fillButton($(e.srcElement))

            //Disable previous/next
            $('.split-row-both a').hide()
            $('.stats-dropdown').hide()



            moveActive[moveTarget] = $(e.srcElement).data('id')

        } else {

            resetMoves()

            $('.split-row-both a').show()
            $('.stats-dropdown').show()


            moveActive[moveTarget] = undefined

        }

        refreshLineup()


        $update()


    }

    const drop = async (e) => {

        let dropId = $(e.srcElement).data('id')

        dropPlayer = teamComponentService.rosterPlayers.find(p => p._id == dropId)

        await $update()

        $f7.popup.open('.drop-popup')

        console.log(dropPlayer)

        //   teamComponentService.dropPlayer(dropId)



        // moveActive[moveTarget] = undefined

        // // updateDisplayRoster()

        // $(`.action-row.${actionRow}`).hide()
        // resetMoves()


        // refreshLineup()

        // $update()

    }

    const showDropRoster = (p) => {

        if (!showDropButtons) return false
        if (p?._id) return true

        return false
    }



    const showMoveRoster = (p, moveTarget) => {

        if (showDropButtons) return false
        if (moveFilter.hidePitcherSlot == true && p.fullName == "Pitcher Slot") return false
        if (moveFilter.moveTarget && moveFilter.moveTarget != moveTarget) return false
        if (moveFilter.showEmpty && p?._id == undefined) return true
        if (!p) return false
        if (p._id) return true
        if (moveActive[moveTarget] && (p._id != undefined || p.primaryPosition == moveFilter.position)) return true
        if (moveFilter.position && moveFilter.position == p.primaryPosition) return true

        return false
    }

    const showMoveRosterText = (p, moveTarget) => {
        if (moveActive[moveTarget]) return "Here"
        return "Move"
    }

    const showMoveUnrostered = (p, moveTarget) => {
        if (moveActive[moveTarget] == p._id) return true
        if (moveActive[moveTarget]) return false
        if (moveFilter.position && moveFilter.position != p.primaryPosition) return false
        return true
    }

    const getActions = (type, isRostered) => {

        return () => {


            if (teamComponentService.isTeamOwner() && !teamComponentService.team.isQueued ) {

                switch (type) {
                    case "hitters":
                        return rosterHittersActions
                    case "pitchers":
                        return rosterPitchersActions
                }

            } else {
                return undefined
            }

        }


    }

    let rosterHittersActions = {

        drop: drop,

        showDrop: (p) => {
            return showDropRoster(p)
        },

        moveTarget: "roster-hitters",
        isMoveTarget: "true",

        move: moveRoster,
        showMove: (p) => {
            return showMoveRoster(p, "roster-hitters")
        },
        moveText: (p) => {
            return showMoveRosterText(p, "roster-hitters")
        }
    }

    let rosterPitchersActions = {

        drop: drop,

        showDrop: (p) => {
            return showDropRoster(p)
        },

        moveTarget: "roster-pitchers",
        isMoveTarget: "true",
        move: moveRoster,
        showMove: (p) => {
            return showMoveRoster(p, "roster-pitchers")
        },
        moveText: (p) => {
            return showMoveRosterText(p, "roster-pitchers")
        }
    }

    const statsChange = async (e) => {

        teamComponentService.selected = $(e.srcElement).val()

        refreshLineup()

        await $update()

    }

    const positionClick = (e) => {

        // currentPage = 0

        $('.position a').removeClass("active")
        $(e.srcElement).addClass("active")

        $('#playerSearch').val("")

        let value = $(e.srcElement).data('pos')

        unrosteredFilters.position = value

        // updateDisplayRoster()

        // setCurrentPage()


        refreshLineup()


        $update()

    }

    const fillButton = (element) => {
        element.removeClass("button-outline")
        element.addClass("button-fill")
    }


    $f7.off('save-roster-click')
    $f7.on('save-roster-click', (e) => {
        saveClick(e)
    })

    return $render
  }
</script>