<template>

  <div class="page page-with-subnavbar" data-name="team-schedule">

    <div class="page-content">

        <div class="card card-outline card-header-divider">

            <div class="card-header">
                <input type="text" placeholder="Month" readonly="readonly" id="picker-date" />
            </div>

            <div class="card-content card-content-padding">
                <${GameLogs} logs="${gameLogs}" />
            </div>

        </div>

     
    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"
  import GameLogs from "./schedule-table.f7.html"

  import dayjs from "dayjs"
  import { ContainerService } from "../../../service/container-service.ts"

  import { UniverseWebService } from "../../service/universe-web-service.ts"



  import { Position } from "../../../service/enums.ts"


  export default (props, { $on, $, $f7, $update }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let tokenId
    let startDate

    let date
    let gameLogs = []
    let picker

    const PAGE_SIZE = 25


    const showRating = (before, after) => {

        if (!after) return before.toFixed(0)

        let change = after - before

        return `${after.toFixed(0)} (${change > 0 ? "+" : ""}${(change).toFixed(0)})`
    }

    const pickerChange = (picker, values, displayValues) => {

        let date = dayjs(`${values[1]}-${values[0] + 1}-01`).toDate()

        if (picker.cols?.length > 0) {
            picker.cols[0].setValue(values[1])
            picker.cols[1].setValue(values[0])
        }

    }

    const pickerClose = (picker, values, displayValues) => {

        let date = dayjs(`${picker.getValue()[1]}-${parseInt(picker.getValue()[0]) + 1}-01`).toDate()

        $f7.views.main.router.navigate(universeWebService.startDateLink(`/t/schedule/${tokenId}?date=${dayjs(date).format('YYYY-MM-DD')}`), { reloadCurrent: true })

    }



    const initPicker = (theDate) => {

        // Inline date-time
        const d = dayjs(theDate).toDate()
        picker = $f7.picker.create({
            inputEl: '#picker-date',
            value: [
                d.getMonth(),
                d.getFullYear()
            ],
            formatValue: function (values, displayValues) {
                return displayValues[0] + ' ' + values[1];
            },
            cols: [
                // Months
                {
                    values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    displayValues: ('January February March April May June July August September October November December').split(' '),
                    textAlign: 'left'
                },
                // Years
                {
                    values: (function () {
                        var arr = [];
                        for (var i = 1950; i <= 2030; i++) { arr.push(i); }
                        return arr;
                    })(),
                }
            ],
            on: {
                change: pickerChange,
                close: pickerClose
            }
        })

    }

    $on('pageInit', async (e) => {
        

    })


    $on('pageReinit', async () => {
    })


    $on('pageBeforeIn', async () => {

        tokenId = props.tokenId
        date = props.date

        gameLogs.length = 0
        gameLogs.push(...props.gameLogs)

        $f7.emit('team-loaded')
        $f7.emit('refresh')

        initPicker(date)

        await $update()

    })


    return $render

  }
</script>













