<template>

  <div class="page page-with-subnavbar" data-name="standings">

    <div class="page-content">

        <div class="hidden-on-load">

          <${StartDate} />

          <form class="list" id="change-standings">
            <ul>


              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Season</div>
                  <div class="item-input-wrap">
                    <select name="startDate" class="rank-dropdown" @change="${startDateChange}" id="select-start-date">
                      ${viewModel?.seasons?.map( (s, index) => $h`

                        ${s.startDate == universeWebService.startDate ? $h`
                          <option value="${s.startDate}" selected >${s.startDate}</option>
                        ` : $h` 
                          <option value="${s.startDate}">${s.startDate}</option>
                        `}

                      `)}
                    </select>
                  </div>
                </div>
              </li>
              
            </ul>
          </form>


          <div class="card card-outline">
            <div class="card-content card-content-padding">
              <div class="stat-table-wrapper">
                <table class="data-table standings">

                    ${viewModel?.leagueVms?.length > 0 ? $h`
                      
                      ${viewModel?.leagueVms?.map( (l, index) => $h`
                        
                        ${l.viewModels?.length > 0 ? $h`
              
                          <thead>
                            <tr>
                              <th @click=${sortStandings} data-sort="rank"><a id="league-${l.league.rank}" style="scroll-margin: 100px;"/>Overall Rank</th>
                              <th @click=${sortStandings} class="name label-cell" data-sort="city.name">Name</th>
                              <th @click=${sortStandings} data-sort="overallRecord.wins">Wins</th>
                              <th @click=${sortStandings} data-sort="overallRecord.losses">Losses</th>
                              <th @click=${sortStandings} data-sort="overallRecord.winPercent">Win%</th>
                              <th @click=${sortStandings} data-sort="overallRecord.gamesBack">GB</th>
            
                              <th @click=${sortStandings} data-sort="seasonRating.rating">Rating</th>
                              <th @click=${sortStandings} data-sort="financeSeasonDecimal.diamondBalance">Cash</th>
                              <th @click=${sortStandings} data-sort="financeSeasonDecimal.revenue">Revenue</th>
                              <th @click=${sortStandings} data-sort="financeSeasonDecimal.expenses">Expenses</th>
                              <th @click=${sortStandings} data-sort="financeSeasonDecimal.profit">Profit</th>
                              <th @click=${sortStandings} data-sort="teamCost.ethCostDecimal">Cost</th>

            
            
                            </tr>
                          </thead>

                          <tbody>
                            ${l.viewModels?.map( (t, index) => $h`
                              
                              <tr class="${isPromoted(t) ? $h`promoted` : $h` `} ${isRelegated(t) ? $h`relegated` : $h` `}">
                              
                                <td>${teamWebService.getOverallRank(t.rank, l.league.rank, l.viewModels.length)}</td>
          
                                <td class="name label-cell image" >
                                  
                                  <a href="${ universeWebService.startDateLink(`/t/${t.tokenId}`)  }">
                                    <img src="/image/thumbnail/${t.logoId}" width="25" height="25" style="margin-right: 5px; margin-left: 5px;"/> 
                                    ${t.city.name} ${t.name}
                                  </a>
                                </td>
                                <td>${t.overallRecord.wins}</td>
                                <td>${t.overallRecord.losses}</td>
                                <td class="numeric-cell">${statService.formatRatio(t.overallRecord.winPercent)}</td>
                                <td>${t.overallRecord.gamesBack}</td>
                                <td class="numeric-cell">${t.seasonRating.rating.toFixed(0)}</td>
                                <td class="numeric-cell">${universeWebService.displayDiamonds(t.financeSeason.diamondBalance)}</td>
                                <td class="numeric-cell">${universeWebService.displayDiamonds(t.financeSeason.revenue.seasonToDate.total)}</td>
                                <td class="numeric-cell">${universeWebService.displayDiamonds(t.financeSeason.expenses.seasonToDate.total)}</td>
                                <td class="numeric-cell">${universeWebService.displayDiamonds(t.financeSeason.profit.seasonToDate.total)}</td>
                                <td class="numeric-cell">${t.teamCost?.ethCost ? $h`${FixedNumber.fromString(ethers.formatUnits(t.teamCost.ethCost, 'ether')).round(3).toString()} ETH` : $h` `}</td>  

                              </tr>
                            `)}
          
                            <tr class="total">
                              <td class="numeric-cell" colspan="7"></td>
                              <td class="numeric-cell">${universeWebService.displayDiamonds(l.leagueFinance.cash)}</td>
                              <td class="numeric-cell">${universeWebService.displayDiamonds(l.leagueFinance.revenue)}</td>
                              <td class="numeric-cell">${universeWebService.displayDiamonds(l.leagueFinance.expenses)}</td>
                              <td class="numeric-cell">${universeWebService.displayDiamonds(l.leagueFinance.profit)}</td>
                              <td class="numeric-cell">${FixedNumber.fromString(ethers.formatUnits(l.leagueFinance.teamCost, 'ether')).round(3).toString()} ETH</td>

                            </tr>
                          </tbody>


                  
                        ` : $h` `}

                      `)}
                      
                    ` : $h` `}
                      



                </table>
              </div>
            </div>
          </div>
            
        </div>

        <div class="hide-on-pageinit">

            <div class="card skeleton-text">
                <div class="card-header">Standings</div>
                <div class="card-content card-content-padding data-table">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
                </div>

              </div>

        </div>

    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"
  import Toolbar from "../common/toolbar.f7.html"

  import { ContainerService } from "../../../service/container-service"
  import { TransactionWebService } from "../../service/transaction-web-service.ts"
  import { TeamWebService } from "../../service/team-web-service.ts"
  import { StatService } from "../../../service/stat-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  import dayjs from "dayjs"
  import { ethers, FixedNumber } from "ethers"
  import StartDate from "../common/start-date.f7.html"


  export default (props, { $, $on, $f7, $update }) => {

    let eventTarget = ContainerService.getInstance("eventTarget")
    let playerWebService = ContainerService.getInstance(PlayerWebService)
    let teamWebService = ContainerService.getInstance(TeamWebService)
    let transactionWebService = ContainerService.getInstance(TransactionWebService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let statService = ContainerService.getInstance(StatService)

    let teams = []
    let pageNumber = 0

    let viewModel


    let rank

    const isPromoted = (t) => {
      if (!viewModel.season.promotionRelegationLog) return false
      let log = viewModel.season.promotionRelegationLog.find( l => l._id == t._id)
      if (!log) return false
      if (log.previousRank > log.rank) return true
      return false
    }

    const isRelegated = (t) => {
      if (!viewModel.season.promotionRelegationLog) return false
      let log = viewModel.season.promotionRelegationLog.find( l => l._id == t._id)
      if (!log) return false
      if (log.rank > log.previousRank) return true
      return false
    }

    const startDateChange = (e) => {

      universeWebService.startDate = $(e.target).val()

      let url = `/standings?rank=${universeWebService.getRank()}&startDate=${universeWebService.getStartDate()}` 

      $f7.views.main.router.navigate(url, { reloadCurrent: true })

    }

    const rankChange = (e) => {

      let rank = $(e.target).val()
      
      let url = `/standings?rank=${universeWebService.getRank()}&startDate=${universeWebService.getStartDate()}` 

      $f7.views.main.router.navigate(url, { reloadCurrent: true })

    }



    const sortStandings = (e) => {

      playerWebService.sortMultiple($, e, '.standings', viewModel.leagueVms.map( lvm => lvm.viewModels) )
      $update()

    }

    const loadStandings = async () => {

        $f7.preloader.show()

        try  {
            viewModel = await teamWebService.listByLeagueRank(universeWebService.getRank(), universeWebService.startDate)
            // viewModel.leagueVms.map( vm => vm )

        } catch(ex) { console.log(ex) }
        
        $('.hidden-on-load').removeClass('hidden-on-load')

        await $update()

        $f7.preloader.hide()


    }


    $on('pageBeforeIn', async (e) => {

      //Fetch env variables
      universeWebService.setStartDate($f7.views.main.router.currentRoute?.query?.startDate, $f7.views.main.router.currentRoute)
      universeWebService.setRank($f7.views.main.router.currentRoute?.query?.rank || 1)

      await loadStandings()
      
      eventTarget.dispatchEvent(new CustomEvent('main-nav', {
        detail: { tabLink: "/standings", breadcrumbs:[{ text: "Standings" }] }
      }))

      await $update()

      if (universeWebService.getRank() > 1) {
        let anchor = document.getElementById(`league-${universeWebService.getRank()}`)
        anchor.scrollIntoView({behavior: "smooth"})
      }


      $('.hide-on-pageinit').hide()
      $('.hidden-on-load').removeClass('hidden-on-load')


    })


    $on('pageInit', async () => {
      

    })


    return $render
  }
</script>