<template>

  
  <div class="navbar">
    
    <div class="navbar-bg"></div>

    <div class="navbar-inner sliding">

      <div class="left">

        <div class="small-only-flex">
          <a href="/" class="link icon-only back" aria-label="Home">
            <img src="${logo}" width="42" height="42" alt="Logo" />
          </a>
        </div>

        <div class="large-only-flex">

          <a href="/" class="link icon-only" aria-label="Home">
            <img src="${logo}" width="70" height="70" style="margin-left: 25px;" alt="Logo"  />
          </a>

          <a href="${universeWebService.startDateLink(`/l/standings/${universeWebService.getRank()}`)}" class="link color-white first ${tabLink == `/l/standings` ? 'active' : ''}" >Standings</a>
          <a href="${universeWebService.fullLink(`/games`)}" class="link color-white ${tabLink == '/games' ? 'active' : ''}">Scores</a>
          <a href="${universeWebService.fullLink(`/players/`)}"  class="link color-white ${tabLink == '/players/' ? 'active' : ''}">Players</a>
          <a href="/u/owners" class="link color-white ${tabLink == '/u/owners' ? 'active' : ''}">Owners</a>
          <a href="/activity"  class="link color-white ${tabLink == '/activity' ? 'active' : ''}">Activity</a>
          <a href="/about"  class="link color-white ${tabLink == '/about' ? 'active' : ''}">About</a>


        </div>


      </div>

      <!-- <div class="title">
        <div class="segmented segmented-round	">

        </div>
      </div> -->

      <div class="right">

        ${authInfo ? $h`
          <a data-popup=".logged-in-popup" href="#" class="popup-open icon-only"><i class="f7-icons text-color-white">person_circle</i></a>
        ` : $h`
          <a data-popup=".login-popup" href="#" class="popup-open icon-only">Login</a>
        `}

        
      </div>

      ${subnavVisible ? $h`
        <div class="subnavbar">
          <div class="subnavbar-inner">


          ${breadcrumbs?.length > 0 ? $h`

              <div class="breadcrumbs ">

                ${breadcrumbs?.length == 1 ? $h`
                  <div class="breadcrumbs-item">${breadcrumbs[0].text}</div>
                ` : $h`

                    ${breadcrumbs.map( b => $h`
                      
                      <div class="breadcrumbs-item">
                        ${b.path ? $h`
                          <a href="${b.path}" class="link">
                            ${b.text}
                          </a>
                        ` : $h`${b.text}`}
                      </div>  

                      ${b.path ? $h`
                        <div class="breadcrumbs-separator"></div>
                      ` : $h`<span />`}

                    `)}

                `}

              </div>

          ` : $h` `} 



          </div>
        </div>
      ` : $h` `}



    </div>


    <div class="popup login-popup">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">
                Login
              </div>
              <div class="right">
                <!-- Link to close popup -->
                <a class="link popup-close">Close</a>
              </div>
            </div>
          </div>
          <div class="page-content">

            <div class="list links-list list-outline list-strong">
              <ul>
                <li>
                  <a @click="${loginWithWallet}" class="list-button popover-close">Wallet</a>
                </li>
                <li>
                  <a href="/auth/discord" class="list-button popover-close external">Discord</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="popup logged-in-popup">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">
                Profile
              </div>
              <div class="right">
                <!-- Link to close popup -->
                <a class="link popup-close">Close</a>
              </div>
            </div>
          </div>
          <div class="page-content">

              ${authInfo?._id ? $h`

                ${authInfo?.address ? $h`

                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Wallet</div>
                    <div class="card-content card-content-padding">

                      <div class="list links-list list-outline">
                        <ul>

                          <li>
                            <div class="item-content">

                                <div class="item-inner">
                                  <div class="item-title-row">
                                    <div class="item-title">Address</div>
                                  </div>
                                  <div class="item-text">
                                    <a class="popup-close" href="/u/activity?address=${authInfo.address}">${walletService.truncateEthAddress(authInfo.address)}</a>
                                  </div>
                                </div>

                            </div>
                          </li>

                          <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                      Diamond Balance
                                    </div>
                                    <div class="item-after">
                                        ${universeWebService.displayDiamonds(authInfo.diamondBalance)}
                                    </div>
                                    
                                </div>
                            </div>
                          </li>

                        </ul>
                      </div>

                    </div>
                  </div>

                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Rewards</div>
                    <div class="card-content card-content-padding">

                      <div class="list links-list list-outline">
                        <ul>

                          <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                      Available Rewards
                                    </div>
                                    <div class="item-after">

                                      ${authInfo.offChainDiamondBalance && BigInt(authInfo.offChainDiamondBalance) > 0 ? $h`
                                        <a class="button button-fill text-color-white" @click="${mintDiamondsClick}">Mint ${universeWebService.displayDiamonds(authInfo.offChainDiamondBalance)}</a>
                                      ` : $h`
                                        ${universeWebService.displayDiamonds(authInfo.offChainDiamondBalance || 0)}
                                      `}

                                    </div>
                                </div>
                            </div>
                          </li>

                        </ul>
                      </div>

                      ${authInfo.diamondMintPasses?.length > 0 ? $h`

                        <br />
                        <hr/>

                        <div class="block-title block-title-small">Reward Mint Passes</div>

                        <div class="block">
                          <div class="list media-list">
                            <ul>

                              ${authInfo.diamondMintPasses.map( mp => $h`
                                <li>
                                  <div class="item-content">
                                      <div class="item-inner">
                                        <div class="item-title-row">
                                          <div class="item-title">${universeWebService.displayDiamonds(mp.amount)}</div>
                                          <div class="item-after">

                                            ${mp.r && mp.s && mp.v ? $h`
                                              <a class="button button-outline" @click="${mintPassClick}" data-id="${mp._id}">Redeem</a>
                                            ` : $h`
                                              Processing...
                                            `}
                                            
                                          </div>
                                        </div>
                                        <div class="item-text">Expires ${dayjs(mp.expires * 1000 ).fromNow()}</div>
                                      </div>

                                  </div>
                                </li>
                              `)}

                            </ul>
                          </div>
                        </div>

                      
                      ` : $h` `}


                    </div>
                  </div>

                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Account</div>
                    <div class="card-content card-content-padding">

                      <div class="list links-list list-outline">
                        <ul>

                          <li>
                              <a @click="${linkUserClicked}" class="link">Link Different Wallet</a>
                          </li>
                          <li>
                              <a @click="${unlinkUserClicked}" class="link">Unlink Wallet</a>
                          </li>
                          <li>
                            <a href="/auth/logout" class="link external">Logout</a>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>

                ` : $h`
                
                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Account</div>
                    <div class="card-content card-content-padding">
                      <div class="list links-list list-outline">
                        <ul>
                          <li>
                              <a href="/auth/logout" class="link external">Logout</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>


                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Link Wallet</div>
                    <div class="card-content card-content-padding">
                      <p>Sign a message with your wallet to link your account to your wallet.</p>
                      <p>This verifies your control of the wallet and does not submit a transaction.</p>
                      <a @click="${linkUserClicked}" class="button button-fill small-button" style="margin-bottom: 10px;">Begin Signing</a>
                    </div>
                  </div>

                `}


                ${isAdmin ? $h`

                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Contract Details</div>
                    <div class="card-content card-content-padding">
                      <strong>Current Balance:</strong> ${universeWebService.displayETH(contractBalance)}

                      <div class="segmented">
                        <a @click=${withdrawClick} class="button button-outline">Withdraw</a>
                        <a @click=${updateMetadataClick} class="button button-outline">Update Metadata</a>
                      </div>


                    </div>
                  </div>

                ` : $h` `}


              ` : $h` ` }


          </div>
        </div>
      </div>
    </div>


  </div>

</template>



<script>

  import { ContainerService } from "../../../service/container-service"
  import { WalletService } from "../../../service/wallet-service"
  import { LoginWebService } from "../../service/login-web-service"
  import { DiamondWebService } from "../../service/diamond-web-service"
  import { UniverseWebService } from "../../service/universe-web-service"

  import logo from "../../html/images/logo.png"
  import { ethers } from "ethers"
  import dayjs from "dayjs"

  export default (props, { $, $on, $f7, $update, $f7route, $onMounted }) => {

    let walletService = ContainerService.getInstance("WalletService")
    let eventTarget = ContainerService.getInstance("eventTarget")
    let loginWebService = ContainerService.getInstance(LoginWebService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let diamondWebService = ContainerService.getInstance(DiamondWebService)
    let env = ContainerService.getInstance("env")()

    let showHome
    let showBack
    let tabLink 
    let authInfo
    let breadcrumbs
    let walletAddress
    let showConnect = true
    let diamondBalance = 0
    let subnavVisible = false
    let isAdmin = false
    let contractBalance



    const unlinkUserClicked = async (e) => {

      $f7.dialog.confirm("Are you sure?", "Unlink Wallet", async () => {

          let result = await fetch('/auth/unlink', {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              }
          })


          if (result.status == 500) {
              $f7.dialog.alert(undefined, "There was an error")
          } else {
              $f7.dialog.alert(undefined, "Success!")
              window.location.reload()
          }


      }, () => { })

    }

    const linkUserClicked = async (e) => {

      let result = await loginWebService.confirmOwnership(authInfo)

      if (result.status == 500) {
        $f7.dialog.alert(undefined, "There was an error")
      } else {
        $f7.dialog.alert(undefined, "Success!")
      }

      window.location.reload()

    }


    const mintPassClick = async (e) => {

      try {

        //Get signed mint pass
        let mintPass = authInfo.diamondMintPasses.find( mp => mp._id == $(e.target).data('id') )

        if (mintPass.tokenId) {
          await diamondWebService.withdraw(mintPass)
        } else {
          await diamondWebService.mint(mintPass)
        }

        await loadUser()
        await $update()

      } catch(ex) {
        $f7.dialog.alert(ex.reason, "There was an error")
        console.log(ex)
      }

    }

    const mintDiamondsClick = async (e) => {
      
      try {

        let confirmMessage = `

<div style="text-align: left;">

  <p>Creates a mint pass for ${universeWebService.displayDiamonds(authInfo.offChainDiamondBalance)} and clears your reward balance.</p>

  <ul style="padding-left: 15px;">
    <li>Redeemable on-chain only</li>
    <li>Expires in 1 year</li>
    <li>Non-reversible</li>
  </ul>

  Continue?

</div>

        `

        $f7.dialog.confirm(confirmMessage, "Mint Rewards", async () => {
          
          //Get signed mint pass
          let mintPass = await diamondWebService.getMintPass()

          await checkForMintPassProcessing()

        })


      } catch(ex) {
        $f7.dialog.alert(ex.reason, "There was an error")
        console.log(ex)
      }


    }

    const loadUser = async (force) => {
    
      authInfo = await loginWebService.getAuthInfo(force)
      isAdmin = universeWebService.isAdmin(authInfo?.address)

      let walletAddresses = await walletService.getAddress()
      
      if (walletService.provider && walletAddresses) {
        contractBalance = await universeWebService.getContractBalance()
      }

    }


    const withdrawClick = async (e) => {
      await universeWebService.withdraw()
    }

    const updateMetadataClick = async (e) => {
      await universeWebService.updateMetadata()
    }

    const loginWithWallet = async (e) => {
          await loginWebService.loginWithWallet()
          $f7.popup.close('.login-popup')
          $f7.views.main.router.refreshPage()
    }

    // const loginWithCoinbaseWallet = async (e) => {
    //       await loginWebService.loginWithWallet()
    //       $f7.popup.close('.login-popup')
    //       $f7.views.main.router.refreshPage()
    // }



    eventTarget.addEventListener('connect', async (e) => {
      walletAddress = e.detail.address
      await $update()
    })

    eventTarget.addEventListener('auth-info-loaded', async (e) => {
      authInfo = e.detail.authInfo

      isAdmin = universeWebService.isAdmin(authInfo?.address)

      await $update()
    })

    eventTarget.addEventListener('main-nav', async (e) => {
      subnavVisible = e.detail.visible == false ? false : true
      tabLink = e.detail.tabLink
      breadcrumbs = e.detail.breadcrumbs

      showHome = $f7.views.main.router.currentRoute?.name == "/"
      showBack = $f7.views.main.router.previousRoute?.name != undefined


      await $update()

    })


    // const backClick = (e) => {
    //   $f7.views.main.router.back("/", {
    //     animate: false,
    //     browserHistory: false
    //   })
    // }

    const login = (e) => {

    }

    const logout = (e) => {

    }

    const truncateEthAddress = (address) => {
      return walletService.truncateEthAddress(address)
    }

    const connectWallet = async (e) => {

      await walletService.initWallet()

      //Connect to metamask
      await walletService.connect()

    }


    const checkForMintPassProcessing = async () => {

      await loadUser(true)
      
      if (authInfo.diamondMintPasses?.length > 0 && authInfo.diamondMintPasses.find( mp => !mp.r && !mp.s && !mp.v)) {
        setTimeout(async () => { await checkForMintPassProcessing() }, 5*1000)
      }

      await $update()
      
    }

  




    $onMounted(() => {
      
      $('.logged-in-popup').on('popup:open', async (e) => {
            // authInfo = undefined
            // await $update()

      })

      $('.logged-in-popup').on('popup:opened', async (e) => {
            $f7.preloader.show()
            await loadUser(true)
            await $update()
            $f7.preloader.hide()
      })


    })


    return $render
  }
</script>