<template>

  
  <div class="navbar">
    
    <div class="navbar-bg"></div>

    <div class="navbar-inner">

      <div class="left">

        <div class="small-only-flex">

            <a href="#" class="first panel-open link color-white" >
              <i class="f7-icons">menu</i>
            </a>
            
        </div>

        <div class="small-only-flex">
            <a href="/" class="logo" aria-label="Home">
              <img src="${logo}" alt="Logo" class="logo" />
            </a>
        </div>


      </div>

      <div class="title" style="display: flex;">

      </div>


      ${!authInfo ? $h`
        <div class="right">
          <a data-popup=".login-popup" href="#" class="popup-open link">Login</a>
        </div>
      ` : $h` 
        <div class="right no-circle">

          <a href="#" class="popup-open" data-popup=".logged-in-popup">
            <img src="/team/image/60/${authInfo?.teamId}" class="profilePic" />
          </a> 

        </div>
      `}



      ${subnavVisible ? $h`

        <div class="subnavbar">

            <div class="subnavbar-inner">
                ${breadcrumbs?.length > 0 ? $h`
                  <div class="breadcrumbs ">

                    ${breadcrumbs?.length == 1 ? $h`
                      <div class="breadcrumbs-item">${breadcrumbs[0].text}</div>
                    ` : $h`

                        ${breadcrumbs.map( b => $h`
                          
                          <div class="breadcrumbs-item">
                            ${b.path ? $h`
                              <a href="${b.path}" class="link">
                                ${b.text}
                              </a>
                            ` : $h`${b.text}`}
                          </div>  

                          ${b.path ? $h`
                            <div class="breadcrumbs-separator"></div>
                          ` : $h`<span />`}

                        `)}

                    `}

                  </div>
              ` : $h` `} 

            </div>

        </div>
      ` : $h` `}

    </div>


    <div class="popup login-popup">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">
                Create or login to your account
              </div>
              <div class="right">
                <!-- Link to close popup -->
                <a class="link popup-close">Close</a>
              </div>
            </div>
          </div>
          <div class="page-content">

            <div class="list links-list list-outline list-strong">
              <ul>
                <!-- ${window?.ethereum != undefined ? $h`
                  <li>
                    <a @click="${loginWithWallet}" class="list-button popover-close">Wallet</a>
                  </li>
                ` : $h``} -->

                <li>
                  <a href="/auth/discord" class="list-button popover-close external">Continue with Discord</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="popup logged-in-popup">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">
                Account
              </div>
              <div class="right">
                <!-- Link to close popup -->
                <a class="link popup-close">Close</a>
              </div>
            </div>
          </div>
          <div class="page-content">

              ${authInfo?._id ? $h`

                ${authInfo.discordId ? $h`
                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Discord</div>
                    <div class="card-content card-content-padding">

                      <div class="list links-list list-outline">
                        <ul>
                          <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                      Username
                                    </div>
                                    <div class="item-after">
                                      ${authInfo.discordUsername}
                                    </div>
                                </div>
                            </div>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>

                ` : $h` `}


                <div class="card card-outline card-header-divider">
                  <div class="card-header">Diamonds</div>
                  <div class="card-content card-content-padding">

                    <div class="list list-outline-ios list-strong-ios list-dividers-ios">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Balance</div>
                                <div class="item-after">${universeWebService.displayDiamonds(authInfo.offChainDiamondBalance || 0)}</div>
                            </div>
                          </div>
                        </li>


                        ${authInfo?.address ? $h`

                          ${authInfo.offChainDiamondBalance && BigInt(authInfo.offChainDiamondBalance) > 0 ? $h`

                            <li>
                              <a class="item-link item-content" @click="${createMintPassClick}">
                                <div class="item-inner">
                                  <div class="item-title">Withdraw ${universeWebService.displayDiamonds(authInfo.offChainDiamondBalance)}</div>
                                </div>
                              </a>
                            </li>


                          ` : $h` `}
                          
                          <li>
                            <a class="item-link item-content" @click="${depositClick}">
                              <div class="item-inner">
                                <div class="item-title">Start Deposit</div>
                              </div>
                            </a>
                          </li>


                        ` : $h`


                        <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title">Link wallet to withdraw or deposit diamonds.</div>
                              </div>
                            </div>
                        </li>


                          
                        `}

                        
                      </ul>
                    </div>

                    ${authInfo.diamondMintPasses?.length > 0 ? $h`

                      <br />
                      <hr/>

                      <div class="block-title block-title-small">Mint Passes</div>

                      <div class="block">
                        <div class="list media-list">
                          <ul>

                            ${authInfo.diamondMintPasses.map( mp => $h`
                              <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                      <div class="item-title-row">
                                        <div class="item-title">${universeWebService.displayDiamonds(mp.amount)}</div>
                                        <div class="item-after">

                                          ${mp.r && mp.s && mp.v ? $h`
                                            <a class="button button-outline" @click="${mintPassClick}" data-id="${mp._id}">Mint</a>
                                          ` : $h`
                                            Processing...
                                          `}
                                          
                                        </div>
                                      </div>
                                      <div class="item-text">Expires ${dayjs(mp.expires * 1000 ).fromNow()}</div>
                                    </div>

                                </div>
                              </li>
                            `)}

                          </ul>
                        </div>
                      </div>

                    
                    ` : $h` `}


                  </div>
                </div> 

                ${authInfo?.address ? $h`

                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Account</div>
                    <div class="card-content card-content-padding">

                      <div class="list links-list list-outline">
                        <ul>

                          <li>
                              <a @click="${linkUserClicked}" class="link">Link Different Wallet</a>
                          </li>
                          <li>
                              <a @click="${unlinkUserClicked}" class="link">Unlink Wallet</a>
                          </li>
                          <li>
                            <a href="/auth/logout" class="link external">Logout</a>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>

                ` : $h`
                
                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Link Wallet</div>
                    <div class="card-content card-content-padding">
                      <p>Sign a message with your wallet to link your account to your wallet.</p>
                      <p>This verifies your control of the wallet and does not submit a transaction.</p>
                      <a @click="${linkUserClicked}" class="button button-fill small-button" style="margin-bottom: 10px;">Begin Signing</a>
                    </div>
                  </div>

                  <div class="card card-outline card-header-divider">
                    <div class="card-header">Account</div>
                    <div class="card-content card-content-padding">
                      <div class="list links-list list-outline">
                        <ul>
                          <li>
                              <a href="/auth/logout" class="link external">Logout</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                `}



              ` : $h` ` }


          </div>
        </div>
      </div>
    </div>


  </div>

</template>



<script>

  import { ContainerService } from "../../../service/container-service"
  import { WalletService } from "../../../service/wallet-service"
  import { LoginWebService } from "../../service/login-web-service"
  import { DiamondWebService } from "../../service/diamond-web-service"
  import { UniverseWebService } from "../../service/universe-web-service"
  import { DiamondService } from "../../../service/diamond-service"

  import logo from "../../html/images/logo.png"
  import { ethers } from "ethers"
  import dayjs from "dayjs"

  export default (props, { $, $on, $f7, $update, $f7route, $onMounted }) => {

    let walletService = ContainerService.getInstance("WalletService")
    let eventTarget = ContainerService.getInstance("eventTarget")
    let loginWebService = ContainerService.getInstance(LoginWebService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let diamondWebService = ContainerService.getInstance(DiamondWebService)
    let diamondService = ContainerService.getInstance(DiamondService)

    let env = ContainerService.getInstance("env")()
    let discord = ContainerService.getInstance("discord")

    let showBack
    let authInfo
    let breadcrumbs
    let walletAddress
    let showConnect = true
    let diamondBalance = 0
    let subnavVisible = false
    let contractBalance


    const unlinkUserClicked = async (e) => {

      $f7.dialog.confirm("Are you sure?", "Unlink Wallet", async () => {

          let result = await fetch('/auth/unlink', {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              }
          })


          if (result.status == 500) {
              $f7.dialog.alert(undefined, "There was an error")
          } else {
              $f7.dialog.alert(undefined, "Success!")
              window.location.reload()
          }


      }, () => { })

    }

    const linkUserClicked = async (e) => {

      try {

        if (!walletService.provider) {
            await walletService.initProvider()
        }

        if (!walletService.provider) throw new Error("No wallet connection detected. Install Metamask or another Ethereum compatible wallet.")

        if (!walletService.wallet) {
          await walletService.connect()
        }
    
        let wallet = await walletService.getWallet()

        if (!wallet) throw new Error("Unable to connect to wallet.")

        let result = await loginWebService.confirmOwnership(wallet)

        if (result.status == 500) {
          throw new Error("Error processing request")
        } else {
          $f7.dialog.alert(undefined, "Success!")
        }

        window.location.reload()

      } catch(ex) {
        $f7.dialog.alert(ex.message, "There was an error")
      }



    }

    const mintPassClick = async (e) => {

      try {

        //Get signed mint pass
        let mintPass = authInfo.diamondMintPasses.find( mp => mp._id == $(e.target).data('id') )

        await diamondWebService.mint(mintPass)

        await loadUser()
        await $update()

      } catch(ex) {
        $f7.dialog.alert(ex.reason, "There was an error")
        console.log(ex)
      }

    }

    const createMintPassClick = async (e) => {
      
      try {

        let confirmMessage = `

<div style="text-align: left;">

  <p>Creates a mint pass for ${universeWebService.displayDiamonds(authInfo.offChainDiamondBalance)} and clears your reward balance.</p>

  <ul style="padding-left: 15px;">
    <li>Redeemable on-chain only</li>
    <li>Expires in 1 year</li>
    <li>Non-reversible</li>
  </ul>

  Continue?

</div>

        `

        $f7.dialog.confirm(confirmMessage, "Mint Rewards", async () => {
          
          //Get signed mint pass
          let mintPass = await diamondWebService.getMintPass()

          await checkForMintPassProcessing()

        })


      } catch(ex) {
        $f7.dialog.alert(ex.reason, "There was an error")
        console.log(ex)
      }


    }
    
    const depositClick = async (e) => {

        const dialog = $f7.dialog.prompt(`<span style="text-align: left;">Click ok to begin a deposit<br /><br /> 

        Your wallet will open to confirm a transaction. Enter the number of 🔷 to deposit to the team treasury.

        `, "Deposit", async (value) => {

            try {
                
                let v = ethers.parseUnits( value.toString()  , 'ether')

                let result = await diamondService.deposit(authInfo.address,  v)

                if (result.hash) {
                    $f7.views.main.router.navigate($f7.views.main.router.currentRoute.url, { reloadCurrent: true, ignoreCache: true })
                }
                
            } catch(ex) {
                console.log(ex)
                $f7.dialog.alert(ex.message, "Invalid value")
            }
            
        }, ()=>{}, 0)

        dialog.$el.find('input').attr('type', 'number')


    }


    const loadUser = async (force) => {
      authInfo = await loginWebService.getAuthInfo(force)
    }

    const withdrawClick = async (e) => {
      await universeWebService.withdraw()
    }

    const loginWithWallet = async (e) => {
          await loginWebService.loginWithWallet()
          $f7.popup.close('.login-popup')
          $f7.views.main.router.refreshPage()
    }

    // const loginWithCoinbaseWallet = async (e) => {
    //       await loginWebService.loginWithWallet()
    //       $f7.popup.close('.login-popup')
    //       $f7.views.main.router.refreshPage()
    // }



    eventTarget.addEventListener('connect', async (e) => {
      walletAddress = e.detail.address
      await $update()
    })

    eventTarget.addEventListener('auth-info-loaded', async (e) => {
      authInfo = e.detail.authInfo

      await $update()
    })

    eventTarget.addEventListener('main-nav', async (e) => {

      subnavVisible = e.detail.visible == false ? false : true
      breadcrumbs = e.detail.breadcrumbs

      await $update()

    })



    const login = (e) => {

    }

    const logout = (e) => {

    }

    const truncateEthAddress = (address) => {
      return walletService.truncateEthAddress(address)
    }

    const connectWallet = async (e) => {

      await walletService.initWallet()

      //Connect to metamask
      await walletService.connect()

    }


    const checkForMintPassProcessing = async () => {

      await loadUser(true)
      
      if (authInfo.diamondMintPasses?.length > 0 && authInfo.diamondMintPasses.find( mp => !mp.r && !mp.s && !mp.v)) {
        setTimeout(async () => { await checkForMintPassProcessing() }, 5*1000)
      }

      await $update()
      
    }

  




    $onMounted(() => {
      
      $('.logged-in-popup').on('popup:open', async (e) => {
            // authInfo = undefined
            // await $update()

      })

      $('.logged-in-popup').on('popup:opened', async (e) => {
            $f7.preloader.show()
            checkForMintPassProcessing()
            await $update()
            $f7.preloader.hide()
      })


      $('.logged-in-popup').on('popup:closed', async (e) => {

        console.log('closed')

      })



    })


    return $render
  }
</script>