<template>

    <div class="toolbar tabbar toolbar-top small-only">
        <div class="toolbar-inner">
            <a href="/scores" class="tab-link tab-link-active">Scores</a>
            <a href="/stats" class="tab-link">Stats</a>
            <a href="/standings" class="tab-link">Standings</a>
            <a href="/players" class="tab-link">Players</a>
        </div>
    </div>

</template>



<script>
    export default (props, { $on, $f7, $update }) => {
        return $render
    }
</script>
