<template>

  <li>
      <a href="${universeWebService.startDateLink(`/g/${vm.game._id}`)}" class="item-link">

        <div class="item-content">
          <div class="item-inner">

            <table class="game-result">
              <tr>
                <td colspan="2" class="inning">
                    ${vm.isTopInning ? $h`
                      Top ${vm.currentInning}
                    ` : $h`
                      Bottom ${vm.currentInning}
                    `}

                </td>
              </tr>
              <tr class="${vm.isTopInning ? 'at-bat' : ' '}">
                <td class="name">
                    <img src="/image/thumbnail/${vm.game.away.logoId}" class="profilePic" alt="${teamWebService.getTeamName(vm.game.away)} Logo"/>
                    <span innerHTML="${teamWebService.getTeamNameStacked(vm.game.away)}"></span>
                </td>
                <td class="runs">${vm.score.away}</td>
              </tr>
              <tr class="${vm.isTopInning ? ' ' : 'at-bat'}">
                <td class="name">
                    <img src="/image/thumbnail/${vm.game.home.logoId}" class="profilePic"  alt="${teamWebService.getTeamName(vm.game.home)} Logo"/>
                    <span innerHTML="${teamWebService.getTeamNameStacked(vm.game.home)}"></span>
                </td>
                <td class="runs">${vm.score.home}</td>
              </tr>

              <tr >
                <td colspan="2" class="summary-matchup">

                  ${vm.pitcher ? $h`
                    <strong>P</strong> <a href="${universeWebService.startDateLink(`/p/${vm.pitcher?._id}`)}">${vm.pitcher.fullName}</a> <span class="small-gray">${gameWebService.pitcherGameStatsShort(vm.pitcher)}</span><br />
                  ` : $h``}

                  ${vm.hitter ? $h`
                    <strong>B</strong> <a href="${universeWebService.startDateLink(`/p/${vm.hitter?._id}`)}">${vm.hitter.fullName}</a>  <span class="small-gray">${gameWebService.hitterGameStatsShort(vm.hitter)}</span>
                  ` : $h` ` }

                </td>
              </tr>

            </table>
          </div>
        </div>
      </a>
  </li>
</template>


<script>

    import { ContainerService } from "../../../service/container-service"
    import { WalletService } from "../../../service/wallet-service"
    import { LoginWebService } from "../../service/login-web-service"
    import { UniverseWebService } from "../../service/universe-web-service"
    import { GameWebService } from "../../service/game-web-service"
    import { TeamWebService } from "../../service/team-web-service"

    import { ethers } from "ethers"

    export default (props, { $on, $f7, $update, $h }) => {

        let walletService = ContainerService.getInstance("WalletService")
        let eventTarget = ContainerService.getInstance("eventTarget")
        let loginWebService = ContainerService.getInstance(LoginWebService)
        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let gameWebService = ContainerService.getInstance(GameWebService)
        let teamWebService = ContainerService.getInstance(TeamWebService)


        let vm = props.vm

        return $render
    }
</script>