<template>
  <div class="page page-with-subnavbar" data-name="league-standings">

    <div class="page-content">

          <div class="hidden-on-load">

            <div class="block">

                <${StartDate} />

                <form class="list" id="change-standings">

                    <strong>League</strong> <br />
                    <select name="league" class="rank-dropdown" @change="${leagueChange}" id="select-league">
                        ${viewModel?.leagues?.map( (l, index) => $h`

                            ${l.rank == universeWebService.rank ? $h`
                                <option value="${l.rank}" selected>${l.name}</option>
                            ` : $h`
                                <option value="${l.rank}">${l.name}</option>
                            `}

                        `)}
                    </select>

                    <br />

                    <strong>Season</strong> <br />
                    <select name="startDate" class="rank-dropdown" @change="${startDateChange}" id="select-start-date">
                        ${viewModel?.seasons?.map( (s, index) => $h`

                            ${s.startDate == universeWebService.startDate ? $h`
                                <option value="${s.startDate}" selected>${s.startDate}</option>
                            ` : $h`
                                <option value="${s.startDate}">${s.startDate}</option>
                            `}

                        `)}
                    </select>




                </form>

            </div>

            <div class="block-title block-title-large">${viewModel?.leagueVm?.league?.name}</div>
            <div class="block block-outline block-strong">
                <div class="stat-table-wrapper">
                    <table class="data-table standings">

                        ${viewModel?.leagueVm?.viewModels?.length > 0 ? $h`

                            <thead>
                                <tr>
                                    <th class="image"></th>
                                    <th @click=${sortStandings} class="name lock-name label-cell" data-sort="city.name">Name</th>
                                    <th @click=${sortStandings} data-sort="overallRecord.wins" class="numeric-cell">Wins</th>
                                    <th @click=${sortStandings} data-sort="overallRecord.losses" class="numeric-cell">Losses</th>
                                    <th @click=${sortStandings} data-sort="overallRecord.winPercent" class="numeric-cell">Win%</th>
                                    <th @click=${sortStandings} data-sort="overallRecord.gamesBack" class="numeric-cell">GB</th>

                                    <th @click=${sortStandings} data-sort="seasonRating.rating" class="numeric-cell">Rating</th>
                                    <th @click=${sortStandings} data-sort="financeSeasonDecimal.diamondBalance" class="numeric-cell">Cash</th>
                                    <th @click=${sortStandings} data-sort="financeSeasonDecimal.projectedTotalRevenue" class="numeric-cell">Projected Revenue</th>
                                    <th @click=${sortStandings} data-sort="financeSeasonDecimal.projectedTotalExpenses" class="numeric-cell">Projected Expenses</th>
                                    <th @click=${sortStandings} data-sort="financeSeasonDecimal.projectedTotalProfit" class="numeric-cell">Projected Profit</th>
                                    <th @click=${sortStandings} data-sort="teamCost.ethCostDecimal" class="numeric-cell">Cost</th>



                                </tr>
                            </thead>

                            <tbody>
                                ${viewModel?.leagueVm.viewModels?.map( (t, index) => $h`
                                    <tr class="${isPromoted(t) ? $h`promoted` : $h` `} ${isRelegated(t) ? $h`relegated` : $h` `}">

                                        <td class="image">
                                             <img src="/image/thumbnail/${t.logoId}" class="profilePic" />
                                        </td>

                                        <td class="name lock-name">
                                           
                                            <a href="${ universeWebService.startDateLink(`/t/${t.tokenId}`)  }"><span class="small">${t.city.name}</span><br />${t.name}</a>
                                        </td>
                                        <td class="numeric-cell">${t.overallRecord.wins}</td>
                                        <td class="numeric-cell">${t.overallRecord.losses}</td>
                                        <td class="numeric-cell">${statService.formatRatio(t.overallRecord.winPercent)}</td>
                                        <td class="numeric-cell">${t.overallRecord.gamesBack}</td>
                                        <td class="numeric-cell">${t.seasonRating.rating.toFixed(0)}</td>
                                        <td class="numeric-cell">
                                            ${universeWebService.displayDiamondsNoSymbol(t.financeSeason.diamondBalance)}</td>
                                        <td class="numeric-cell">
                                            ${universeWebService.displayDiamondsNoSymbol(t.financeSeason.revenue.projectedTotal.total)}</td>
                                        <td class="numeric-cell">
                                            ${universeWebService.displayDiamondsNoSymbol(t.financeSeason.expenses.projectedTotal.total)}</td>
                                        <td class="numeric-cell">
                                            ${universeWebService.displayDiamondsNoSymbol(t.financeSeason.profit.projectedTotal.total)}</td>
                                        <td class="numeric-cell">
                                            ${BigInt(t.teamCost?.totalDiamonds || 0) > 0 ? $h`
                                                <a href="/t/mint/${t.tokenId}" class="link">${universeWebService.displayDiamondsNoSymbol(t.teamCost?.totalDiamonds)}</a>    
                                            ` : $h` `}
                                        </td>

                                    </tr>
                                `)}

                                <tr class="total">
                                    <td class="numeric-cell" colspan="7"></td>
                                    <td class="numeric-cell">${universeWebService.displayDiamondsNoSymbol(viewModel.leagueVm.leagueFinance.cash)}</td>
                                    <td class="numeric-cell">${universeWebService.displayDiamondsNoSymbol(viewModel.leagueVm.leagueFinance.revenue)}</td>
                                    <td class="numeric-cell">${universeWebService.displayDiamondsNoSymbol(viewModel.leagueVm.leagueFinance.expenses)}
                                    </td>
                                    <td class="numeric-cell">${universeWebService.displayDiamondsNoSymbol(viewModel.leagueVm.leagueFinance.profit)}</td>
                                    <td class="numeric-cell">
                                        ${viewModel.leagueVm.leagueFinance?.teamCostDiamonds ? $h`${universeWebService.displayDiamondsNoSymbol(viewModel.leagueVm.leagueFinance?.teamCostDiamonds)}` : $h` `}
                                    </td>

                                </tr>
                            </tbody>

                        ` : $h` `}



                    </table>
                </div>
            </div>

          </div>

          <div class="hide-on-pageinit">

              <div class="card skeleton-text">
                  <div class="card-header">Activity</div>
                  <div class="card-content card-content-padding data-table">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                      lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
                  </div>

              </div>

          </div>
    </div>

  </div>



</template>

<style>


</style>

<script>


    import StartDate from "../common/start-date.f7.html"

    import dayjs from "dayjs"
    import { ethers, FixedNumber } from "ethers"

    import { ContainerService } from "../../../service/container-service.ts"
    import { PlayerWebService } from "../../service/player-web-service.ts"
    import { UniverseWebService } from "../../service/universe-web-service.ts"

    import { StatService } from "../../../service/stat-service.ts"
    import { Position } from "../../../service/enums.ts"

    export default (props, { $on, $, $f7, $onMounted, $update }) => {

        let env = ContainerService.getInstance("env")()
        let eventTarget = ContainerService.getInstance("eventTarget")

        let playerWebService = ContainerService.getInstance(PlayerWebService)
        let statService = ContainerService.getInstance(StatService)
        let universeWebService = ContainerService.getInstance(UniverseWebService)

        let viewModel = props.viewModel
        let leagueVm

        const isPromoted = (t) => {
            if (!viewModel.season.promotionRelegationLog) return false
            let log = viewModel.season.promotionRelegationLog.find(l => l._id == t._id)
            if (!log) return false
            if (log.previousRank > log.rank) return true
            return false
        }

        const isRelegated = (t) => {
            if (!viewModel.season.promotionRelegationLog) return false
            let log = viewModel.season.promotionRelegationLog.find(l => l._id == t._id)
            if (!log) return false
            if (log.rank > log.previousRank) return true
            return false
        }


        const leagueChange = (e) => {

            universeWebService.rank = $(e.target).val()

            let url = `/l/standings/${universeWebService.rank}?startDate=${universeWebService.getStartDate()}`

            $f7.views.main.router.navigate(url, { reloadCurrent: true })

        }


        const startDateChange = (e) => {

            universeWebService.startDate = $(e.target).val()

            let url = `/l/standings/${universeWebService.rank}?startDate=${universeWebService.getStartDate()}`

            $f7.views.main.router.navigate(url, { reloadCurrent: true })

        }


        const sortStandings = (e) => {
            playerWebService.sort($, e, '.standings', viewModel.leagueVm.viewModels)
            $update()

        }



        $on('pageBeforeIn', async (e) => {


            eventTarget.dispatchEvent(new CustomEvent('main-nav', {
                detail: {
                    tabLink: "/l/standings", breadcrumbs: [
                        { text: "Home", path: "/"},
                        { text: 'Standings' }
                    ]
                }
            }))


            universeWebService.setMetadata(
                    `${viewModel.leagueVm.league.name} Standings - Ethereum Baseball League`, 
                    window.location.href, 
                    `${env.WEB}/logo.png`, 
                    `View ${viewModel.leagueVm.league.name} standings in Ethereum Baseball League.`
            ) 

    
            $('.hide-on-pageinit').hide()
            $('.hidden-on-load').show()

        })
    



        return $render

    }
</script>