<template>
  <div class="page page-with-subnavbar" data-name="league-standings">

    <div class="page-content">

          <div class="hidden-on-load">

            <div class="fixed-width-content center">

                <div class="block">

                    <${StartDate} />

                    <form class="list standings-selectors" id="change-standings">

                        <div class="left">

                            <strong>League</strong> <br />
                            <select name="league" class="rank-dropdown" @change="${leagueChange}" id="select-league">
                                ${viewModel?.leagues?.map( (l, index) => $h`

                                    ${l.rank == universeWebService.rank ? $h`
                                        <option value="${l.rank}" selected>${l.name}</option>
                                    ` : $h`
                                        <option value="${l.rank}">${l.name}</option>
                                    `}

                                `)}
                            </select>

                        </div>

                        <div class="right">

                            <strong>Season</strong> <br />
                            <select name="startDate" class="rank-dropdown" @change="${startDateChange}" id="select-start-date">
                                ${viewModel?.seasons?.map( (s, index) => $h`

                                    ${s.startDate == universeWebService.startDate ? $h`
                                        <option value="${s.startDate}" selected>${s.startDate}</option>
                                    ` : $h`
                                        <option value="${s.startDate}">${s.startDate}</option>
                                    `}

                                `)}
                            </select>


                        </div>

                    </form>

                </div>

                <div class="block-title block-title-large">${viewModel?.leagueVm?.league?.name}<div class="subtitle">Ratings updated nightly</div></div>
                <div class="block block-outline block-strong">
                    <div class="stat-table-wrapper">
                        <table class="data-table standings">

                            ${viewModel?.leagueVm?.viewModels?.length > 0 ? $h`

                                <thead>
                                    <tr>
                                        <th class="image"></th>
                                        <th class="name lock-name label-cell" data-sort="city.name">Name</th>
                                        <th data-sort="overallRecord.wins" class="numeric-cell" style="width: 30px;">Wins</th>
                                        <th data-sort="overallRecord.losses" class="numeric-cell" style="width: 30px;">Losses</th>
                                        <th data-sort="overallRecord.winPercent" class="numeric-cell" style="width: 30px;">Win%</th>
                                        <!-- <th data-sort="overallRecord.gamesBack" class="numeric-cell" style="width: 30px;">GB</th> -->
                                        <th data-sort="longTermRating.rating" class="numeric-cell" style="width: 30px;">Rating</th>
                                        <th data-sort="financeSeasonDecimal.diamondBalance" class="numeric-cell" style="width: 30px;">Season Rewards</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    ${viewModel?.leagueVm.viewModels?.map( (t, index) => $h`
                                        <tr class="${isPromoted(t) ? $h`promoted` : $h` `} ${isRelegated(t) ? $h`relegated` : $h` `}">

                                            <td class="image">
                                                <a href="${ universeWebService.startDateLink(`/t/index/${t._id}`)  }">
                                                    <img src="/image/thumbnail/${t.logoId}" class="profilePic" />
                                                </a>
                                            </td>

                                            <td class="name lock-name">

                                                <a href="${ universeWebService.startDateLink(`/t/index/${t._id}`)  }">
                                                    <span innerHTML="${teamWebService.getTeamNameStacked(t)}"></span>
                                                </a>
                                                
                                            </td>
                                            <td class="numeric-cell">${t.overallRecord.wins}</td>
                                            <td class="numeric-cell">${t.overallRecord.losses}</td>
                                            <td class="numeric-cell">${statService.formatRatio(t.overallRecord.winPercent)}</td>
                                            <!-- <td class="numeric-cell">${t.overallRecord.gamesBack}</td> -->
                                            <td class="numeric-cell">${t.longTermRating.rating.toFixed(0)}</td>

                                            <td class="numeric-cell">
                                                ${universeWebService.displayDiamonds(t.financeSeason?.revenue?.seasonToDate?.total)}</td>
                                            <td></td>
                                        </tr>
                                    `)}

                                </tbody>

                            ` : $h` `}



                        </table>
                    </div>
                </div>

                <div class="block split-row-both">
                    <div>
                        ${previousPage ? $h`
                            <a data-reload-current="true" data-force="true" data-browser-history="true" href="/l/standings/${viewModel?.leagueVm?.league.rank}/${previousPage}?startDate=${universeWebService.getStartDate()}" class="button button-outline color-gray">Previous</a>
                        ` : $h` `}
                    </div>
                    <div>
                        ${nextPage ? $h`
                            <a data-reload-current="true" data-force="true" data-browser-history="true" href="/l/standings/${viewModel?.leagueVm?.league.rank}/${nextPage}?startDate=${universeWebService.getStartDate()}" class="button button-fill">Next</a>
                        ` : $h` `}
                    </div>
                </div>

            </div>

          </div>

          <div class="hide-on-pageinit">

              <div class="card skeleton-text">
                  <div class="card-header">Activity</div>
                  <div class="card-content card-content-padding data-table">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                      lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
                  </div>

              </div>

          </div>
    </div>

  </div>



</template>

<style>


</style>

<script>


    import StartDate from "../common/start-date.f7.html"

    import dayjs from "dayjs"
    import { ethers, FixedNumber } from "ethers"

    import { ContainerService } from "../../../service/container-service.ts"
    import { PlayerWebService } from "../../service/player-web-service.ts"
    import { UniverseWebService } from "../../service/universe-web-service.ts"
    import { TeamWebService } from "../../service/team-web-service.ts"

    import { StatService } from "../../../service/stat-service.ts"
    import { Position } from "../../../service/enums.ts"

    export default (props, { $on, $, $f7, $onMounted, $update }) => {

        let env = ContainerService.getInstance("env")()
        let eventTarget = ContainerService.getInstance("eventTarget")

        let playerWebService = ContainerService.getInstance(PlayerWebService)
        let statService = ContainerService.getInstance(StatService)
        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let teamWebService = ContainerService.getInstance(TeamWebService)

        let viewModel = props.viewModel
        let leagueVm

        let previousPage = viewModel.page == 1 ? undefined : viewModel.page - 1
        let nextPage = viewModel.leagueVm?.viewModels?.length == 25 ? viewModel.page + 1 : undefined

        const isPromoted = (t) => {
            if (!viewModel.season.promotionRelegationLog) return false
            let log = viewModel.season.promotionRelegationLog.find(l => l._id == t._id)
            if (!log) return false
            if (log.previousRank > log.rank) return true
            return false
        }

        const isRelegated = (t) => {
            if (!viewModel.season.promotionRelegationLog) return false
            let log = viewModel.season.promotionRelegationLog.find(l => l._id == t._id)
            if (!log) return false
            if (log.rank > log.previousRank) return true
            return false
        }


        const leagueChange = (e) => {

            universeWebService.rank = $(e.target).val()

            let url = `/l/standings/${universeWebService.rank}?startDate=${universeWebService.getStartDate()}`

            $f7.views.main.router.navigate(url, { reloadCurrent: true })

        }


        const startDateChange = (e) => {

            universeWebService.startDate = $(e.target).val()

            let url = `/l/standings/${universeWebService.rank}?startDate=${universeWebService.getStartDate()}`

            $f7.views.main.router.navigate(url, { reloadCurrent: true })

        }




        $on('pageBeforeIn', async (e) => {


            eventTarget.dispatchEvent(new CustomEvent('main-nav', {
                detail: {
                    tabLink: "/l/standings", breadcrumbs: [
                        { text: "Home", path: "/"},
                        { text: 'Standings' }
                    ]
                }
            }))


            universeWebService.setMetadata(
                    `${viewModel.leagueVm.league.name} Standings - Ethereum Baseball League`, 
                    window.location.href, 
                    `${env.WEB}/logo.png`, 
                    `View ${viewModel.leagueVm.league.name} standings in Ethereum Baseball League.`
            ) 

    
            $('.hide-on-pageinit').hide()
            $('.hidden-on-load').show()

        })
    



        return $render

    }
</script>