<template>

  <div class="page page-with-subnavbar" data-name="owner-activity">

    <div class="page-content">

        <div class="fixed-width-content center">

            ${model?.onChainEvents?.length > 0 || model?.offChainEvents?.length >0 ? $h`
                
                ${model?.onChainEvents?.length > 0 ? $h`
                    <${OnChainEvents} events="${model?.onChainEvents}" />
                ` : $h` `}


                ${model?.offChainEvents?.length > 0 ? $h`
                    <${OffChainEvents} events="${model?.offChainEvents}" />
                ` : $h` `}

                <div class="block split-row-both">
                    <div>
                        ${previousPage ? $h`
                            <a data-reload-current="true" data-force="true" data-browser-history="true" href="/u/activity/?address=${address}&page=${previousPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-outline color-gray">Previous</a>
                        ` : $h` `}
                    </div>
                    <div>
                        ${nextPage ? $h`
                            <a data-reload-current="true" data-force="true" data-browser-history="true" href="/u/activity/?address=${address}&page=${nextPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-fill">Next</a>
                        ` : $h` `}
                    </div>
                </div>

            ` : $h`
                <div class="block">
                    No activity.
                </div>
            
            `}


        </div>





        
     
    </div>

  </div>
</template>

<style>


</style>

<script>


    import Navbar from "../common/navbar.f7.html"

    import dayjs from "dayjs"

    import { ContainerService } from "../../../service/container-service.ts"
    import { OwnerWebService } from "../../service/owner-web-service.ts"
    import { PlayerWebService } from "../../service/player-web-service.ts"
    import { TransactionWebService } from "../../service/transaction-web-service.ts"
    import { StatService } from "../../../service/stat-service.ts"
    import { GameTransactionWebService } from "../../service/game-transaction-web-service.ts"
    import { UniverseWebService } from "../../service/universe-web-service.ts"
    import { OffChainEventWebService } from "../../service/off-chain-event-web-service.ts"


    import OffChainEvents from "../activity/offchain-events.f7.html"
    import OnChainEvents from "../activity/onchain-events.f7.html"


    export default (props, { $on, $, $f7, $update }) => {

        let env = ContainerService.getInstance("env")()
        let eventTarget = ContainerService.getInstance("eventTarget")
        let ownerWebService = ContainerService.getInstance(OwnerWebService)
        let walletService = ContainerService.getInstance("WalletService")
        let playerWebService = ContainerService.getInstance(PlayerWebService)
        let transactionWebService = ContainerService.getInstance(TransactionWebService)
        let statService = ContainerService.getInstance(StatService)
        let gameTransactionWebService = ContainerService.getInstance(GameTransactionWebService)
        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let offChainEventWebService = ContainerService.getInstance(OffChainEventWebService)

        let address
        let model = {}
        
        
        let nextPage
        let previousPage
        
        let page


        let loading = false

        const displayFromAddress = (address) => {

            if (address == "0x0000000000000000000000000000000000000000") return "From Mint"
            return address

        } 

        const displayToAddress = (address) => {

            if (address == "0x0000000000000000000000000000000000000000") return "To Burn"
            return address

        } 

        const getTeam = (id) => {
            return model?.gameTransactions?.teams.find( t => t._id == id)
        }

        const getPlayer = (id) => {
            return model?.gameTransactions?.players.find( p => p._id == id)
        }

        const getOffChainDescription = (oce) => {
            return offChainEventWebService.getOffChainDescription(oce)
        }

        const getOffChainAmount = (oce) => {
            if (oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return `-${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return universeWebService.displayDiamonds(oce.amount)
            }
        }

        const getOnChainDescription = (oce) => {
            
            if (oce.event == "MintReward") return "Claimed Mint Reward"
            if (oce.event == "WithdrawFromTeam") return "Withdraw From Team"

            if (oce.contractAddress == env.DIAMONDS_ADDRESS) {
                if (oce.isMint) return "Minted 🔷"
                if (oce.isBurn) return "Burned 🔷"
            }

            if (oce.contractAddress == env.UNIVERSE_ADDRESS) {
                if (oce.isMint) return "Minted Team"
                if (oce.isBurn) return "Burned Team"
            }



            if (oce.isTransfer) return "Transfer"
            return oce.event
        }


        const getOnChainTransferAmount = (oce) => {
            if (oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return `-${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return universeWebService.displayDiamonds(oce.amount)
            }
        }

        const getOnChainAmount = (oce) => {

            if (oce.amount && oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return `-${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return universeWebService.displayDiamonds(oce.amount)
            }

            if (oce.tokenId && oce.event == "Transfer") {
                return `<a href="/t/${oce.tokenId}">View Team</a>`
            }

        }




        const loadActivity = async () => {

            $f7.preloader.show()

            try {

                page = parseInt($f7.views.main.router.currentRoute?.query?.page || 1)
                address = $f7.views.main.router.currentRoute?.query?.address

                Object.assign(model, await gameTransactionWebService.getByOwner(address, page))

                if (page > 1) {
                    previousPage = page - 1
                }

                if (model.offChainEvents?.length == 25 || model.onChainEvents?.length == 25 ) {
                    nextPage = page + 1
                }

                await $update()

            } catch (ex) { console.log(ex) }

            $f7.preloader.hide()

        }



        $on('pageInit', async (e) => {
            await $update()
        })


        $on('pageReinit', async () => {
        })


        $on('pageBeforeIn', async () => {
            try {
                await loadActivity()

                eventTarget.dispatchEvent(new CustomEvent('main-nav', {
                    detail: {
                        visible: true,
                        tabLink: "/",
                        breadcrumbs: [{ text: "Home", path: "/" }, { text: "Owners", path: "/u/owners" }, { text: address }]
                    }
                }))

                universeWebService.setMetadata(
                            `Activity - Ethereum Baseball League`, 
                        window.location.href, 
                        `${env.WEB}/logo.png`,
                        `Activity in Ethereum Baseball League.`
                ) 



            } catch(ex) {
                $f7.dialog.alert(ex.message, "There was an error")
            }
            
        })

        return $render

    }
</script>