<template>

  <div class="page page-with-subnavbar" data-name="owner-activity">

    <div class="page-content">

        ${model?.onChainEvents?.transactions?.length > 0 || model?.offChainEvents?.length >0 ? $h`
            
            ${model?.onChainEvents?.transactions?.length > 0 ? $h`

                <div class="card card-outline card-header-divider">
                    <div class="card-header">On-chain Events</div>
                    <div class="card-content">
                        <${OnChainEvents} events="${model?.onChainEvents}" />
                    </div>
                </div>
                
            ` : $h` `}


            ${model?.offChainEvents?.length > 0 ? $h`

                <div class="card card-outline card-header-divider">
                    <div class="card-header">Off-chain Events</div>
                    <div class="card-content">
                        <${OffChainEvents} events="${model?.offChainEvents}" />
                    </div>
                </div>

                
            ` : $h` `}

            <div class="block split-row-both">
                <div>
                    ${previousPage ? $h`
                        <a data-reload-current="true" data-force="true" data-browser-history="true" href="/u/activity/?address=${address}&page=${previousPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-outline color-gray">Previous</a>
                    ` : $h` `}
                </div>
                <div>
                    ${nextPage ? $h`
                        <a data-reload-current="true" data-force="true" data-browser-history="true" href="/u/activity/?address=${address}&page=${nextPage}&startDate=${universeWebService.getStartDate()}&rank=${universeWebService.getRank()}" class="button button-fill">Next</a>
                    ` : $h` `}
                </div>
            </div>

        ` : $h`
            <div class="block">
                No activity.
            </div>
        
        `}





        
     
    </div>

  </div>
</template>

<style>


</style>

<script>


    import Navbar from "../common/navbar.f7.html"

    import dayjs from "dayjs"

    import { ContainerService } from "../../../service/container-service.ts"

    import { UniverseWebService } from "../../service/universe-web-service.ts"
    import { OffChainEventWebService } from "../../service/off-chain-event-web-service.ts"


    import OffChainEvents from "../activity/offchain-events.f7.html"
    import OnChainEvents from "../activity/onchain-events.f7.html"


    export default (props, { $on, $, $f7, $update }) => {

        let env = ContainerService.getInstance("env")()
        let eventTarget = ContainerService.getInstance("eventTarget")
        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let offChainEventWebService = ContainerService.getInstance(OffChainEventWebService)

        
    
        let page = props.page
        let address =  props.address
        let model = props.model
        let previousPage = props.previousPage
        let nextPage =  props.nextPage

        console.log(model)


        let loading = false

        const displayFromAddress = (address) => {

            if (address == "0x0000000000000000000000000000000000000000") return "From Mint"
            return address

        } 

        const displayToAddress = (address) => {

            if (address == "0x0000000000000000000000000000000000000000") return "To Burn"
            return address

        } 

        const getTeam = (id) => {
            return model?.gameTransactions?.teams.find( t => t._id == id)
        }

        const getPlayer = (id) => {
            return model?.gameTransactions?.players.find( p => p._id == id)
        }

        const getOffChainDescription = (oce) => {
            return offChainEventWebService.getOffChainDescription(oce)
        }

        const getOffChainAmount = (oce) => {
            if (oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return `-${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return universeWebService.displayDiamonds(oce.amount)
            }
        }

        const getOnChainDescription = (oce) => {
            
            if (oce.event == "MintReward") return "Claimed Mint Reward"
            if (oce.event == "WithdrawFromTeam") return "Withdraw From Team"

            if (oce.contractAddress == env.DIAMONDS_ADDRESS) {
                if (oce.isMint) return "Minted 🔷"
                if (oce.isBurn) return "Burned 🔷"
            }

            if (oce.contractAddress == env.UNIVERSE_ADDRESS) {
                if (oce.isMint) return "Minted Team"
                if (oce.isBurn) return "Burned Team"
            }



            if (oce.isTransfer) return "Transfer"
            return oce.event
        }


        const getOnChainTransferAmount = (oce) => {
            if (oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return `-${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return universeWebService.displayDiamonds(oce.amount)
            }
        }

        const getOnChainAmount = (oce) => {

            if (oce.amount && oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return `-${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return universeWebService.displayDiamonds(oce.amount)
            }

            if (oce.tokenId && oce.event == "Transfer") {
                return `<a href="/t/${oce.tokenId}">View Team</a>`
            }

        }


        $on('pageInit', async (e) => {
            await $update()
        })


        $on('pageReinit', async () => {
        })


        $on('pageBeforeIn', async () => {

            eventTarget.dispatchEvent(new CustomEvent('main-nav', {
                detail: {
                    visible: true,
                    tabLink: "/",
                    breadcrumbs: [{ text: "Home", path: "/" }, { text: "Owners", path: "/u/owners" }, { text: address }]
                }
            }))

            universeWebService.setMetadata(
                        `Activity - Ethereum Baseball League`, 
                    window.location.href, 
                    `${env.WEB}/logo.png`,
                    `Activity in Ethereum Baseball League.`
            ) 

            await $update()
            
        })

        return $render

    }
</script>