<template>

    <div>

        ${balance != undefined ? $h`
            <div class="card card-outline card-header-divider">
                <div class="card-header">Balance</div>
                <div class="card-content card-content-padding">
                    ${balance} 💎
                </div>
            </div>
        ` : $h` `}


        ${teams?.length > 0 ? $h`
            <div class="card card-outline card-header-divider">
                <div class="card-header">Teams</div>
                <div class="card-content data-table">
                    <table>
                        <thead>
                            <tr>
                                <th class="label-cell team-name">Name</th>
                                <th class="numeric-cell" style="width:100px;">Record</th>
                                <th class="numeric-cell" style="width:50px;">Win %</th>
                                <th class="numeric-cell" style="width:30px;">Rating</th>
                            </tr>
                        </thead>
                        <tbody>
            
                            ${teams?.map(t => $h`
                                <tr>
                                    <td class="label-cell team-name">${t.hasValidLineup ? $h`🟢` : $h`🔴`} <a href="/t/${t.tokenId}">${t.name}</a></td>
                                    <td class="numeric-cell">${t.overallRecord.wins}-${t.overallRecord.losses}</td>
                                    <td class="numeric-cell">${statService.formatRatio(t.winPercent)}</td>
                                    <td class="numeric-cell">${t.rating.rating.toFixed(0)}</td>
                                </tr>
                            `)}
            
                        </tbody>
                    </table>
                </div>
            </div>
        ` : $h` `}

        <div class="card card-outline card-header-divider">
            <div class="card-header">Owned Players</div>
            <div class="card-content card-content-padding">
    
                <div class="search">
                    <div class="searchbar searchbar-inline">
                        <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search" id="userStatsSearch" @change="${searchChange}" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                        </div>
                    </div>  
    
                    <div class="position">
                        <a href="#userStatsHitters" @click="${positionClick}"  class="tab-link active">Batters</a> |
                        <a href="#userStatsPitchers" @click="${positionClick}" class="tab-link">Pitchers</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="C">C</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="1B">1B</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="2B">2B</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="3B">3B</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="SS">SS</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="LF">LF</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="CF">CF</a> |
                        <a href="#userStatsHitters" @click="${positionClick}" class="tab-link" data-pos="RF">RF</a> 
                    </div>
    
                </div>
        
                <div class="tabs-animated-wrap">
                    <div class="tabs">
                        <div class="tab tab-active" id="userStatsHitters">
                
                            ${selected == "stats" ? $h`
                                <hitter-stats hitters=${getAllHitters} sortable="true" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}"> 
                                    <select @change="${statsChange}" class="stats-dropdown"> 
                                        <option value="stats" selected>Career Stats</option>
                                        <option value="ratings">Ratings</option>
                                    </select>
                                </hitter-stats>
                            ` : $h` `}
        
                            ${selected == "ratings" ? $h`
                                <hitter-ratings hitters=${getAllHitters} sortable="true" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}"> 
                                    <select @change="${statsChange}" class="stats-dropdown">
                                        <option value="stats">Career Stats</option>
                                        <option value="ratings" selected>Ratings</option>
                                    </select>
                                </hitter-ratings>
                            ` : $h` `}
        
                
                        </div>
                        <div class="tab" id="userStatsPitchers">
                
                            ${selected == "stats" ? $h`
                                <pitcher-stats pitchers=${getAllPitchers} sortable="true" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}"> 
                                    <select @change="${statsChange}" class="stats-dropdown">
                                        <option value="stats" selected>Career Stats</option>
                                        <option value="ratings">Ratings</option>
                                    </select>
                                </pitcher-stats>
                            ` : $h` `}
        
                            ${selected == "ratings" ? $h`
                                <pitcher-ratings pitchers=${getAllPitchers} sortable="true" pagesize=${PAGE_SIZE} filters=${filters} actions="${getActions}"> 
                                    <select @change="${statsChange}" class="stats-dropdown">
                                        <option value="stats">Career Stats</option>
                                        <option value="ratings" selected>Ratings</option>
                                    </select>
                                </pitcher-ratings>
                            ` : $h` `}
        
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

    </div>

</template>

<style>


</style>

<script>


    import Navbar from "../common/navbar.f7.html"

    import dayjs from "dayjs"

    import { ContainerService } from "../../../service/container-service.ts"
    import { OwnerWebService } from "../../service/owner-web-service.ts"
    import { PlayerWebService } from "../../service/player-web-service.ts"
    import { TransactionWebService } from "../../service/transaction-web-service.ts"
    import { StatService } from "../../../service/stat-service.ts"
    import { PagingService } from "../../../service/paging-service.ts"
    import { LoginWebService } from "../../service/login-web-service.ts"
    import { TeamWebService } from "../../service/team-web-service.ts"
    import { DiamondService } from "../../../service/diamond-service.ts"

    import { Position } from "../../../service/enums.ts"



    export default (props, { $on, $, $f7, $update }) => {

        let eventTarget = ContainerService.getInstance("eventTarget")
        let ownerWebService = ContainerService.getInstance(OwnerWebService)
        let walletService = ContainerService.getInstance("WalletService")
        let playerWebService = ContainerService.getInstance(PlayerWebService)
        let transactionWebService = ContainerService.getInstance(TransactionWebService)
        let statService = ContainerService.getInstance(StatService)
        let pagingService = ContainerService.getInstance(PagingService)
        let teamWebService = ContainerService.getInstance(TeamWebService)
        let loginWebService = ContainerService.getInstance(LoginWebService)
        let diamondService = ContainerService.getInstance(DiamondService)

        let selected = "stats"

        let authInfo
        let address
        let balance
        let teams = []

        let searchAutoComplete

        const PAGE_SIZE = 25

        let allPlayers = []

        let filters = {
            position: undefined,
            name: undefined
        }

        const getActions = () => {}

        const getAllHitters = () => {
            return allPlayers.filter(p => p.primaryPosition != Position.PITCHER)
        }

        const getAllPitchers = () => {
            return allPlayers.filter(p => p.primaryPosition == Position.PITCHER)
        }

        const link = (href) => {
            return "/" + href
        }

        const isLoggedInUser = () => {
            if (authInfo?.address != undefined && authInfo.address == address) return true
            return false
        }

        const statsChange = async (e) => {
            selected = $(e.srcElement).val()
            await loadUser()
            $update()
        }

        const searchChange = (e) => {

            filters.name = $(e.srcElement).val()

            //Reset position
            $('.position a').removeClass("active")
            $('.position a').eq(0).addClass("active")
            filters.position = undefined

            $update()
            $f7.emit('refresh')
        }

        const positionClick = (e) => {

            // currentPage = 0

            $('.position a').removeClass("active")
            $(e.srcElement).addClass("active")

            $('#playerSearch').val("")

            let value = $(e.srcElement).data('pos')
            
            filters.position = value

            $update()
            $f7.emit('refresh')

        }

        const loadUser = async () => {

            $f7.preloader.show()

            address = $f7.views.main.router.currentRoute?.query?.address

            if (address) {

                try {

                    authInfo = await loginWebService.getAuthInfo()

                    teams = await teamWebService.getTeamsByOwner(address)


                    // let result = await playerWebService.getPlayersByOwner(address) 

                    // allPlayers.length = 0

                    // allPlayers.push(...result)

                    $f7.emit('refresh')

                } catch (ex) {
                    console.log(ex)
                    $f7.dialog.alert(`There was a problem fetching user data.`, "Error")
                }


                try {
                    balance = await diamondService.getBalance(address)
                } catch (ex) {
                    // console.log(ex)
                }

            }


            await $update()

            $f7.preloader.hide()

        }

        const load = async () => {

            await loadUser()

            searchAutoComplete = $f7.autocomplete.create({
                inputEl: '#userStatsSearch',
                openIn: 'dropdown',
                source: function (query, render) {
                    let results = playerWebService.autoComplete(query,allPlayers)
                    render(results.map(p => p.fullName))
                }
            })

            await $update()
        }

        load()
    
        return $render

    }
</script>