<template>

    <div class="list list-dividers-ios media-list" style="margin-top: 0px;">
      <ul>

        ${gameTransactions?.transactions.map( t => $h`

            <li>
            <a class="item-link item-content" href="${universeWebService.startDateLink(`/t/${t.events[0].team.tokenId}`)}">
                <div class="item-media">
                    <img src="/image/thumbnail/${getTeam(t.events[0].team._id).logoId}" height="40" width="40" alt="${getTeam(t.events[0].team._id).cityName} ${getTeam(t.events[0].team._id).name} Logo" />
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">${getTeam(t.events[0].team._id).cityName} ${getTeam(t.events[0].team._id).name}</div>
                        <div class="item-after small-gray">${dayjs(t.date).format('ddd, MM/DD h:mm')}</div>
                    </div>
                    <div class="item-subtitle">

                            ${t.events.map( e => $h`
                    
                                ${e.signing ? $h`
                                    signed <a href="${universeWebService.startDateLink(`/p/${e.signing.playerId}`)}">${getPlayer(e.signing.playerId).name}</a> to a 
                                    ${e.signing.contract.isRookie ? $h` rookie contract.` : $h` ${e.signing.contract.years.length}-year contract @ ${universeWebService.displayDiamonds(e.signing.contract.years[0].salary)}.`}
                                    
                                ` : $h` `}
                        
                                ${e.dropping ? $h`
                                    released <a href="${universeWebService.startDateLink(`/p/${e.dropping.playerId}`)}">${getPlayer(e.dropping.playerId).name}</a>.
                                ` : $h` `}
                    
                            `)}

                    </div>
                </div>
            </a>
            </li>

        `)}


      </ul>
    </div>


</template>


<script>

    import { ContainerService } from "../../../service/container-service"
    import { WalletService } from "../../../service/wallet-service"
    import { LoginWebService } from "../../service/login-web-service"
    import { UniverseWebService } from "../../service/universe-web-service"
    import { GameWebService } from "../../service/game-web-service"

    import logo from "../../html/images/logo.png"
    import { ethers } from "ethers"
    import dayjs from "dayjs"
    import { OffChainEventWebService } from "../../service/off-chain-event-web-service.ts"

    export default (props, { $on, $f7, $update }) => {

        let env = ContainerService.getInstance("env")()
        let walletService = ContainerService.getInstance("WalletService")
        let eventTarget = ContainerService.getInstance("eventTarget")
        let loginWebService = ContainerService.getInstance(LoginWebService)
        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let gameWebService = ContainerService.getInstance(GameWebService)
        let offChainEventWebService = ContainerService.getInstance(OffChainEventWebService)

        const getTeam = (id) => {
            return gameTransactions?.teams.find(t => t._id == id)
        }

        const getPlayer = (id) => {
            return gameTransactions?.players.find(p => p._id == id)
        }

        let gameTransactions = props.transactions
        let onChainEvents = props.events

        return $render
    }
</script>