<template>

    <div class="page page-with-subnavbar" data-name="activity">

        <div class="page-content">

            <div class="hidden-on-load">

                <div class="block">
                    <p class="segmented">
                        <a href="${universeWebService.fullLink(`/activity`)}" class="button button-outline tab-link" >On-chain</a>
                        <a href="${universeWebService.fullLink(`/activity/off`)}" class="button button-outline tab-link">Off-chain</a>
                        <a href="${universeWebService.fullLink(`/activity/game`)}" class="button button-outline tab-link tab-link-active">Player Moves</a>
                    </p>
                </div>



                

                ${model?.transactions?.length > 0 ? $h`

                    <div class="card card-outline card-header-divider">

                        <div class="card-header">Player Transactions</div>
                        <div class="card-content">
                            <${GameTransactions} transactions="${model}" />
                        </div>
                    </div>

                ` : $h` `}

                <div class="block split-row-both">
                    <div>
                        ${previousPage ? $h`
                        <a data-reload-current="true" data-force="true" data-browser-history="true"
                            href="/activity/game?page=${previousPage}&startDate=${universeWebService.getStartDate()}&rank=${rank}"
                            class="button button-outline color-gray">Previous</a>
                        ` : $h` `}
                    </div>
                    <div>
                        ${nextPage ? $h`
                        <a data-reload-current="true" data-force="true" data-browser-history="true"
                            href="/activity/game?page=${nextPage}&startDate=${universeWebService.getStartDate()}&rank=${rank}"
                            class="button button-fill">Next</a>
                        ` : $h` `}
                    </div>
                </div>


            </div>

            <div class="hide-on-pageinit">

                <div class="card skeleton-text">
                    <div class="card-header">Activity</div>
                    <div class="card-content card-content-padding data-table">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                        lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
                    </div>

                </div>

            </div>

        </div>

    </div>

</template>

<style>


</style>

<script>


    import Navbar from "../common/navbar.f7.html"
    import OffChainEvents from "./offchain-events.f7.html"
    import OnChainEvents from "./onchain-events.f7.html"
    import GameTransactions from "./game-transaction-events.f7.html"

    import { ContainerService } from "../../../service/container-service.ts"
    import { UniverseWebService } from "../../service/universe-web-service.ts"


    export default (props, { $on, $, $f7, $update }) => {

        let dayjs = ContainerService.getInstance("dayjs")
        let env = ContainerService.getInstance("env")()
        let eventTarget = ContainerService.getInstance("eventTarget")
        let universeWebService = ContainerService.getInstance(UniverseWebService)

        let model = props.model
        let page = props.page
        let rank = props.rank

        let previousPage = props.previousPage
        let nextPage = props.nextPage

        const link = (href) => {
            return "/" + href
        }


        $on('pageInit', async () => { })


        $on('pageBeforeIn', async () => {


            eventTarget.dispatchEvent(new CustomEvent('main-nav', {
                detail: {
                    tabLink: "/activity/game",
                    breadcrumbs: [{ text: "Home", path: "/" }, { text: "Activity (Player Moves)" }],
                }
            }))


            universeWebService.setMetadata(
                     `Activity (Player Moves) - Ethereum Baseball League`, 
                    window.location.href, 
                    `${env.WEB}/logo.png`,
                   `Activity (Player Moves) in Ethereum Baseball League.`
            ) 


            $('.hide-on-pageinit').hide()
            $('.hidden-on-load').removeClass('hidden-on-load')

            await $update()

        })

        $on('pageBeforeOut', async () => {
        })


        return $render

    }
</script>