<template>

    <div class="card card-outline card-header-divider">
        <div class="card-header">Rewards & Player Moves</div>
        <div class="card-content">
            <div class="stat-table-wrapper">
                <table class="data-table game-transactions">
                    <thead>

                        <th class="date">Date</th>
                        <th>Description</th>
                        <th>From/To</th>
                        <th class="numeric-cell">Amount</th>
                        <th>Game</th>
                    </thead>
                    <tbody>

                        ${eventsViewModel.events.map( oce => $h`
                            <tr>
                                <td>
                                    ${dayjs(oce.dateCreated).format("ddd, MMM D, YYYY h:mm A")}<br />
                                    <span class="id">${oce._id}</span>
                                </td>
                                <td>${getOffChainDescription(oce)}</td>
                                <td>

                                    ${oce.fromTeamId ? $h`
                                        <a href="${universeWebService.startDateLink(`/t/index/${oce.fromTeamId}`)}">${getTeamName(oce.fromTokenId)}</a>
                                    ` : $h``}

                                    ${oce.fromAddress ? $h`
                                        <a href="/u/activity?address=${oce.fromAddress}">${walletService.truncateEthAddress(oce.fromAddress)}</a>
                                    ` : $h` `}

                                    <span class="event-arrow">➡️</span>
                                    
                                    ${oce.toTeamId ? $h`
                                        <a href="${universeWebService.startDateLink(`/t/index/${oce.toTeamId}`)}">${getTeamName(oce.toTeamId)}</a>
                                    ` : $h` `} 

                                    ${oce.toAddress ? $h`
                                        <a href="/u/activity?address=${oce.toAddress}">${walletService.truncateEthAddress(oce.toAddress)}</a>
                                    ` : $h` `}

                                </td>
                                <td class="numeric-cell">${getOffChainAmount(oce)}</td>
                                <td>${oce.gameId ? $h`<a
                                        href="${universeWebService.startDateLink(`/g/${oce.gameId}`)}">Link</a>`
                                    : $h` `}</td>
                            </tr>
                        `)}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</template>


<script>

    import { ContainerService } from "../../../service/container-service"
    import { WalletService } from "../../../service/wallet-service"
    import { LoginWebService } from "../../service/login-web-service"
    import { UniverseWebService } from "../../service/universe-web-service"
    import { GameWebService } from "../../service/game-web-service"

    import logo from "../../html/images/logo.png"
    import { ethers } from "ethers"
    import dayjs from "dayjs"
    import { OffChainEventWebService } from "../../service/off-chain-event-web-service.ts"

    export default (props, { $on, $f7, $update }) => {

        let walletService = ContainerService.getInstance("WalletService")
        let eventTarget = ContainerService.getInstance("eventTarget")
        let loginWebService = ContainerService.getInstance(LoginWebService)
        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let gameWebService = ContainerService.getInstance(GameWebService)
        let offChainEventWebService = ContainerService.getInstance(OffChainEventWebService)

        const getOffChainDescription = (oce) => {
            return offChainEventWebService.getOffChainDescription(oce)
        }

        const getOffChainAmount = (oce) => {
            if (oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return `-${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return universeWebService.displayDiamonds(oce.amount)
            }
        }
        


        let eventsViewModel = props.model

        const getTeam = (teamId) => {
            return eventsViewModel.teams?.find( t => t._id == teamId)
        }

        const getTeamName = (teamId) => {
            
            let team = getTeam(teamId)

            return `${team.cityName ? team.cityName : ''} ${team.name}`

        }


        return $render
    }
</script>