<template>


    <div class="list list-dividers-ios" style="margin-top: 0px;">
      <ul>

        ${onChainEvents.transactions?.map( t => $h`

            <li>
                <a class="item-link item-content" href="${env.PROVIDER_CHAIN_BLOCK_EXPLORER}/tx/${t.transaction._id}">
                    <div class="item-inner">
                        <div class="item-title">
                            <!-- Item header, must be first child of item-title -->
                            <div class="item-header">
                                Transaction hash <a href="${env.PROVIDER_CHAIN_BLOCK_EXPLORER}/tx/${t.transaction._id}" class="external">${ walletService.truncateEthAddress(t.transaction._id) }</a>
                            </div>

                            <ul class="event-list">

                            ${t.events?.map( oce => $h`
                                <li>
                                    ${getOnChainDescription(oce)} 
                                    
                                    ${oce.amount ? $h`${getOnChainTransferAmount(oce)}` : $h` `} 
                                    ${oce.tokenId ? $h` ${!oce.amount ? 'of ' : ''}  <a href="/t/${oce.tokenId}">${getTeamName(oce.tokenId)}</a> (#${oce.tokenId})` : $h` `}        
                                    
                                    ${oce.fromAddress ? $h`
                                        <div class="transaction-info">
                                            <span class="label">From: </span><a href="/u/activity?address=${oce.fromAddress}">${walletService.truncateEthAddress(oce.fromAddress)}</a>
                                        </div>
                                    ` : $h` `}

                                    ${oce.toAddress ? $h`
                                        <div class="transaction-info">
                                            <span class="label">To: </span><a href="/u/activity?address=${oce.toAddress}">${walletService.truncateEthAddress(oce.toAddress)}</a>
                                        </div>
                                    ` : $h` `}

                                    ${oce.isMint ? $h`<span class="badge">Mint</span>` : $h` `}
                                    ${oce.isTransfer ? $h`<span class="badge">Transfer</span>` : $h` `}
                                </li>

                            `)}

                                
                            </ul>




                            
                            <div class="item-footer">Block # ${t.transaction.blockNumber}</div>
                        </div>
                        <div class="item-after small-gray">${dayjs.unix(t.transaction.timestamp).format('ddd, MM/DD h:mm')}</div>
                    </div>
                </a>
            </li>

        `)}


      </ul>
    </div>



</template>


<script>

    import { ContainerService } from "../../../service/container-service"
    import { WalletService } from "../../../service/wallet-service"
    import { LoginWebService } from "../../service/login-web-service"
    import { UniverseWebService } from "../../service/universe-web-service"
    import { GameWebService } from "../../service/game-web-service"

    import logo from "../../html/images/logo.png"
    import { ethers } from "ethers"
    import dayjs from "dayjs"
    import { OffChainEventWebService } from "../../service/off-chain-event-web-service.ts"

    export default (props, { $on, $f7, $update }) => {

        let env = ContainerService.getInstance("env")()
        let walletService = ContainerService.getInstance("WalletService")
        let eventTarget = ContainerService.getInstance("eventTarget")
        let loginWebService = ContainerService.getInstance(LoginWebService)
        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let gameWebService = ContainerService.getInstance(GameWebService)
        let offChainEventWebService = ContainerService.getInstance(OffChainEventWebService)

        const getOnChainTransferAmount = (oce) => {

            if (oce.event == "DepositToTeam") return ` of ${universeWebService.displayDiamonds(oce.amount)}`

            if (oce.event == "WithdrawFromTeam") return ` of ${universeWebService.displayDiamonds(oce.amount)}`

            if (oce.event == "Transfer") {
                if (oce.toAddress == "0x0000000000000000000000000000000000000000") return ` of ${universeWebService.displayDiamonds(oce.amount)}`
                if (oce.fromAddress == "0x0000000000000000000000000000000000000000") return ` of ${universeWebService.displayDiamonds(oce.amount)}`
            }
        }


        const getOnChainDescription = (oce) => {

            if (oce.event == "DepositToTeam") {
                if (!oce.offChainEventId) return "Deposit to team (Pending)"
                return "Deposit to team"
            }



            if (oce.event == "WithdrawFromTeam") return "Withdraw from team"

            // if (oce.isMint) {
            //     if (oce.contractAddress == env.UNIVERSE_ADDRESS) return "Team Minted"
            //     return "Mint"
            // }
            if (oce.isTransfer) return "Transfer"
            return oce.event
        }




        let onChainEvents = props.events

        console.log(onChainEvents)

        const getTeamName = (tokenId) => {
            let team = onChainEvents.teams?.find( t => t.tokenId == tokenId )
            if (team) return `${team.cityName} ${team.name}`
        }

        return $render
    }
</script>