<template>
    <div class="card">
        <div class="card-header">${name}</div>
        <div class="card-content">

            <div class="stat-table-wrapper">
                <table class="data-table small-font game-table">
                <thead>
                    <tr>
                    <th class="image"></th>
                    <th class="name">Batting</th>
                    <th class="numeric-cell">POS</th>
                    <th class="numeric-cell">AB</th>
                    <th class="numeric-cell">R</th>
                    <th class="numeric-cell">H</th>
                    <th class="numeric-cell">2B</th>
                    <th class="numeric-cell">3B</th>
                    <th class="numeric-cell">HR</th>
                    <th class="numeric-cell">RBI</th>
                    <th class="numeric-cell">BB</th>
                    <th class="numeric-cell">HBP</th>
                    <th class="numeric-cell">SO</th>       
                    </tr>                
                </thead>
                <tbody>
                    ${batters.map( (p) => $h`
                    <tr class="${vm.teamInfo.lineupIds[vm.teamInfo.currentHitterIndex] == p._id && !vm.isComplete ? $h`${vm.isTopInning && vm.homeaway=='AWAY' || !vm.isTopInning && vm.homeaway=='HOME' ? $h`at-bat` : $h`at-bat-next`}` : $h``}">
                        <td class="image"><img src="/player/image/${p._id}" width="25" height="25" /></td>
                        <td class="name"> ${p.hits} <a href="${universeWebService.startDateLink(`/p/${p._id}`)}">${p.fullName}</a></td>
                        <td class="pos">${p.currentPosition}</td>
                        <td class="numeric-cell">${p.hitResult.atBats}</td>
                        <td class="numeric-cell">${p.hitResult.runs}</td>
                        <td class="numeric-cell">${p.hitResult.hits}</td>
                        <td class="numeric-cell">${p.hitResult.doubles}</td>
                        <td class="numeric-cell">${p.hitResult.triples}</td>
                        <td class="numeric-cell">${p.hitResult.homeRuns}</td>
                        <td class="numeric-cell">${p.hitResult.rbi}</td>
                        <td class="numeric-cell">${p.hitResult.bb}</td>
                        <td class="numeric-cell">${p.hitResult.hbp}</td>
                        <td class="numeric-cell">${p.hitResult.so}</td>
                    </tr>
                    `)}


                </tbody>                            
                </table>
            </div>

            <div class="stat-table-wrapper">
                <table class="data-table small-font game-table">
                <thead>
                    <tr>
                    <th class="image"></th>
                    <th>Pitching</th>
                    <th class="pos">POS</th>
                    <th class="numeric-cell">W</th>
                    <th class="numeric-cell">L</th>
                    <th class="numeric-cell">IP</th>
                    <th class="numeric-cell">H</th>
                    <th class="numeric-cell">R</th>
                    <th class="numeric-cell">ER</th>
                    <th class="numeric-cell">HR</th>
                    <th class="numeric-cell">BB</th>
                    <th class="numeric-cell">SO</th>
                    <th class="numeric-cell">HBP</th>
                    <th class="numeric-cell">BF</th>     
                    <th class="numeric-cell">PIT</th>                  
                    <th class="numeric-cell">STR</th>                  
                    </tr>
                </thead>
                <tbody>
                    ${pitchers.map( (p, index) => $h`
                    <tr class="${vm.teamInfo.currentPitcherId == p._id && (vm.isTopInning && vm.homeaway=='HOME' || !vm.isTopInning && vm.homeaway=='AWAY') && !vm.isComplete ? $h`pitching` : $h``}">
                        <td class="image"><img src="/player/image/${p.playerId}" width="25" height="25" /></td>
                        <td class="name">${p.throws} <a href="${universeWebService.startDateLink(`/p/${p.playerId}`)}">${p.fullName}</a></td>
                        <td class="pos">${p.currentPosition}</td>
                        <td class="numeric-cell">${p.pitchResult.wins}</td>
                        <td class="numeric-cell">${p.pitchResult.losses}</td>
                        <td class="numeric-cell">${p.pitchResult.ip}</td>
                        <td class="numeric-cell">${p.pitchResult.hits}</td>
                        <td class="numeric-cell">${p.pitchResult.runs}</td>
                        <td class="numeric-cell">${p.pitchResult.er}</td>
                        <td class="numeric-cell">${p.pitchResult.homeRuns}</td>
                        <td class="numeric-cell">${p.pitchResult.bb}</td>
                        <td class="numeric-cell">${p.pitchResult.so}</td>
                        <td class="numeric-cell">${p.pitchResult.hbp}</td>
                        <td class="numeric-cell">${p.pitchResult.battersFaced}</td>
                        <td class="numeric-cell">${p.pitchResult.pitches}</td>
                        <td class="numeric-cell">${p.pitchResult.strikes}</td>
                    </tr>
                    `)}

                </tbody>                            
                </table>
            </div>

            <div class="batter-summary">
                ${doubles?.length > 0 ? $h`<strong>2B:</strong> ${arrayToStr(doubles)}<br />` : $h``}
                ${triples?.length > 0 ? $h`<strong>3B:</strong> ${arrayToStr(triples)}<br />` : $h``}
                ${hr?.length > 0 ? $h`<strong>HR:</strong> ${arrayToStr(hr)}<br />` : $h``}
                ${tb?.length > 0 ? $h`<strong>TB:</strong> ${arrayToStr(tb)}<br />` : $h``}
                ${rbi?.length > 0 ? $h`<strong>RBI:</strong> ${arrayToStr(rbi)}<br />` : $h``}
            </div>

        </div>
    </div>
</template>

<style></style>
  
<script>

import { ContainerService } from "../../../service/container-service.ts"
import { UniverseWebService } from "../../service/universe-web-service.ts"
import { Position } from "../../../service/enums.ts"

export default (props, { $on, $, $f7, $update }) => {

    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let vm = props.vm
    let name = props.name

    let lineup = vm.teamInfo.lineupIds

    let batters = lineup.map( id => vm.teamInfo.players.find( p => p._id == id))
    let pitchers = lineup.map( id => vm.teamInfo.players.find( p => p._id == id)).filter( p2 => p2.currentPosition == Position.PITCHER)

    let doubles = vm.teamInfo.players.filter(p => p.hitResult.doubles > 0).map( p => {
      return { _id: p._id, name: p.fullName, value: p.hitResult.doubles }
    })

    let triples = vm.teamInfo.players.filter(p => p.hitResult.triples > 0).map( p => {
      return {  _id: p._id, name: p.fullName, value: p.hitResult.triples }
    })

    let hr = vm.teamInfo.players.filter(p => p.hitResult.homeRuns > 0).map( p => {
      return {  _id: p._id, name: p.fullName, value: p.hitResult.homeRuns }
    })

    let tb = vm.teamInfo.players.filter(p => p.hitResult.tb > 0).map( p => {
      return {  _id: p._id, name: p.fullName, value: p.hitResult.tb }
    })

    let rbi = vm.teamInfo.players.filter(p => p.hitResult.rbi > 0).map( p => {
      return { name: p.fullName, value: p.hitResult.rbi }
    })

    const arrayToStr = (arr) => {

      let mapped = arr.map( v => `${v.name} ${v.value > 1 ? `${v.value}` : ``}`.trim())
      return `${mapped.join("; ")}`
    }


    return $render
}
</script>

  
  