<template>

  <div class="page" data-name="game-in-progress">

    <div class="page-content game-page">

      ${gameViewModel?.game ? $h`
          
          <${GameState} vm=${gameViewModel} /> 

          <div class="popup box-score-popup popup-tablet-fullscreen">
            <div class="view">
              <div class="page">
                <div class="navbar">
                  <div class="navbar-bg"></div>
                  <div class="navbar-inner">
                    <div class="title">
                      Box Score
                    </div>
                    <div class="right">
                      <!-- Link to close popup -->
                      <a class="link popup-close">Close</a>
                    </div>
                  </div>
                </div>
                <div class="page-content">

                  <div class="game-banner">
                    <div class="linescore-wrapper">
                      <table class="linescore">
                        <thead>
                          <tr>
                            <th></th>
                            ${Array.from({length: Math.max(9, gameViewModel.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                              <th>${num}</th>                          
                            `)}
                    
                            <th>R</th>
                            <th>H</th>
                            <th>E</th>        
                          </tr>
                        </thead>
                        <tbody>
                          <tr>

                            <td class="abbrev">
                              <img src="/image/thumbnail/${gameViewModel?.game.away.logoId}" class="profilePic" />
                            </td>
                    
                            ${Array.from({length: Math.max(9, gameViewModel.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                              <td class="align-center ${!gameViewModel.game.isComplete && gameViewModel.game.currentInning == num && gameViewModel.linescoreViewModel.isTopInning ? $h`current` : ` `}">${gameViewModel.linescoreViewModel.linescore.away[num]}</td>                        
                            `)}
                    
                            <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.away[gameViewModel.linescoreViewModel.linescore.away.length - 3]}</td>
                            <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.away[gameViewModel.linescoreViewModel.linescore.away.length - 2]}</td>
                            <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.away[gameViewModel.linescoreViewModel.linescore.away.length - 1]}</td>
                          </tr>
                          <tr>
                        
                            <td class="abbrev">
                              <img src="/image/thumbnail/${gameViewModel?.game.home.logoId}" class="profilePic" /> ${gameViewModel.game.home.abbrev}
                            </td>
                        
                            ${Array.from({length: Math.max(9, gameViewModel.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                              <td class="align-center ${!gameViewModel.game.isComplete && gameViewModel.game.currentInning == num && !gameViewModel.linescoreViewModel.isTopInning ? $h`current` : ` `}">${gameViewModel.linescoreViewModel.linescore.home[num]}</td>                        
                            `)}
                    
                            <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.home[gameViewModel.linescoreViewModel.linescore.home.length - 3]}</td>
                            <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.home[gameViewModel.linescoreViewModel.linescore.home.length - 2]}</td>
                            <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.home[gameViewModel.linescoreViewModel.linescore.home.length - 1]}</td>
                          </tr>
                        </tbody>	
                      </table>
                    </div>
                  </div>


                  <div class="grid grid-cols-1 large-grid-cols-2">
                      <${Boxscore} vm=${getAwayBoxscoreViewModel} />
                      <${Boxscore} vm=${getHomeBoxscoreViewModel} />
                  </div>  

                </div>
              </div>
            </div>
          </div>
      
          <div class="block">
            <br />
          </div>

      ` : $h`
        <div class="block">
          No game found.
        </div>
      `}

    </div>

  </div>

</template>

<script>


  import Navbar from "../common/navbar.f7.html"
  import LineScore from "./linescore.f7.html"
  import GameState from "./game-state.f7.html"


  import dayjs from "dayjs"

  import { ContainerService } from "../../../service/container-service.ts"
  import { GameWebService } from "../../service/game-web-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"
  import { TeamWebService } from "../../service/team-web-service.ts"

  import { Position } from "../../../service/enums.ts"

  import InProgress from "../game/in-progress.f7.html"
  import Scheduled from "../game/scheduled.f7.html"
  import Result from "../game/result.f7.html"

  const arrayToStr = (arr) => {

    let mapped = arr.map( v => `${v.name} ${v.value > 1 ? `${v.value}` : ``}`.trim())
    return `${mapped.join("; ")}`
  }


  const Boxscore = (props, { $on, $, $f7, $h, $update }) => {

    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let teamWebService = ContainerService.getInstance(TeamWebService)

    let vm = props.vm()

    const getBoxscoreInfo = (theVm) => {

      let lineup = theVm.teamInfo.lineupIds

      let batters = lineup.map( id => theVm.teamInfo.players.find( p => p._id == id))
      let pitchers = lineup.map( id => theVm.teamInfo.players.find( p => p._id == id)).filter( p2 => p2.currentPosition == Position.PITCHER)

      let doubles = theVm.teamInfo.players.filter(p => p.hitResult.doubles > 0).map( p => {
        return { _id: p._id, name: p.fullName, value: p.hitResult.doubles }
      })

      let triples = theVm.teamInfo.players.filter(p => p.hitResult.triples > 0).map( p => {
        return {  _id: p._id, name: p.fullName, value: p.hitResult.triples }
      })

      let hr = theVm.teamInfo.players.filter(p => p.hitResult.homeRuns > 0).map( p => {
        return {  _id: p._id, name: p.fullName, value: p.hitResult.homeRuns }
      })

      let tb = theVm.teamInfo.players.filter(p => p.hitResult.tb > 0).map( p => {
        return {  _id: p._id, name: p.fullName, value: p.hitResult.tb }
      })

      let rbi = theVm.teamInfo.players.filter(p => p.hitResult.rbi > 0).map( p => {
        return { name: p.fullName, value: p.hitResult.rbi }
      })

      return { lineup, batters, pitchers, doubles, triples, hr, tb, rbi }

    }

    let info = getBoxscoreInfo(vm)

    let lineup = info.lineup
    let batters  = info.batters
    let pitchers  = info.pitchers
    let doubles = info.doubles
    let triples = info.triples
    let hr = info.hr
    let tb = info.tb
    let rbi = info.rbi
    
    $f7.on('gameUpdate', (gameViewModel) => {

      Object.assign(vm, props.vm())

      info = getBoxscoreInfo(vm)

      lineup = info.lineup
      batters  = info.batters
      pitchers  = info.pitchers
      doubles = info.doubles
      triples = info.triples
      hr = info.hr
      tb = info.tb
      rbi = info.rbi

      $update()
    })


    return () => $h`<div class="block block-outline block-strong">
        <div class="block-header">${teamWebService.getTeamName(vm.teamInfo)}</div>

          <div class="stat-table-wrapper">
                <table class="data-table small-font game-table">
                <thead>
                    <tr>
                    <th class="image"></th>
                    <th class="name">Batting</th>
                    <th class="numeric-cell">POS</th>
                    <th class="numeric-cell">AB</th>
                    <th class="numeric-cell">R</th>
                    <th class="numeric-cell">H</th>
                    <th class="numeric-cell">2B</th>
                    <th class="numeric-cell">3B</th>
                    <th class="numeric-cell">HR</th>
                    <th class="numeric-cell">RBI</th>
                    <th class="numeric-cell">BB</th>
                    <th class="numeric-cell">HBP</th>
                    <th class="numeric-cell">SO</th>       
                    </tr>                
                </thead>
                <tbody>
                    ${batters.map( (p, index) => $h`
                    <tr class="${vm.teamInfo.lineupIds[vm.teamInfo.currentHitterIndex] == p._id && !vm.isComplete ? $h`${vm.isTopInning && vm.homeaway=='AWAY' || !vm.isTopInning && vm.homeaway=='HOME' ? $h`at-bat` : $h`at-bat-next`}` : $h``}">
                        <td class="image"><img src="/player/image/${p._id}" width="25" height="25" /></td>
                        <td class="name"> ${p.hits} <a href="${universeWebService.startDateLink(`/p/${p._id}`)}">${p.fullName}</a></td>
                        <td class="pos">${p.currentPosition}</td>
                        <td class="numeric-cell">${p.hitResult.atBats}</td>
                        <td class="numeric-cell">${p.hitResult.runs}</td>
                        <td class="numeric-cell">${p.hitResult.hits}</td>
                        <td class="numeric-cell">${p.hitResult.doubles}</td>
                        <td class="numeric-cell">${p.hitResult.triples}</td>
                        <td class="numeric-cell">${p.hitResult.homeRuns}</td>
                        <td class="numeric-cell">${p.hitResult.rbi}</td>
                        <td class="numeric-cell">${p.hitResult.bb}</td>
                        <td class="numeric-cell">${p.hitResult.hbp}</td>
                        <td class="numeric-cell">${p.hitResult.so}</td>
                    </tr>
                    `)}


                </tbody>                            
                </table>
            </div>

            <div class="stat-table-wrapper">
                <table class="data-table small-font game-table">
                <thead>
                    <tr>
                    <th class="image"></th>
                    <th>Pitching</th>
                    <th class="pos">POS</th>
                    <th class="numeric-cell">W</th>
                    <th class="numeric-cell">L</th>
                    <th class="numeric-cell">IP</th>
                    <th class="numeric-cell">H</th>
                    <th class="numeric-cell">R</th>
                    <th class="numeric-cell">ER</th>
                    <th class="numeric-cell">HR</th>
                    <th class="numeric-cell">BB</th>
                    <th class="numeric-cell">SO</th>
                    <th class="numeric-cell">HBP</th>
                    <th class="numeric-cell">BF</th>     
                    <th class="numeric-cell">PIT</th>                  
                    <th class="numeric-cell">STR</th>                  
                    </tr>
                </thead>
                <tbody>
                    ${pitchers.map( (p, index) => $h`
                    <tr class="${vm.teamInfo.currentPitcherId == p._id && (vm.isTopInning && vm.homeaway=='HOME' || !vm.isTopInning && vm.homeaway=='AWAY') && !vm.isComplete ? $h`pitching` : $h``}">
                        <td class="image"><img src="/player/image/${p._id}" width="25" height="25" /></td>
                        <td class="name">${p.throws} <a href="${universeWebService.startDateLink(`/p/${p._id}`)}">${p.fullName}</a></td>
                        <td class="pos">${p.currentPosition}</td>
                        <td class="numeric-cell">${p.pitchResult.wins}</td>
                        <td class="numeric-cell">${p.pitchResult.losses}</td>
                        <td class="numeric-cell">${p.pitchResult.ip}</td>
                        <td class="numeric-cell">${p.pitchResult.hits}</td>
                        <td class="numeric-cell">${p.pitchResult.runs}</td>
                        <td class="numeric-cell">${p.pitchResult.er}</td>
                        <td class="numeric-cell">${p.pitchResult.homeRuns}</td>
                        <td class="numeric-cell">${p.pitchResult.bb}</td>
                        <td class="numeric-cell">${p.pitchResult.so}</td>
                        <td class="numeric-cell">${p.pitchResult.hbp}</td>
                        <td class="numeric-cell">${p.pitchResult.battersFaced}</td>
                        <td class="numeric-cell">${p.pitchResult.pitches}</td>
                        <td class="numeric-cell">${p.pitchResult.strikes}</td>
                    </tr>
                    `)}

                </tbody>                            
                </table>
            </div>

            <div class="batter-summary">
                ${doubles?.length > 0 ? $h`<strong>2B:</strong> ${arrayToStr(doubles)}<br />` : $h``}
                ${triples?.length > 0 ? $h`<strong>3B:</strong> ${arrayToStr(triples)}<br />` : $h``}
                ${hr?.length > 0 ? $h`<strong>HR:</strong> ${arrayToStr(hr)}<br />` : $h``}
                ${tb?.length > 0 ? $h`<strong>TB:</strong> ${arrayToStr(tb)}<br />` : $h``}
                ${rbi?.length > 0 ? $h`<strong>RBI:</strong> ${arrayToStr(rbi)}<br />` : $h``}
            </div>

    </div>`;


  }


  export default (props, { $on, $, $f7, $update, $ref }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")

    let gameWebService = ContainerService.getInstance(GameWebService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let teamWebService = ContainerService.getInstance(TeamWebService)

    let gameViewModel = props.gameViewModel

    
    let linescoreViewModel = gameViewModel.linescoreViewModel
    let awayBoxscoreViewModel = gameViewModel.awayBoxscoreViewModel
    let homeBoxscoreViewModel = gameViewModel.homeBoxscoreViewModel

    const getAwayBoxscoreViewModel = () => { return awayBoxscoreViewModel }
    const getHomeBoxscoreViewModel = () => { return homeBoxscoreViewModel }

    let messages

    let loading 
    let lastGameUpdate

    const onGameUpdate = async (game) => {

      Object.assign(gameViewModel, await gameWebService.getGameViewModel(game))
      Object.assign(linescoreViewModel, gameViewModel.linescoreViewModel)

      Object.assign(awayBoxscoreViewModel, gameViewModel.awayBoxscoreViewModel)
      Object.assign(homeBoxscoreViewModel, gameViewModel.homeBoxscoreViewModel)


      messages = $f7.messages.get('.game-messages')
      $f7.emit('gameUpdate', gameViewModel, messages, true)

      await $update()


      if (game.isComplete) {
        $f7.views.main.router.refreshPage()
      }

      
    }


    $on('pageBeforeIn', async (e) => {
              
      //Start watching game
      gameWebService.watchGame(gameViewModel.game._id, onGameUpdate)
      
      messages = $f7.messages.get('.game-messages')

      $f7.emit('gameUpdate', gameViewModel, messages, false)
      
      await $update()

      if (gameViewModel.linescoreViewModel) {

          eventTarget.dispatchEvent(new CustomEvent('main-nav', {
              detail: { tabLink: "/games", breadcrumbs:[], visible: false }
          }))


          universeWebService.setMetadata(
              `${gameViewModel.game.away.cityName ? gameViewModel.game.away.cityName : ''} ${gameViewModel.game.away.name} @ ${gameViewModel.game.home.cityName ? gameViewModel.game.home.cityName : ''} ${gameViewModel.game.home.name} on ${dayjs(gameViewModel.game.gameDate).format("YYYY-MM-DD")}- Ethereum Baseball League`, 
              window.location.href, 
              `${env.WEB}/logo.png`, 
              `${gameViewModel.game.away.cityName ? gameViewModel.game.away.cityName : ''} ${gameViewModel.game.away.name} @ ${gameViewModel.game.home.cityName ? gameViewModel.game.home.cityName : ''} ${gameViewModel.game.home.name} on ${dayjs(gameViewModel.game.gameDate).format("YYYY-MM-DD")}`
          ) 

      }

      requestAnimationFrame(() => {
        requestAnimationFrame(() => {
          messages.scroll(0)
        })
      })



    })


    $on('pageBeforeOut', async () => {
      gameWebService.unwatchGame(gameViewModel.game._id)
    })





    return $render

  }
</script>