<template>

    <div class="game-state">

      <div class="game-banner">

          <div class="away ${vm?.game.isComplete && vm?.game.score.away > vm?.game.score.home ? $h`winner` : $h` `}">

            <div class="name">

              <a href="${universeWebService.startDateLink(`/t/index/${vm.game.away._id}`)}">
                <img src="/image/thumbnail/100/${vm?.game.away.logoId}" class="profilePic" />
                <span class="record">${vm?.game.away.overallRecord.after?.wins || vm?.game.away.overallRecord.before?.wins}-${vm?.game.away.overallRecord.after?.losses || vm?.game.away.overallRecord.before?.losses}<br /></span>
              
                ${teamWebService.getTeamName(vm?.game.away)}

              </a>

            </div>
            <div class="runs">${vm?.game.score.away}</div>
          </div>

          <div class="linescore-wrapper large-only-flex">
            <table class="linescore">
              <thead>
                <tr>
                  <th></th>
                  ${Array.from({length: Math.max(9, vm.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                    <th>${num}</th>                          
                  `)}
          
                  <th>R</th>
                  <th>H</th>
                  <th>E</th>        
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td class="abbrev">
                    <img src="/image/thumbnail/${vm?.game.away.logoId}" class="profilePic" />
                  </td>
          
                  ${Array.from({length: Math.max(9, vm.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                    <td class="align-center ${!vm.game.isComplete && vm.game.currentInning == num && vm.linescoreViewModel.isTopInning ? $h`current` : ` `}">${vm.linescoreViewModel.linescore.away[num]}</td>                        
                  `)}
          
                  <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.away[vm.linescoreViewModel.linescore.away.length - 3]}</td>
                  <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.away[vm.linescoreViewModel.linescore.away.length - 2]}</td>
                  <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.away[vm.linescoreViewModel.linescore.away.length - 1]}</td>
                </tr>
                <tr>
              
                  <td class="abbrev">
                    <img src="/image/thumbnail/${vm?.game.home.logoId}" class="profilePic" /> ${vm.game.home.abbrev}
                  </td>
              
                  ${Array.from({length: Math.max(9, vm.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                    <td class="align-center ${!vm.game.isComplete && vm.game.currentInning == num && !vm.linescoreViewModel.isTopInning ? $h`current` : ` `}">${vm.linescoreViewModel.linescore.home[num]}</td>                        
                  `)}
          
                  <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.home[vm.linescoreViewModel.linescore.home.length - 3]}</td>
                  <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.home[vm.linescoreViewModel.linescore.home.length - 2]}</td>
                  <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.home[vm.linescoreViewModel.linescore.home.length - 1]}</td>
                </tr>
              </tbody>	
            </table>
          </div>

          <div class="home ${vm?.game.isComplete && vm?.game.score.home > vm?.game.score.away ? $h`winner` : $h` `}">
            
            <div class="runs">${vm?.game.score.home}</div>
            
            <div class="name">

              <a href="${universeWebService.startDateLink(`/t/index/${vm.game.home._id}`)}">
                <img src="/image/thumbnail/100/${vm?.game.home.logoId}" class="profilePic" />
                <span class="record">${vm?.game.home.overallRecord.after?.wins || vm?.game.home.overallRecord.before?.wins}-${vm?.game.home.overallRecord.after?.losses || vm?.game.home.overallRecord.before?.losses}<br /></span>
                ${teamWebService.getTeamName(vm?.game.home)}
              </a>

            </div>
            
          </div>

      </div>

      <div class="left">

        <div class="content">

          ${vm.showLineup ? $h`
            <div class="card">
              <div class="card-header">${vm.atBatBoxscoreViewModel.teamInfo.name}</div>
              <div class="card-content card-content-padding">
                
                <table class="lineup">
                  <thead>
                    <th class="num order">#</th>
                    <th class="image"></th>
                    <th class="name">Name</th>
                    <th>Bats</th>
                    <th>POS</th>
                    <th class="stats">Today</th>
                  </thead>
                  <tbody>
                    ${vm.atBatBoxscoreViewModel.teamInfo.lineupIds.map( id => vm.atBatBoxscoreViewModel.teamInfo.players.find( p2 => p2._id == id) ).map( (p, index) => $h`
                    <tr class="${vm.atBatBoxscoreViewModel.teamInfo.currentHitterIndex == index ? $h`at-bat` : $h` `}">
                      <td class="num order">${index + 1}</td>
                      <td class="image"><img src="/player/image/${p._id}" width="20" height="20" /></td>
                      <td class="name"><a href="/p/${p._id}">${p.displayName}</a></td>
                      <td>${p.hits}</td>
                      <td class="pos">${p.currentPosition}</td>
                      <td class="stats">${gameWebService.hitterGameStatsShort(p)}</td>
                    </tr>
                    `)}
                  </tbody>
                </table>

              </div>
            </div>
          ` : $h` `}

        </div>

      </div>

      <div class="middle">

        <div class="state-info">

          ${vm.play ? $h`
            
            <div class="inning-wrapper">
                ${vm?.game.isTopInning ? $h`
                  Top ${vm?.game.currentInning}
                ` : $h`
                  Bottom ${vm?.game.currentInning}
                `}
            </div>

            <div class="info-wrapper">
              <span class="label">Balls</span>${gameWebService.getBalls(4, vm.balls)}
              <span class="label">Strikes</span>${gameWebService.getBalls(3, vm.strikes)}
              <span class="label">Outs</span>${gameWebService.getBalls(3, vm.outs)}
            </div>

            <div class="diamond-wrapper">
              <div class="diamond">
                <div class="first base ${vm.runner1B ? $h`runner` : $h` `}"></div>
                <div class="second base ${vm.runner2B ? $h`runner` : $h` `}"></div>
                <div class="third base ${vm.runner3B ? $h`runner` : $h` `}"></div>
              </div>
            </div>


          ` : $h` `}


        </div>

        <div class="game-info">

          <img src="${Field}" />

          ${vm.showHitter ? $h`
            <a href="/p/${vm.hitter._id}" class="runner hitter ${vm.matchupHandedness?.hits == "R" ? $h`rhb` : $h`lhb`}">

              ${vm.matchupHandedness?.hits == "L" ? $h`
                <div class="image">
                  <img src="/player/image/${vm.hitter._id}"  style="border: 1px solid ${vm.hitter.color1};" />
                </div>
              ` : $h` `}

              <div class="wrapper" style="border: 2px solid ${vm.hitter.color1};">
                <div class="text" style="background: ${vm.hitter.color1}; color: ${getFontColor(vm.hitter.color1)}; ">
                  ${vm.hitter.displayName}
                </div>
                <div class="game-stats">
                  ${gameWebService.hitterGameStatsShort(vm.hitter)}
                </div>
              </div>

              ${vm.matchupHandedness?.hits == "R" ? $h`
                <div class="image">
                  <img src="/player/image/${vm.hitter._id}" style="border: 1px solid ${vm.hitter.color1};"/>
                </div>
              ` : $h` `}

            </a>
          ` : $h` `}

          ${vm.runner1B ? $h`
            <a href="/p/${vm.runner1B._id}" class="runner firstBase">
              <div class="image">
                <img src="/player/image/${vm.runner1B._id}" style="border: 1px solid ${vm.runner1B.color1};" />
              </div>

              <div class="wrapper" style="border: 2px solid ${vm.runner1B.color1};">
                <div class="text" style="background: ${vm.runner1B.color1}; color: ${getFontColor(vm.runner1B.color1)}; ">
                  ${vm.runner1B.displayName}
                </div>              
                
                <div class="game-stats">Speed: ${vm.runner1B.hittingRatings.speed}</div>
              </div>

            </a>
          ` : $h` `}

          ${vm.runner2B ? $h`
            <a href="/p/${vm.runner2B._id}" class="runner secondBase">
              
              <div class="large-only-flex">
                <div class="image">
                  <img src="/player/image/${vm.runner2B._id}" style="border: 1px solid ${vm.runner2B.color1};" />
                </div>
              </div>


              <div class="wrapper" style="border: 2px solid ${vm.runner2B.color1};">
                <div class="text" style="background: ${vm.runner2B.color1}; color: ${getFontColor(vm.runner2B.color1)}; ">
                  ${vm.runner2B.displayName}
                </div>
                <div class="game-stats">Speed: ${vm.runner2B.hittingRatings.speed}</div>
              </div>

              <div class="small-only">
                <div class="image">
                  <img src="/player/image/${vm.runner2B._id}" style="border: 1px solid ${vm.runner2B.color1};" />
                </div>
              </div>


            </a>
          ` : $h` `}

          ${vm.runner3B ? $h`
            <a href="/p/${vm.runner3B._id}" class="runner thirdBase">
              <div class="image">
                <img src="/player/image/${vm.runner3B._id}" style="border: 1px solid ${vm.runner3B.color1};" />
              </div>

              <div class="wrapper" style="border: 2px solid ${vm.runner3B.color1};">
                <div class="text" style="background: ${vm.runner3B.color1}; color: ${getFontColor(vm.runner3B.color1)}; ">
                  ${vm.runner3B.displayName}
                </div>
                
                <div class="game-stats">Speed: ${vm.runner3B.hittingRatings.speed}</div>
              </div>

            </a>
          ` : $h` `}

          <a href="/p/${vm.pitcher._id}" class="defender p" data-pos="P">
            <div class="wrapper" style="border: 2px solid ${vm.pitcher.color1};">
              <div class="text" style="background: ${vm.pitcher.color1}; color: ${getFontColor(vm.pitcher.color1)}; ">
                ${vm.pitcher.displayName}
              </div>
              <div class="game-stats">${gameWebService.pitcherGameStatsShort(vm.pitcher)}</div>
            </div>

            <div class="image">
              <img src="/player/image/${vm.pitcher._id}" style="border: 1px solid ${vm.pitcher.color1};" />
            </div>

          </a>

          <a href="/p/${vm.catcher._id}" class="defender c top" data-pos="C">

            <div class="image">
              <img src="/player/image/${vm.catcher._id}" style="border: 1px solid ${vm.catcher.color1}; " />
            </div>

            <div class="wrapper large-only-block" style="border: 2px solid ${vm.catcher.color1}; display:none;">
              <div class="text" style="background: ${vm.catcher.color1}; color: ${getFontColor(vm.catcher.color1)}; ">
                ${vm.catcher.displayName}
              </div>
  
              <div class="game-stats">C DEF: ${vm.catcher.hittingRatings.defense} / ARM: ${vm.catcher.hittingRatings.arm}</div>
            </div>

          </a>

          <a href="/p/${vm.firstBase._id}" class="defender firstBase" data-pos="1B">
            <div class="wrapper large-only-block" style="border: 2px solid ${vm.firstBase.color1}; display:none;">
              <div class="text" style="background: ${vm.firstBase.color1}; color: ${getFontColor(vm.firstBase.color1)}; ">
                ${vm.firstBase.displayName}
              </div>
              <div class="game-stats">1B DEF: ${vm.firstBase.hittingRatings.defense}</div>
            </div>
            <div class="image">
              <img src="/player/image/${vm.firstBase._id}" style="border: 1px solid ${vm.firstBase.color1};" />
            </div>
          </a>

          <a href="/p/${vm.secondBase._id}" class="defender secondBase" data-pos="2B">

            <div class="wrapper large-only-block" style="border: 2px solid ${vm.secondBase.color1}; display:none;">
              <div class="text" style="background: ${vm.secondBase.color1}; color: ${getFontColor(vm.secondBase.color1)}; ">
                ${vm.secondBase.displayName}
              </div>
  
              <div class="game-stats">2B DEF: ${vm.secondBase.hittingRatings.defense}</div>
            </div>

            <div class="image">
              <img src="/player/image/${vm.secondBase._id}" style="border: 1px solid ${vm.secondBase.color1};" />
            </div>
          </a>

          <a href="/p/${vm.thirdBase._id}" class="defender thirdBase" data-pos="3B">

            <div class="wrapper large-only-block" style="border: 3px solid ${vm.thirdBase.color1}; display:none;">
              <div class="text"  style="background: ${vm.thirdBase.color1}; color: ${getFontColor(vm.thirdBase.color1)}; ">
                ${vm.thirdBase.displayName}
              </div>
              <div class="game-stats">3B DEF: ${vm.thirdBase.hittingRatings.defense}</div>
            </div>

            <div class="image">
              <img src="/player/image/${vm.thirdBase._id}" style="border: 1px solid ${vm.thirdBase.color1};" />
            </div>
          </a>

          <a href="/p/${vm.ss._id}" class="defender ss" data-pos="SS">
            <div class="wrapper large-only-block" style="border: 2px solid ${vm.ss.color1}; display:none;">
              <div class="text" style="background: ${vm.ss.color1}; color: ${getFontColor(vm.ss.color1)}; ">
                ${vm.ss.displayName}
              </div>
              <div class="game-stats">SS DEF: ${vm.ss.hittingRatings.defense}</div>
            </div>

            <div class="image">
              <img src="/player/image/${vm.ss._id}" style="border: 1px solid ${vm.ss.color1}; "/>
            </div>
          </a>

          <a href="/p/${vm.lf._id}" class="defender lf" data-pos="LF">
            <div class="wrapper large-only-block" style="border: 2px solid ${vm.lf.color1}; display:none;">
              <div class="text" style="background: ${vm.lf.color1}; color: ${getFontColor(vm.lf.color1)}; ">
                ${vm.lf.displayName}
              </div>
              <div class="game-stats">LF DEF: ${vm.lf.hittingRatings.defense}</div>
            </div>

            <div class="image">
              <img src="/player/image/${vm.lf._id}" style="border: 1px solid ${vm.lf.color1}; "/>
            </div>
          </a>

          <a href="/p/${vm.cf._id}" class="defender cf" data-pos="CF">
            <div class="wrapper large-only-block" style="border: 2px solid ${vm.cf.color1}; display:none;">
              <div class="text" style="background: ${vm.cf.color1}; color: ${getFontColor(vm.cf.color1)}; ">
                ${vm.cf.displayName}
              </div>
              <div class="game-stats">CF DEF: ${vm.cf.hittingRatings.defense}</div>
            </div>

            <div class="image">
              <img src="/player/image/${vm.cf._id}" style="border: 1px solid ${vm.cf.color1}; "/>
            </div>
          </a>

          <a href="/p/${vm.rf._id}" class="defender rf" data-pos="RF">
            <div class="wrapper large-only-block" style="border: 2px solid ${vm.rf.color1}; display:none;">
              <div class="text" style="background: ${vm.rf.color1}; color: ${getFontColor(vm.rf.color1)}; ">
                ${vm.rf.displayName}
              </div>
              <div class="game-stats">RF DEF: ${vm.rf.hittingRatings.defense}</div>
            </div>

            <div class="image">
              <img src="/player/image/${vm.rf._id}" style="border: 1px solid ${vm.rf.color1}; " />
            </div>
          </a>

        </div>

        ${vm.play ? $h`
          <div class="play">
            <div class="card recap">
              <div class="card-content play-description">

                <div class="chip result">
                  <div class="chip-label">${vm.play.play?.result}</div>
                </div>

                <div innerHTML="${vm.play.descriptions?.mainDescription}"></div>

                <ul>
                  ${vm.play?.descriptions?.descriptions?.map( (d, index) => $h`<li innerHTML="${d}"></li>`)}
                </ul>

                <a data-popup=".play-by-play-popup" class="link popup-open">Full Play by Play</a>

              </div>
            </div>
          </div>
        ` : $h` `}

      </div>

      <div class="right">

        <div class="content">

          ${vm.pitcher ? $h`
            <div class="card card-header-divider matchup-pitcher">
              <div class="card-header">Pitching</div>
              <div class="card-content card-content-padding">

                <div class="player">
                  <img src="/player/image/${vm.pitcher._id}" width="35" height="35" style="border: 3px solid ${vm.pitcher.color1}; " /> 
                  <a href="/p/${vm.pitcher._id}" class="player">${vm.pitcher.fullName}</a><br />
                  ${gameWebService.pitcherGameStatsShort(vm.pitcher)}
                </div>

                ${vm.matchupHandedness ? $h`
                  <div class="rating-table">
                    <div class="full">
                      <div class="skill-wrapper">
                        <div class="skill-bar">
                          <div class="red" style="flex-basis: ${vm.pitcher.pitchRatings.power }%;"><strong>POW</strong> ${ vm.pitcher.pitchRatings.power }</div>
                        </div>
                      </div>

                      <div class="skill-wrapper">
                        <div class="skill-bar">
                          <div class="red" style="flex-basis:${ vm.matchupPitcherRatings?.control }%;"><strong>CON</strong> ${ vm.matchupPitcherRatings?.control }</div>
                        </div>
                      </div>

                      <div class="skill-wrapper">
                        <div class="skill-bar">
                          <div class="red" style="flex-basis:${ vm.matchupPitcherRatings?.movement }%;"><strong>MOV</strong> ${ vm.matchupPitcherRatings?.movement }</div>
                        </div>
                      </div>

                      <strong>Pitches:</strong> ${vm.pitcher.pitchRatings.pitches?.map( p => playerWebService.getPitchTypeFull(p)).join(", ")}

                    </div>

                  </div>
                ` : $h` ` }

              </div>
            </div>
          ` : $h` `}

          ${vm.hitter ? $h`
            <div class="card card-header-divider matchup-hitter">
              <div class="card-header">At Bat</div>
              <div class="card-content card-content-padding">

                <div class="player">
                  <img src="/player/image/${vm.hitter._id}" width="35" height="35" style="border: 3px solid ${vm.hitter.color1};" /> 
                  <a href="/p/${vm.hitter._id}" class="player">${vm.hitter.fullName}</a><br />
                  ${gameWebService.hitterGameStatsShort(vm.hitter)}
                </div>

                <div class="rating-table">
                  <div class="full">
                    <div class="skill-wrapper">
                      <div class="skill-bar">
                        <div class="red" style="flex-basis: ${vm.matchupHitterRatings?.contact }%;"><strong>CON</strong> ${ vm.matchupHitterRatings?.contact }</div>
                      </div>
                    </div>

                    <div class="skill-wrapper">
                      <div class="skill-bar">
                        <div class="red" style="flex-basis:${ vm.matchupHitterRatings?.gapPower }%;"><strong>GAP</strong> ${ vm.matchupHitterRatings?.gapPower }</div>
                      </div>
                    </div>

                    <div class="skill-wrapper">
                      <div class="skill-bar">
                        <div class="red" style="flex-basis:${ vm.matchupHitterRatings?.homerunPower }%;"><strong>HR</strong> ${ vm.matchupHitterRatings?.homerunPower }</div>
                      </div>
                    </div>

                    <div class="skill-wrapper">
                      <div class="skill-bar">
                        <div class="red" style="flex-basis:${ vm.matchupHitterRatings?.plateDiscipline }%;"><strong>EYE</strong> ${ vm.matchupHitterRatings?.plateDiscipline }</div>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          ` : $h` `}

          </div>

      </div>

      <div class="linescore-wrapper small-only">
        <table class="linescore">
          <thead>
            <tr>
              <th></th>
              ${Array.from({length: Math.max(9, vm.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                <th>${num}</th>                          
              `)}
      
              <th>R</th>
              <th>H</th>
              <th>E</th>        
            </tr>
          </thead>
          <tbody>
            <tr>

              <td class="abbrev">
                <img src="/image/thumbnail/${vm?.game.away.logoId}" class="profilePic" />
              </td>
      
              ${Array.from({length: Math.max(9, vm.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                <td class="align-center ${!vm.game.isComplete && vm.game.currentInning == num && vm.linescoreViewModel.isTopInning ? $h`current` : ` `}">${vm.linescoreViewModel.linescore.away[num]}</td>                        
              `)}
      
              <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.away[vm.linescoreViewModel.linescore.away.length - 3]}</td>
              <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.away[vm.linescoreViewModel.linescore.away.length - 2]}</td>
              <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.away[vm.linescoreViewModel.linescore.away.length - 1]}</td>
            </tr>
            <tr>
          
              <td class="abbrev">
                <img src="/image/thumbnail/${vm?.game.home.logoId}" class="profilePic" /> ${vm.game.home.abbrev}
              </td>
          
              ${Array.from({length: Math.max(9, vm.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                <td class="align-center ${!vm.game.isComplete && vm.game.currentInning == num && !vm.linescoreViewModel.isTopInning ? $h`current` : ` `}">${vm.linescoreViewModel.linescore.home[num]}</td>                        
              `)}
      
              <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.home[vm.linescoreViewModel.linescore.home.length - 3]}</td>
              <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.home[vm.linescoreViewModel.linescore.home.length - 2]}</td>
              <td class="align-center ${vm?.game.isComplete ? $h`linescore-strong` : $h` `}">${vm.linescoreViewModel.linescore.home[vm.linescoreViewModel.linescore.home.length - 1]}</td>
            </tr>
          </tbody>	
        </table>
      </div>

    </div>

</template>

<style>


</style>

<script>

  
  import LineScore from "./linescore.f7.html"
  import Field from "../../html/images/field.svg"
  import dayjs from "dayjs"

  import { ContainerService } from "../../../service/container-service.ts"
  import { GameWebService } from "../../service/game-web-service.ts"
  import { StatService } from "../../../service/stat-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"
  import { TeamWebService } from "../../service/team-web-service.ts"
  import { PlayerWebService } from "../../service/player-web-service.ts"




  function percentageFormatter(num) {
    return new Intl.NumberFormat('default', {
      style: 'percent',
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    }).format(num)
  }

  export default (props, { $on, $, $f7, $update }) => {

    let gameWebService = ContainerService.getInstance(GameWebService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)
    let teamWebService = ContainerService.getInstance(TeamWebService)
    let playerWebService = ContainerService.getInstance(PlayerWebService)

    let statService = ContainerService.getInstance(StatService)

    const getFontColor = (bgColor) => {
      return gameWebService.useDarkFont(bgColor) ? "#000000" : "#ffffff"
    }

    let vm = props.vm
    let linescoreViewModel = vm.linescoreViewModel
    let awayBoxscoreViewModel = vm.awayBoxscoreViewModel
    let homeBoxscoreViewModel = vm.homeBoxscoreViewModel
    let lastPlayText = dayjs(vm.game.lastUpdated).fromNow()

    let playIndex = vm.play?.play?.index



    $f7.on('gameUpdate', (gameViewModel) => {

      Object.assign(vm, gameViewModel)
      Object.assign(linescoreViewModel, gameViewModel.linescoreViewModel)
      Object.assign(awayBoxscoreViewModel, gameViewModel.awayBoxscoreViewModel)
      Object.assign(homeBoxscoreViewModel, gameViewModel.homeBoxscoreViewModel)
      
      lastPlayText = dayjs(vm.game.lastUpdated).fromNow()

      //If playindex has changed then animate runners.
      // if (playIndex != vm.play?.play?.index) {
      //   gameWebService.animateRunnersForPlay(vm.play.play)
      // }

      playIndex = vm.play?.play?.index

      $update()

    })

    return $render
  }
</script>