<template>

  <li>
    <a href="${universeWebService.startDateLink(`/g/${game._id}`)}" class="item-link">

      <div class="item-content">
        <div class="item-inner">

          ${game ? $h`
            
            <table class="game-result">
            <tr>
              <td colspan="2" class="inning">
                ${game.isTopInning ? $h`
                  Top ${game.currentInning}
                ` : $h`
                  Bottom ${game.currentInning}
                `}

              </td>
            </tr>

            <tr class="${game.isTopInning ? 'at-bat' : ' '}">
              <td class="name">
                <img src="/image/thumbnail/${game.away.logoId}" class="profilePic" alt="${teamWebService.getTeamName(game.away)} Logo"/>
                <span innerHTML="${teamWebService.getTeamNameStacked(game.away)}"></span>
              </td>
              <td class="runs">${game.score?.away}</td>
            </tr>

            <tr class="${game.isTopInning ? ' ' : 'at-bat'}">
              <td class="name">
                <img src="/image/thumbnail/${game.home.logoId}" class="profilePic" alt="${teamWebService.getTeamName(game.home)} Logo"/>
                <span innerHTML="${teamWebService.getTeamNameStacked(game.home)}"></span>
              </td>
              <td class="runs">${game.score?.home}</td>
            </tr>

            <tr>
              <td colspan="2" class="summary-matchup">

                ${game.matchup?.pitcher ? $h`
                  <strong>P</strong> <a href="${universeWebService.startDateLink(`/p/${game.matchup.pitcher._id}`)}">${game.matchup.pitcher.fullName}</a> <span class="small-gray">${gameWebService.pitcherGameStatsShort(game.matchup.pitcher)}</span><br />
                ` : $h` `}

                ${game.matchup?.hitter ? $h`
                  <strong>B</strong> <a href="${universeWebService.startDateLink(`/p/${game.matchup.hitter._id}`)}">${game.matchup.hitter.fullName}</a> <span class="small-gray">${gameWebService.hitterGameStatsShort(game.matchup.hitter)}</span>
                ` : $h` `}

              </td>
            </tr>

            </table>
            
          ` : $h` ` }

        </div>
      </div>

    </a>
  </li>



</template>


<script>

    import { ContainerService } from "../../../service/container-service"
    import { UniverseWebService } from "../../service/universe-web-service"
    import { GameWebService } from "../../service/game-web-service"
    import { TeamWebService } from "../../service/team-web-service"

    import logo from "../../html/images/logo.png"
    import { ethers } from "ethers"

    export default (props, { $on, $f7, $update, $h }) => {

        let universeWebService = ContainerService.getInstance(UniverseWebService)
        let gameWebService = ContainerService.getInstance(GameWebService)
        let teamWebService = ContainerService.getInstance(TeamWebService)

        let game = props.game

        return $render
    }
</script>