<template>

  <div class="page page-with-subnavbar" data-name="player-index">

    <div class="page-content">

      <div class="hidden-on-load">

        <div class="fixed-width-content center">

          ${gameViewModel?.game ? $h`
              
            ${gameViewModel?.game.isStarted ? $h`
              
              <div class="game-inning">
                ${!gameViewModel?.game.isComplete ? $h`

                  ${gameViewModel?.play.play.inningTop ? $h`
                    Top ${gameViewModel?.play.play.inningNum}
                  ` : $h`
                    Bottom ${gameViewModel?.play.play.inningNum}
                  `}
                ` : $h`Final`}
              </div>


              <div class="card card-outline">
                <div class="card-content game-banner">
                  <div class="away ${gameViewModel?.game.isComplete && gameViewModel?.game.score.away > gameViewModel?.game.score.home ? $h`winner` : $h` `}">

                    <div class="name">

                      <a href="${universeWebService.startDateLink(`/t/${gameViewModel.game.away.tokenId}`)}">
                        <img src="/image/thumbnail/100/${gameViewModel?.game.away.logoId}" class="profilePic" />
                        <span class="record">${gameViewModel?.game.away.overallRecord.after?.wins || gameViewModel?.game.away.overallRecord.before?.wins}-${gameViewModel?.game.away.overallRecord.after?.losses || gameViewModel?.game.away.overallRecord.before?.losses}<br /></span>
                        <span class="small">${gameViewModel?.game.away.cityName}</span><br />
                        ${gameViewModel?.game.away.name} 
                      </a>

                    </div>
                    <div class="runs">${gameViewModel?.game.score.away}</div>
                  </div>

                  <div class="home ${gameViewModel?.game.isComplete && gameViewModel?.game.score.home > gameViewModel?.game.score.away ? $h`winner` : $h` `}">
                    
                    <div class="runs">${gameViewModel?.game.score.home}</div>
                    
                    <div class="name">

                      <a href="${universeWebService.startDateLink(`/t/${gameViewModel.game.home.tokenId}`)}">
                        <img src="/image/thumbnail/100/${gameViewModel?.game.home.logoId}" class="profilePic" />
                        <span class="record">${gameViewModel?.game.home.overallRecord.after?.wins || gameViewModel?.game.home.overallRecord.before?.wins}-${gameViewModel?.game.home.overallRecord.after?.losses || gameViewModel?.game.home.overallRecord.before?.losses}<br /></span>
                        <span class="small">${gameViewModel?.game.home.cityName}</span><br />
                        ${gameViewModel?.game.home.name} 
                      </a>

                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="card card-outline">
                  <div class="card-content">
          
                    <div class="grid ${gameViewModel.game.isComplete ? $h`medium-grid-cols-2` : $h`medium-grid-cols-3`}">

                      <div class="linescore-wrapper wrap-up">
                        <table class="linescore">
                          <thead>
                            <tr>
                              <th></th>
                              ${Array.from({length: Math.max(9, gameViewModel.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                                <th>${num}</th>                          
                              `)}
                      
                              <th>R</th>
                              <th>H</th>
                              <th>E</th>        
                            </tr>
                          </thead>
                          <tbody>
                            <tr>

                              <td class="abbrev">
                                <img src="/image/thumbnail/${gameViewModel?.game.away.logoId}" class="profilePic" /> ${gameViewModel.game.away.abbrev}
                              </td>
                      
                              ${Array.from({length: Math.max(9, gameViewModel.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                                <td class="align-center ${!gameViewModel.game.isComplete && gameViewModel.game.currentInning == num && gameViewModel.linescoreViewModel.isTopInning ? $h`current` : ` `}">${gameViewModel.linescoreViewModel.linescore.away[num]}</td>                        
                              `)}
                      
                              <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.away[gameViewModel.linescoreViewModel.linescore.away.length - 3]}</td>
                              <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.away[gameViewModel.linescoreViewModel.linescore.away.length - 2]}</td>
                              <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.away[gameViewModel.linescoreViewModel.linescore.away.length - 1]}</td>
                            </tr>
                            <tr>
                          
                              <td class="abbrev">
                                <img src="/image/thumbnail/${gameViewModel?.game.home.logoId}" class="profilePic" /> ${gameViewModel.game.home.abbrev}
                              </td>
                          
                              ${Array.from({length: Math.max(9, gameViewModel.game.currentInning)}, (_, i) => i + 1).map( num => $h`
                                <td class="align-center ${!gameViewModel.game.isComplete && gameViewModel.game.currentInning == num && !gameViewModel.linescoreViewModel.isTopInning ? $h`current` : ` `}">${gameViewModel.linescoreViewModel.linescore.home[num]}</td>                        
                              `)}
                      
                              <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.home[gameViewModel.linescoreViewModel.linescore.home.length - 3]}</td>
                              <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.home[gameViewModel.linescoreViewModel.linescore.home.length - 2]}</td>
                              <td class="align-center ${gameViewModel?.game.isComplete ? $h`linescore-strong` : $h` `}">${gameViewModel.linescoreViewModel.linescore.home[gameViewModel.linescoreViewModel.linescore.home.length - 1]}</td>
                            </tr>
                          </tbody>	
                        </table>
                      </div>

                      ${gameViewModel.game.isComplete ? $h`
                        <div class="grid grid-cols-2 wl-pitcher">
                          <div class="list list-outline-ios list-strong-ios list-dividers-ios media-list">
                              <ul>

                                <li>
                                  <div class="item-content">
                                    <div class="item-media">
                                      <img src="/image/thumbnail/${[gameViewModel.game.away, gameViewModel.game.home].find( t => t._id == gameViewModel.winningPitcher.teamId).logoId}" class="profilePic" />
                                    </div>
                                    <div class="item-inner">
                                      <div class="item-title-row">
                                        <div class="item-title large-only-flex">Winning Pitcher</div>
                                        <div class="item-title small-only">WP</div>
                                        <div class="item-after"></div>
                                      </div>
                                      <div class="item-subtitle"><a href="/p/${gameViewModel.winningPitcher.playerId}">${gameViewModel.winningPitcher.displayName}</a></div>
                                      <div class="item-text">${gameWebService.pitcherGameStats(gameViewModel.winningPitcher)}</div>
                                    </div>
                                  </div>
                                </li>

                              </ul>
                          </div>

                          <div class="list list-outline-ios list-strong-ios list-dividers-ios media-list">
                              <ul>

                                <li>
                                  <div class="item-content">
                                    <div class="item-media">
                                      <img src="/image/thumbnail/${[gameViewModel.game.away, gameViewModel.game.home].find( t => t._id == gameViewModel.losingPitcher.teamId).logoId}" class="profilePic" />
                                    </div>
                                    <div class="item-inner">
                                      <div class="item-title-row">
                                        <div class="item-title large-only-flex"> Losing Pitcher</div>
                                        <div class="item-title small-only">LP</div>
                                        <div class="item-after"></div>
                                      </div>
                                      <div class="item-subtitle">
                                        <a href="/p/${gameViewModel.losingPitcher.playerId}">${gameViewModel.losingPitcher.displayName}</a></div>
                                      <div class="item-text">${gameWebService.pitcherGameStats(gameViewModel.losingPitcher)}</div>
                                    </div>
                                  </div>
                                </li>

                              </ul>
                          </div>
                        </div>
                      ` : $h`

                        <div class="score">

                          <div class="info-wrapper">
                            <span class="label">Balls</span>${gameWebService.getBalls(4, gameViewModel.balls)}<br />
                            <span class="label">Strikes</span>${gameWebService.getBalls(3, gameViewModel.strikes)}<br />
                            <span class="label">Outs</span>${gameWebService.getBalls(3, gameViewModel.outs)}
                          </div>

                          <div class="diamond-wrapper">
                            <div class="diamond">
                              <div class="first base ${gameViewModel.runner1B ? $h`runner` : $h` `}"></div>
                              <div class="second base ${gameViewModel.runner2B ? $h`runner` : $h` `}"></div>
                              <div class="third base ${gameViewModel.runner3B ? $h`runner` : $h` `}"></div>
                            </div>
                          </div>

                        </div> 

                        <div class="grid grid-cols-2">

                          ${gameViewModel.pitcher || gameViewModel.hitter ? $h`

                            ${gameViewModel.pitcher ? $h`

                              <div class="list list-outline-ios list-strong-ios list-dividers-ios media-list">
                                  <ul>

                                    <li>
                                      <div class="item-content">
                                        <div class="item-media">
                                          <img src="/player/image/${gameViewModel.pitcher.playerId}" width="50" height="50" />
                                        </div>
                                        <div class="item-inner">
                                          <div class="item-title-row">
                                            <div class="item-title">Pitcher</div>
                                            <div class="item-after"></div>
                                          </div>
                                          <div class="item-subtitle"><a href="/p/${gameViewModel.pitcher.playerId}">${gameViewModel.pitcher.displayName}</a></div>
                                          <div class="item-text">${gameWebService.pitcherGameStats(gameViewModel.pitcher)}</div>
                                        </div>
                                      </div>
                                    </li>

                                  </ul>
                              </div>

                            ` : $h` `}

                            ${gameViewModel.hitter ? $h`

                              <div class="list list-outline-ios list-strong-ios list-dividers-ios media-list">
                                  <ul>

                                    <li>
                                      <div class="item-content">
                                        <div class="item-media">
                                          <img src="/player/image/${gameViewModel.hitter.playerId}" width="50" height="50" />
                                        </div>
                                        <div class="item-inner">
                                          <div class="item-title-row">
                                            <div class="item-title">Batting</div>
                                            <div class="item-after"></div>
                                          </div>
                                          <div class="item-subtitle"><a href="/p/${gameViewModel.hitter.playerId}">${gameViewModel.hitter.displayName}</a></div>
                                          <div class="item-text">${gameWebService.hitterGameStats(gameViewModel.hitter)}</div>
                                        </div>
                                      </div>
                                    </li>

                                  </ul>
                              </div>

                            ` : $h` `}

                          ` : $h``}




                        </div> 
                        
                      `} 

                    </div>

                  </div>
              </div>

              ${!gameViewModel.game.isComplete ? $h`
                <${GameState} vm=${gameViewModel} />
              ` : $h` `} 


                
      
              <div class="boxscores grid medium-grid-cols-2">
                
                <div class="left">

                  <${Boxscore} vm=${awayBoxscoreViewModel} name=${ `${gameViewModel?.game.away.cityName} ${gameViewModel?.game.away.name}`} />

                  <div class="card">
                    <div class="card-content card-content-padding">
                      <div class="game-finances">

                        <table>
                          <thead>
                              <tr>
                                  <th class="label"></th>
                                  <th>Revenue</th>
                              </tr>
                          </thead>
          
                          <tbody>
                              <tr>
                                  <td class="label">Local Media Deal</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.away.localTvRevenue)}</td>
                              </tr>
                              <tr>
                                  <td class="label">National Media Deal</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.away.nationalTvRevenue)}</td>
                              </tr>
          
                              <tr class="total">
                                  <td class="label">Total</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.away.totalRevenue)}</td>
                              </tr>
          
                          </tbody>
                        </table>
          
                        <table>
                          <thead>
                              <tr>
                                  <th class="label"></th>
                                  <th>Expense</th>
                              </tr>
                          </thead>
          
                          <tbody>
                              <tr>
                                  <td class="label">Payroll</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.away.payroll)}</td>
                              </tr>
                              <tr>
                                  <td class="label">Stadium Lease</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.away.stadiumLease)}</td>
                              </tr>
                              <tr class="total">
                                  <td class="label">Total</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.away.totalExpenses)}</td>
                              </tr>
          
          
                          </tbody>
                        </table>

                        <table>
                          <thead>
                              <tr>
                                  <th class="label"></th>
                                  <th>Profit</th>
                              </tr>
                          </thead>
          
                          <tbody>
                              <tr class="total">
                                  <td class="label">Total</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.away.totalProfit)}</td>
                              </tr>        
                          </tbody>
                        </table>


                      </div>
                    </div>
                  </div>

                </div>

                <div class="right">
                  
                  <${Boxscore} vm=${homeBoxscoreViewModel} name=${ `${gameViewModel?.game.home.cityName} ${gameViewModel?.game.home.name}`} />

                  <div class="card">
                    <div class="card-content card-content-padding">
        
                      <div class="game-finances">

                        <div class="ticket-price">
                          <strong>Ticket Price:</strong> ${universeWebService.displayDiamonds( gameViewModel.game.gameFinances.home.ticketPrice)}
                        </div>


                        <table>
                          <thead>
                              <tr>
                                  <th class="label"></th>
                                  <th>Attendance</th>
                                  <th>Revenue</th>
                              </tr>
                          </thead>
          
                          <tbody>
                              <tr>
                                  <td class="label">Season Tickets</td>
                                  <td class="numeric-cell">${gameViewModel.game.gameFinances.home.seasonTickets}</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds( gameViewModel.game.gameFinances.home.seasonTicketRevenue)}</td>
                              </tr>
                              <tr>
                                  <td class="label">Gate Tickets</td>
                                  <td class="numeric-cell">${gameViewModel.game.gameFinances.home.gateTickets}</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.gateTicketRevenue)}</td>
                              </tr>


                              <tr>
                                  <td class="label">Local Media Deal</td>
                                  <td></td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.localTvRevenue)}</td>
                              </tr>
                              <tr>
                                  <td class="label">National Media Deal</td>
                                  <td></td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.nationalTvRevenue)}</td>
                              </tr>

                              <tr class="total">
                                  <td class="label">Total</td>
                                  <td class="numeric-cell">${gameViewModel.game.gameFinances.home.totalAttendance}</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.totalRevenue)}</td>
                              </tr>
          
          
                          </tbody>
                        </table>

          
                        <table>
                          <thead>
                              <tr>
                                  <th class="label"></th>
                                  <th>Expenses</th>
                              </tr>
                          </thead>
          
                          <tbody>
                              <tr>
                                  <td class="label">Payroll</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.payroll)}</td>
                              </tr>
                              <tr>
                                  <td class="label">Stadium Lease</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.stadiumLease)}</td>
                              </tr>
                              <tr class="total">
                                  <td class="label">Total</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.totalExpenses)}</td>
                              </tr>
          
          
                          </tbody>
                        </table>

                        <table>
                          <thead>
                              <tr>
                                  <th class="label"></th>
                                  <th>Profit</th>
                              </tr>
                          </thead>
          
                          <tbody>
                              <tr class="total">
                                  <td class="label">Total</td>
                                  <td class="numeric-cell">${universeWebService.displayDiamonds(gameViewModel.game.gameFinances.home.totalProfit)}</td>
                              </tr>        
                          </tbody>
                        </table>



                      </div>

                    </div>
                  </div>

                </div>

              </div> 
      
              <div class="block-title block-title-large">Play by Play</div>
    
              ${gameViewModel.playByPlay?.length > 0 ? $h`
                <div class="list cards-list ">
                  <ul>
                      ${gameViewModel.playByPlay.map( p => $h`
                        <li class="card recap card-header-divider card-outline">
      
                          <div class="card-header">
                            ${p.play.inningTop ? 'Top of ' : 'Bottom of '} ${gameWebService.getNumberWithOrdinal(p.play.inningNum)} Inning
                          
                            <div class="diamond-wrapper">
                              <div class="diamond">
                                <div class="first base ${p.play.runner.result.end.first ? $h`runner` : $h` `}"></div>
                                <div class="second base ${p.play.runner.result.end.second ? $h`runner` : $h` `}"></div>
                                <div class="third base ${p.play.runner.result.end.third ? $h`runner` : $h` `}"></div>
                              </div>
                            </div>
                          
                          </div>
      
                          <div class="card-content card-content-padding play-description">
                      
                            <div class="chip result">
                              <div class="chip-label">${p.play.result}</div>
                            </div>
                      
                            ${p.play.runnerEvents?.filter(re => re.isStolenBaseAttempt)?.length > 0 ? $h`
                              <div class="runners">
                                <strong>Stolen Bases</strong>
                                <ul>
                                  ${p.play.runnerEvents?.filter(re => re.isStolenBaseAttempt)?.map( re => $h`
                                    <li>${gameWebService.gamePlayers(gameViewModel.game)[re.runner._id].fullName} ${gameWebService.getRunnerDescription(gameViewModel.game, re)}</li>
                                  `)}                            
                                </ul>
                              </div>                          
                            ` : $h` `}
    
    
    
                            <div innerHTML="${p.descriptions.mainDescription}"></div>
                      
                            <ul>
                              ${p.descriptions.descriptions?.map( (d, index) => $h`<li innerHTML="${d}"></li>`)}
                            </ul>
    
                            ${p.play.runnerEvents?.filter(re => !re.isStolenBaseAttempt)?.length > 0 ? $h`
                              <div class="runners">
                                <strong>Runners</strong>
                                <ul>
                                  ${p.play.runnerEvents?.filter(re => !re.isStolenBaseAttempt).map( re => $h`
                                    <li>${gameWebService.gamePlayers(gameViewModel.game)[re.runner._id].fullName} ${gameWebService.getRunnerDescription(gameViewModel.game, re)}</li>
                                  `)}                            
                                </ul>
                              </div>                          
                            ` : $h` `}
    
                    
                            <div class="info-wrapper">
                              <span class="label">Balls</span>${getBalls(4, p.play.pitchLog.count.balls)}<br />
                              <span class="label">Strikes</span>${getBalls(3, p.play.pitchLog.count.strikes)}<br />
                              <span class="label">Outs</span>${getBalls(3, p.play.count.end.outs)}
                            </div>
      
                            ${p.play.credits?.length > 0 ? $h`
                              <div class="defense">
                                <strong>Defense</strong>
                                <ul>
                                  ${p.play.credits.map( c => $h`
                                    <li>${gameWebService.gamePlayers(gameViewModel.game)[c._id].currentPosition} ${gameWebService.gamePlayers(gameViewModel.game)[c._id].fullName} - ${c.type}</li>
                                  `)}                            
                                </ul>
                              </div>                          
                            ` : $h` `}
    
                          </div>
                          
                        </li>
                      `)}
                    </ul>
                </div>
              ` : $h`
      
                <div class="block">
                  No plays.
                </div>
      
              `}
    
              <div class="block">
                <br />
              </div>

            ` : $h`
            

              <div class="card">
                <div class="card-content card-content-padding">
  
                  <div class="list list-dividers-ios">
                    <ul>

                      <li>
                         <div class="item-content">

                            <div class="item-inner">

                              <table class="game-result">
                                <tr>
                                  <td colspan="2" class="small-gray">${gameWebService.getFormattedDate(gameViewModel.game.startDate)}</td>
                                </tr>
                                <tr class="${gameViewModel.game.score.away > gameViewModel.game.score.home ? $h`winner` : $h` `}">
                                  <td class="name">
                                    <a href="${universeWebService.startDateLink(`/t/${gameViewModel.game.away.tokenId}`)}" class="team-link">
                                      <img src="/image/thumbnail/${gameViewModel.game.away.logoId}" class="profilePic" alt="${gameViewModel.game.away.cityName} ${gameViewModel.game.away.name} Logo" />
                                      <span class="small">${gameViewModel.game.away.cityName}</span><br />
                                      ${gameViewModel.game.away.name}
                                    </a>

                                    
                                  </td>
                                  <td class="runs"></td>
                                </tr>
                                <tr class="${gameViewModel.game.score.home > gameViewModel.game.score.away ? $h`winner` : $h` `}">
                                  <td class="name">
                                    
                                    <a href="${universeWebService.startDateLink(`/t/${gameViewModel.game.home.tokenId}`)}" class="team-link">
                                      <img src="/image/thumbnail/${gameViewModel.game.home.logoId}" class="profilePic" alt="${gameViewModel.game.home.cityName} ${gameViewModel.game.home.name} Logo"  />
                                      <span class="small">${gameViewModel.game.home.cityName}</span><br />
                                      ${gameViewModel.game.home.name}
                                    </a>

                                  </td>
                                  <td class="runs"></td>
                                </tr>
                              </table>
                            </div>

                         </div>
                      </li>
                    </ul>
                  </div>
      
                </div>
              </div>

            `}

          ` : $h`
            <div class="block">
              No game found.
            </div>
          `}


        </div>


      </div>

      <div class="hide-on-pageinit">

        <div class="card skeleton-text">
            <div class="card-header">Game</div>
            <div class="card-content card-content-padding data-table">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
            </div>

        </div>

      </div>

    </div>

  </div>

</template>

<script>


  import Navbar from "../common/navbar.f7.html"
  import LineScore from "./linescore.f7.html"
  import GameState from "./game-state.f7.html"



  import dayjs from "dayjs"

  import { ContainerService } from "../../../service/container-service.ts"
  import { GameWebService } from "../../service/game-web-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  import { Position } from "../../../service/enums.ts"

  import InProgress from "../game/in-progress.f7.html"
  import Scheduled from "../game/scheduled.f7.html"
  import Result from "../game/result.f7.html"

  const arrayToStr = (arr) => {

    let mapped = arr.map( v => `${v.name} ${v.value > 1 ? `${v.value}` : ``}`.trim())
    return `${mapped.join("; ")}`
  }


  const Boxscore = (props, { $on, $, $f7, $h, $update }) => {

    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let vm = props.vm
    let name = props.name

    let lineup = vm.teamInfo.lineupIds

    let batters = lineup.map( id => vm.teamInfo.players.find( p => p._id == id))
    let pitchers = lineup.map( id => vm.teamInfo.players.find( p => p._id == id)).filter( p2 => p2.currentPosition == Position.PITCHER)

    let doubles = vm.teamInfo.players.filter(p => p.hitResult.doubles > 0).map( p => {
      return { _id: p._id, name: p.fullName, value: p.hitResult.doubles }
    })

    let triples = vm.teamInfo.players.filter(p => p.hitResult.triples > 0).map( p => {
      return {  _id: p._id, name: p.fullName, value: p.hitResult.triples }
    })

    let hr = vm.teamInfo.players.filter(p => p.hitResult.homeRuns > 0).map( p => {
      return {  _id: p._id, name: p.fullName, value: p.hitResult.homeRuns }
    })

    let tb = vm.teamInfo.players.filter(p => p.hitResult.tb > 0).map( p => {
      return {  _id: p._id, name: p.fullName, value: p.hitResult.tb }
    })

    let rbi = vm.teamInfo.players.filter(p => p.hitResult.rbi > 0).map( p => {
      return { name: p.fullName, value: p.hitResult.rbi }
    })


    return () => $h`<div class="card">
        <div class="card-header">${name}</div>
        <div class="card-content">

            <div class="stat-table-wrapper">
                <table class="data-table small-font game-table">
                <thead>
                    <tr>
                    <th class="image"></th>
                    <th class="name">Batting</th>
                    <th class="numeric-cell">POS</th>
                    <th class="numeric-cell">AB</th>
                    <th class="numeric-cell">R</th>
                    <th class="numeric-cell">H</th>
                    <th class="numeric-cell">2B</th>
                    <th class="numeric-cell">3B</th>
                    <th class="numeric-cell">HR</th>
                    <th class="numeric-cell">RBI</th>
                    <th class="numeric-cell">BB</th>
                    <th class="numeric-cell">HBP</th>
                    <th class="numeric-cell">SO</th>       
                    </tr>                
                </thead>
                <tbody>
                    ${batters.map( (p, index) => $h`
                    <tr class="${vm.teamInfo.currentHitterIndex == index && !vm.isComplete ? $h`${vm.isTopInning && vm.homeaway=='AWAY' || !vm.isTopInning && vm.homeaway=='HOME' ? $h`at-bat` : $h`at-bat-next`}` : $h``}">
                        <td class="image"><img src="/player/image/${p.playerId}" width="25" height="25" /></td>
                        <td class="name"> ${p.hits} <a href="${universeWebService.startDateLink(`/p/${p.playerId}`)}">${p.fullName}</a></td>
                        <td class="pos">${p.currentPosition}</td>
                        <td class="numeric-cell">${p.hitResult.atBats}</td>
                        <td class="numeric-cell">${p.hitResult.runs}</td>
                        <td class="numeric-cell">${p.hitResult.hits}</td>
                        <td class="numeric-cell">${p.hitResult.doubles}</td>
                        <td class="numeric-cell">${p.hitResult.triples}</td>
                        <td class="numeric-cell">${p.hitResult.homeRuns}</td>
                        <td class="numeric-cell">${p.hitResult.rbi}</td>
                        <td class="numeric-cell">${p.hitResult.bb}</td>
                        <td class="numeric-cell">${p.hitResult.hbp}</td>
                        <td class="numeric-cell">${p.hitResult.so}</td>
                    </tr>
                    `)}


                </tbody>                            
                </table>
            </div>

            <div class="stat-table-wrapper">
                <table class="data-table small-font game-table">
                <thead>
                    <tr>
                    <th class="image"></th>
                    <th>Pitching</th>
                    <th class="pos">POS</th>
                    <th class="numeric-cell">W</th>
                    <th class="numeric-cell">L</th>
                    <th class="numeric-cell">IP</th>
                    <th class="numeric-cell">H</th>
                    <th class="numeric-cell">R</th>
                    <th class="numeric-cell">ER</th>
                    <th class="numeric-cell">HR</th>
                    <th class="numeric-cell">BB</th>
                    <th class="numeric-cell">SO</th>
                    <th class="numeric-cell">HBP</th>
                    <th class="numeric-cell">BF</th>     
                    <th class="numeric-cell">PIT</th>                  
                    <th class="numeric-cell">STR</th>                  
                    </tr>
                </thead>
                <tbody>
                    ${pitchers.map( (p, index) => $h`
                    <tr class="${vm.teamInfo.currentPitcherId == p._id && (vm.isTopInning && vm.homeaway=='HOME' || !vm.isTopInning && vm.homeaway=='AWAY') && !vm.isComplete ? $h`pitching` : $h``}">
                        <td class="image"><img src="/player/image/${p.playerId}" width="25" height="25" /></td>
                        <td class="name">${p.throws} <a href="${universeWebService.startDateLink(`/p/${p.playerId}`)}">${p.fullName}</a></td>
                        <td class="pos">${p.currentPosition}</td>
                        <td class="numeric-cell">${p.pitchResult.wins}</td>
                        <td class="numeric-cell">${p.pitchResult.losses}</td>
                        <td class="numeric-cell">${p.pitchResult.ip}</td>
                        <td class="numeric-cell">${p.pitchResult.hits}</td>
                        <td class="numeric-cell">${p.pitchResult.runs}</td>
                        <td class="numeric-cell">${p.pitchResult.er}</td>
                        <td class="numeric-cell">${p.pitchResult.homeRuns}</td>
                        <td class="numeric-cell">${p.pitchResult.bb}</td>
                        <td class="numeric-cell">${p.pitchResult.so}</td>
                        <td class="numeric-cell">${p.pitchResult.hbp}</td>
                        <td class="numeric-cell">${p.pitchResult.battersFaced}</td>
                        <td class="numeric-cell">${p.pitchResult.pitches}</td>
                        <td class="numeric-cell">${p.pitchResult.strikes}</td>
                    </tr>
                    `)}

                </tbody>                            
                </table>
            </div>

            <div class="batter-summary">
                ${doubles?.length > 0 ? $h`<strong>2B:</strong> ${arrayToStr(doubles)}<br />` : $h``}
                ${triples?.length > 0 ? $h`<strong>3B:</strong> ${arrayToStr(triples)}<br />` : $h``}
                ${hr?.length > 0 ? $h`<strong>HR:</strong> ${arrayToStr(hr)}<br />` : $h``}
                ${tb?.length > 0 ? $h`<strong>TB:</strong> ${arrayToStr(tb)}<br />` : $h``}
                ${rbi?.length > 0 ? $h`<strong>RBI:</strong> ${arrayToStr(rbi)}<br />` : $h``}
            </div>

        </div>
    </div>`;




  }


  function percentageFormatter(num) {
    return new Intl.NumberFormat('default', {
      style: 'percent',
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    }).format(num)
  }

  const getRating = (game, team) => {
    return team.ratingBefore?.toFixed(0)
  }

  const getRecord = (game, team) => {
    return game.isComplete ? `${team.overallRecord.before.wins}-${team.overallRecord.before.losses}` : `${team.overallRecord.before.wins}-${team.overallRecord.before.losses}`
  }

  const getBalls = (total, filled) => {

    let result = []

    Array.from({ length: total }, (x, i) => {
      if ((i + 1) <= filled) {
        result.push(`🟡`)
      } else {
        result.push(`⚪`)
      }
    })

    return result.join('')

  }


  export default (props, { $on, $, $f7, $update, $ref }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")

    let gameWebService = ContainerService.getInstance(GameWebService)
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let gameViewModel = props.gameViewModel
    
    let linescoreViewModel = gameViewModel.linescoreViewModel
    let awayBoxscoreViewModel = gameViewModel.awayBoxscoreViewModel
    let homeBoxscoreViewModel = gameViewModel.homeBoxscoreViewModel

    let loading 
    let timeoutId
    let timeoutTime = 10*1000
    let lastGameUpdate

    let nameRgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu')  

    const checkForUpdate = async () => {

      //Clear existing timeout if exists
      if (timeoutId) clearTimeout(timeoutId)

      //Get latest
      let latest = await gameWebService.getLatest()

      if (dayjs(latest).toDate() > lastGameUpdate) {
        await loadGame($f7.views.main.router.currentRoute?.params?.id)
      } else {
        timeoutId = setTimeout(checkForUpdate, timeoutTime)
      }
      
      $update()

    }


    const loadGame = async (gameId) => {

        if (!gameId) return

        console.time("Loading game...")

        try  {

            Object.assign(gameViewModel, await gameWebService.getGameViewModel(gameId))
            Object.assign(linescoreViewModel, gameViewModel.linescoreViewModel)

            Object.assign(awayBoxscoreViewModel, gameViewModel.awayBoxscoreViewModel)
            Object.assign(homeBoxscoreViewModel, gameViewModel.homeBoxscoreViewModel)

            $f7.emit('gameUpdate', gameViewModel)


            await $update()

        } catch(ex) { 
          console.log(ex) 
        }

        $f7.preloader.hide()

        lastGameUpdate = new Date(new Date().toUTCString())

        if (!linescoreViewModel.isComplete) {
          timeoutId = setTimeout(checkForUpdate, timeoutTime)
        }

        console.timeEnd("Loading game...")


    }


    $on('pageBeforeIn', async (e) => {
              
      $f7.emit('gameUpdate', gameViewModel)

      await $update()

      timeoutId = setTimeout(checkForUpdate, timeoutTime)


      if (gameViewModel.linescoreViewModel) {

          eventTarget.dispatchEvent(new CustomEvent('main-nav', {
              detail: { tabLink: "/games", breadcrumbs:[
              { text: 'Scores', path: "/games"}, 
              {
                  text: dayjs(gameViewModel.game.startDate).format("YYYY-MM-DD"),
                  path: `/games/?gameDate=${dayjs(gameViewModel.game.startDate).format("YYYY-MM-DD")}`
              },
              {
                  text: `${gameViewModel.game.away.abbrev} @ ${gameViewModel.game.home.abbrev}`
              }
              ]}
          }))


          universeWebService.setMetadata(
              `${gameViewModel.game.away.cityName} ${gameViewModel.game.away.name} @ ${gameViewModel.game.home.cityName} ${gameViewModel.game.home.name} on ${dayjs(gameViewModel.game.gameDate).format("YYYY-MM-DD")}- Ethereum Baseball League`, 
              window.location.href, 
              `${env.WEB}/logo.png`, 
              `${gameViewModel.game.away.cityName} ${gameViewModel.game.away.name} @ ${gameViewModel.game.home.cityName} ${gameViewModel.game.home.name} on ${dayjs(gameViewModel.game.gameDate).format("YYYY-MM-DD")}`
          ) 


      }



      $('.hide-on-pageinit').hide()
      $('.hidden-on-load').removeClass('hidden-on-load')

    })

    $on('pageReinit', async () => {
    })

    $on('pageBeforeOut', async () => {
      clearTimeout(timeoutId)
      timeoutId = undefined
    })

    return $render

  }
</script>