<template>

  <div class="page page-with-subnavbar" data-name="games-list">

    <div class="page-content">

      ${gameDate != undefined ? $h`

        <div class="fixed-width-content center">

            <div class="block league-date">

                <div class="left list">
                      <strong>League</strong><br />
                      <select name="rank" class="rank-dropdown" @change="${rankChange}">
                        ${leagues.map( (l, index) => $h`

                            ${l.rank == universeWebService.getRank() ? $h`
                              <option value="${l.rank}" selected >${l.name}</option>
                            ` : $h` 
                              <option value="${l.rank}">${l.name}</option>
                            `}
                        `)}
                        
                      </select>


                </div>
                
                <div class="right">
                  <div class="date-picker">
                    <input type="date" placeholder="Date" value="${dayjs(gameDate).format('YYYY-MM-DD')}" @change="${gameDateChange}"/>
                  </div>
                </div>


            </div>

      
            ${games?.inProgress?.length > 0 ? $h`
              <div class="block-title">Scoreboard</div>

              <div class="list list-outline-ios list-strong-ios list-dividers-ios">
                  <ul>

                    ${games?.inProgress?.map( game => $h`
                      <${InProgress} game=${game} />

                    `)}

                  </ul>

              </div>
              
            ` : $h` `}


            ${games?.finished?.length > 0 ? $h`
              <div class="block-title">Results</div>

              <div class="list list-outline-ios list-strong-ios list-dividers-ios">
                  <ul>

                    ${games?.finished?.map( game => $h`
                      <${Result} game=${game} />
                    `)}

                  </ul>
              </div>
              
            ` : $h` `}

            ${games?.inProgress?.length == 0 && games?.scheduled?.length == 0 && games?.finished?.length == 0 ? $h`
              <div class="block">
                No games.
              </div>
            ` : $h` `}  


        </div>

      ` : $h` `}
    </div>

  </div>

</template>

<style>


</style>

<script>


  import Navbar from "../common/navbar.f7.html"
  import LeagueRank from "../common/league-rank.f7.html"
  import InProgress from "../game/in-progress.f7.html"
  import Result from "../game/result.f7.html"

  import { ContainerService } from "../../../service/container-service.ts"
  import { UniverseWebService } from "../../service/universe-web-service.ts"

  import dayjs from 'dayjs'

  export default (props, { $on, $, $f7, $update }) => {

    let env = ContainerService.getInstance("env")()
    let eventTarget = ContainerService.getInstance("eventTarget")
    let universeWebService = ContainerService.getInstance(UniverseWebService)

    let games = props.games
    let gameDate = props.gameDate
    let leagues = props.leagues

    // console.log(games, gameDate, leagues)

    const rankChange = (e) => {

      let rank = $(e.target).val()

      universeWebService.setRank(rank)

      let url = `/games?rank=${rank}&gameDate=${dayjs(gameDate).format("YYYY-MM-DD")}&startDate=${universeWebService.getStartDate()}` 
      $f7.views.main.router.navigate(url, { reloadCurrent: true })

    }


    const gameDateChange = async (e) => {
      let url = `/games/?rank=${universeWebService.getRank()}&gameDate=${dayjs($(e.srcElement).val()).format('YYYY-MM-DD')}&startDate=${universeWebService.getStartDate()}`
      $f7.views.main.router.navigate(url, { reloadCurrent: true })
    }



    $on('pageBeforeIn', async (e) => {

        eventTarget.dispatchEvent(new CustomEvent('main-nav', {
            detail: { tabLink: "/games", breadcrumbs:[
                { text: "Home", path: "/"},
                { text: "Scores" }
            ] }
        }))

        universeWebService.setMetadata(
            `Scores for ${dayjs(gameDate).format("YYYY-MM-DD")} - Ethereum Baseball League`, 
            window.location.href, 
            `${env.WEB}/logo.png`, 
            `View scores for ${dayjs(gameDate).format("YYYY-MM-DD")} - Ethereum Baseball League`
        ) 



        await $update()


    })

    $on('pageReinit', async () => {
    })
    
    $on('pageBeforeOut', async () => {

    })

    return $render

  }
</script>


